* { margin:0px; padding:0px; } 
#order_canvas { overflow: auto; } 
li { list-style-type: none; margin: 0; padding: 0; width: 90%; }
li { margin: 0 2px 1px 2px; padding: 2px; font-size: 0.8em; height: 1.1em; }
li { height: 1.2em; line-height: 1.1em; z-index=9; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }
.ui-menu { width: 150px; }
