.firstName {
   		font-style: italic;
	}
.lastName {
	font-weight: bold;
}

.search { border: 1px solid gray; }

body {
    margin: 0;
    padding: 0;

	font-weight: normal;
	font-family:"adelle",Georgia,"Times New Roman",serif;
	color: #5E545C;

    font-size: 14px !important;
    background: white;
	height: 100%;
}
body:after {
    content: "";
    background: url('images/background.jpg');
	background-repeat: repeat-y;
    width: 100%;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.03;
    position: absolute;
    z-index: -1;   
}

#topbar {
    position: absolute;
    margin: 0;
    font-family: Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}

button {
	-webkit-transition: background-color 0.2s linear;
	border-radius:4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	background-color: #E4F2FF;
	background-image: url("http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dijit/themes/claro/form/images/button.png");
	background-position: center top;
	background-repeat: repeat-x;
	border: 1px solid #769DC0;
	padding: 2px 8px 4px;
	font-size:1em;
}

button:hover {
	background-color: #AFD9FF;
	color: #000000;
}

.menudiv ul { 
    font-weight: bold;
	margin: 0px;
	margin-left: 15px;
} 

li { 
	list-style-type: square;
} 

.menudiv li { 
    font-weight: bold;
    height: 17px; 
	list-style-type: square;
} 

.menudiv { 
    font-weight: bold;
	border: 1px solid #aaaaaa;
    font-size: 12px;
	background: #e8e8e8;
	width: 150px;
} 

input { 
    margin: 0px;
    padding: 0px;
    width: 80px;
}

.menu input { 
	width: 140px;
}

.netherlands {
  background-image: url('flag_netherlands.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  text-align: center;
}
.germany {
  background-image: url('flag_germany.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  text-align: center;
}
.england {
  background-image: url('flag_great_britain.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  text-align: center;
}

#tt {
 position:absolute;
 display:block;
 background:url(images/tt_left.gif) bottom left no-repeat;
 }
 #tttop {
 display:block;
 height:5px;
 margin-left:5px;
 background:url(images/tt_top.gif) top right no-repeat;
 overflow:hidden;
 }
 #ttcont {
 display:block;
 padding:2px 12px 3px 7px;
 margin-left:5px;
 background:#666;
 color:#fff;
 }
#ttbot {
display:block;
height:5px;
margin-left:5px;
background:url(images/tt_bottom.gif) top right no-repeat;
overflow:hidden;
}

#header {
    margin: 0;
    padding: 0;
    background: url('images/background.jpg');
    width: 100%;
    height: 71px;
}

#header .container {
    height: 78px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#header ul {
    position: absolute;
    bottom: 7px;
    right: 230px;
    margin: 0;
    padding: 0 0 0 11.55em;
    font-family: Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}
#header ul li {
    height: 20px; 
    list-style: none;
    display: inline;
}

.unselected {
    margin: 0 1px;
    padding: 7px 15px;
    display: block;
    float: left;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5em;
    min-width: 62px;
    text-decoration: none;
    text-align: center;
    letter-spacing: -0.0035em;
	/* blue */
    background-color: #0000A0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(100, 100, 200)), to(rgb(50, 50, 100)));
    background-image: -webkit-linear-gradient(top, rgb(100, 100, 200), rgb(50,50,100));
    background-image: -moz-linear-gradient(top, rgb(100, 100, 200), rgb(50, 50, 100));
    background-image: -o-linear-gradient(top, rgb(100, 100, 200), rgb(50, 50, 100));
    background-image: -ms-linear-gradient(top, rgb(100, 100, 200), rgb(50, 50, 100));
    background-image: linear-gradient(top, rgb(100, 100, 200), rgb(50, 50, 100));
    border-top: 1px solid #1010e0;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-shadow: -1px 2px 0 rgba(0,0,0,.5);
	/* green */
	/*
    background-color: #00A000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 200, 0)), to(rgb(0, 100, 0)));
    background-image: -webkit-linear-gradient(top, rgb(0, 200, 0), rgb(0,100,0));
    background-image: -moz-linear-gradient(top, rgb(0, 200, 0), rgb(0, 100, 0));
    background-image: -o-linear-gradient(top, rgb(0, 200, 0), rgb(0, 100, 0));
    background-image: -ms-linear-gradient(top, rgb(0, 200, 0), rgb(0, 100, 0));
    background-image: linear-gradient(top, rgb(0, 200, 0), rgb(0, 100, 0));
    border-top: 1px solid #10e010;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-shadow: -1px 2px 0 rgba(0,0,0,.5);
	*/
}

.selected {
    margin: 0 1px;
    padding: 7px 15px;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5em;
    min-width: 62px;
    text-decoration: none;
    text-align: center;
    letter-spacing: -0.0035em;
	/* green */
    background-color: #AED55B;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 200, 0)), to(rgb(0, 100, 0)));
    background-image: -webkit-linear-gradient(top, rgb(0, 200, 0), rgb(0,100,0));
    background-image: -moz-linear-gradient(top, rgb(0, 200, 0), rgb(0, 100, 0));
    background-image: -o-linear-gradient(top, rgb(0, 200, 0), rgb(0, 100, 0));
    background-image: -ms-linear-gradient(top, rgb(0, 200, 0), rgb(0, 100, 0));
    background-image: linear-gradient(top, rgb(0, 200, 0), rgb(0, 100, 0));
    border-top: 1px solid #10e010;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #FFF;
    color: #656565;
    text-shadow: none;
    border-color: #FFF;

}

.menudiv a:link {color:#6666CC; text-decoration:none;}      /* unvisited link */
.menudiv a:visited {color:#6666CC; text-decoration:none;}  /* visited link */
.menudiv a:hover { text-decoration:underline; }  /* mouse over link */
.menudiv a:active {color:#6666CC; text-decoration:none;}  /* selected link */

#header .home a {
    min-width: 15px;
    width: 15px;
    padding-bottom: 6px;
}

.dj_ie7 #header li {
    height: 21px; /* Get IE 7 to display the nav tabs correctly */
}

#header li.active {
    font-weight: bold;
    border-bottom: 3px solid #0099CC;
}


.homeIcon {
    display: inline-block;
    width: 16px;
    height: 15px;
}

#header ul .homeIcon,
.homePage #header ul .homeIcon {
    background: url(/web/images/homeIcon.png) no-repeat 0 -15px;
}

#header ul .homeIcon { background-position: 0 0 }

#header #logo {
    display: inline-block;
    position: absolute;
    top: -23px;
    margin: 0;
}
#header #logo a {
    color: #fff;
    text-decoration: none;
    padding-top: 1em;
    display: block;
}
#header #logo a img {
    padding: 0;
	height:150px;
    border: medium none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    clear: both;
}

#main h1,
body h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 18px 0;
    clear: none;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 120%;
    margin: 33px 0 10px;
    color: #711E12;
}


h2 em {
    color: #333;
    font-style: normal;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    color: #033876;
    margin: 10px 0 10px 0;
}

h4 {
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    color: #033876;
    margin: 20px 0 4px 0;
}

h5 {
    font-size: 12px;
    font-weight: bold;
    line-height: 120%;
    color: #033876;
    margin: 20px 0 4px 0;
}

p, ol, ul, dl {
    line-height: 125%;
    margin: 0 0 12px;
}

ol, ul {
    margin: 0 0 12px 20px;
    padding: 0px;
    -moz-padding-start: 0px;
}

ol {
    list-style-type: decimal;
    list-style-position: outside;
}

ul {
    list-style-type: disc;
    list-style-position: outside;
}


dl {
    margin: 0 0 12px 0;
}
dl dt {
    font-weight: bold;
}
dl dd {
    margin: 0 0 0 40px;
    padding: 0px;
    -moz-padding-start: 0px;
}

pre, code {
    font-family: "Lucida Grande", "Lucida Sans", Geneva, verdana, san-serif;
}
pre {
    margin: 12px 0;
    padding: 6px 9px 7px;
    font-size: 11px;
    border: 1px solid #CCCCCC;
    background: #FFFFEB;
    color: #555;
}

code {
    font-family:"courier" !important;
}
.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.c1 { color: #408080; font-style: italic } /* Comment.Single */
.cs { color: #408080; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.il { color: #666666 } /* Literal.Number.Integer.Long */
