* { margin:0; padding:0; font-size: 10px; } 
li { list-style-type: none; margin: 0; padding: 0; width: 90%; }
li { margin: 0 2px 1px 2px; padding: 2px; font-size: 0.8em; height: 1.1em; }
li { height: 1.2em; line-height: 1.1em; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }
