<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
<script language="javascript">
function goBack()
{
    window.history.back()
}
</script>
        <meta charset="utf-8">
        <title>
             Index list 
        </title>
</head>
