Navigate:
<div class="menudiv">
    <ul>
    <li><a href="/doc/">top</a>
    <li><a href='javascript:window.history.back()'>up</a>
    </ul>
</div>
Site search:
<div class="menudiv">
    <form action="" method="get">
    <input class="search" name="search" style="margin:2px; width:144px;"/>
    <input type="submit" value="Search" style="margin:2px; width:146px;"/>
    </form>
</div>

