<div id="page" class="main">
    <div id="header">
         <div id="container" class="container">
              <span id="logo"><a href="http://klopt.org/web" title="Home"><img src="/static/images/aguafinaorg.png" alt="Klopt" /></a></span>
         </div>
    </div>
<div id="main" style="position:absolute; top:100px; left:2px; width: 100%; height: 80%;">
