# Android

android studio is the new version of android sdk, nice.

BIG problem however is the fact that ubuntu keeps complaining about not being able to connect usr/mtp device when you connect the android by USB. CONSTANTLY and with a FUCKING POPUP .!!!

I got it down now, and i presume y last change did the trick, and that was :

    sudo apt-get install mptfs jmptfs

Most probably the first one will help, but i did them together.

<h2>installation </h2>

Download the SDK from http://developer.android.com/sdk/index.html

I will concentrate on commandline installation, since eclipse is explained quite ok on that site.

Unzip the SDK : 

<pre>
 tar -zxvf /home/kees/Downloads/android-sdk_r13-linux_x86.tgz 
</pre>

This is only part of the needed files, use tools/android to download particular versions or to download all :

<pre>
 android update sdk
</pre>

Though it just starts up the user interface dialog, so what's the difference ;)
Installing all will take LOOONGGG !!

<h2>alternative </h2>

download the toolchain from : https://sourcery.mentor.com/sgpp/portal/subscription?@template=lite&lite=power

Or a 64 bit version from :http://gnuarm.com/

'''note : this requires rooting the phone, and as long as that is not needed, i stick with the SDK'''

<h2>installing phone/usb device </h2>

<a href="http://developer.android.com/guide/developing/device.html">source</a>

This is done by adding a rule to the udev rules containing the type of device you are using.
Create a file like this : a complete example for HTC sense :

<pre>
 echo 'SUBSYSTEM=="usb", ATTRS{idVendor}=="0bb4", MODE="0666", GROUP="plugdev"' > /etc/udev/rules.d/51-android.rules
</pre>

My newer samsung galaxy s3 would be :

<pre>
SUBSYSTEM=="usb", ATTRS{idVendor}=="04e8", MODE="0666", GROUP="plugdev"
</pre>

But of course you probably need another vendor id, get it from this list : 
http://developer.android.com/guide/developing/device.html#VendorIds, also change the mode :

<pre>
 chmod a+r /etc/udev/rules.d/51-android.rules
</pre>

<h3> listing your devices </h3> 

<pre>
 adb devices
</pre>

results in something like

<pre>
 List of devices attached 
 HT11DRT00547    device
</pre>

Try unplugging / replugging your device to see the diffrence.
If you still get a line like :

<pre>
 List of devices attached 
 ????????????    no permissions
</pre>

Try to do this as root: 

<pre>
 sudo killall adb
 sudo adb devices
</pre>

This helped with me sometimes, the adb server is started as root which probably made the difference.
On my current installation, '''i have to do this twice'''

So : 
  
<pre>
 sudo killall adb
 sudo adb devices 
 sudo killall adb
 sudo adb devices
</pre>

Only the second time it will say 

<pre>
* daemon not running. starting it now on port 5037 *
* daemon started successfully *

List of devices attached 
HT11DRT00547    device
</pre>

<h4>mounting sd card</h4>

To get acces to your sdcard you need to use MTP, which is not installed by default on debian. 

    apt-get install mtp-tools


<h4>debug</h4>

Debugging in the emulator is probably easier, but i needed tilting etc and  so i needed to debug the device itself. 

For that you need to do :

<pre>
import android.util.Log;
import android.os.Debug;
</pre>

In the code use one of the Log functions, (.d debug, .i info etc)
I choose for debug because that is the most silent one (though still not very)  in the debug monitor $SDK/tools/monitor.

<pre>
Log.d("Name it something", "and put your debug message here");
</pre>

As said before, the monitor will show these in the logcat window. But you could also do it manually with adb :

<pre>
adb -d logcat &gt; dump
ctrl-c
</pre>

Since the log keeps coming, you will have to kill it with ctrl-c to read th efile. Or you just do :

<pre>
adb -d logcat
</pre>

But as mentioned, it is too verbose to see your message for a long time. So yet another way would be to choose a longer message header : 

<pre>
Log.d("MyOwnMessage", message);
</pre>

And logcat like this : 
<pre>
adb -d logcat | grep MyOwnMessage
</pre>

<h4> problems </h4>

I had some trouble geting the device to appear properly, as a tip : it seems usb debugging should be 'on' and the connection can be 'charge only'

<h3> rooting samsung galaxy s3 mini (I8190) </h3>

I needed the HOME_I8190XXAMD3_I8190OXAAMD3_ROOTED.tar.md5 file, which is android version 4.1.2. The only one that did actually work.

<pre>
 base on - XXAMD3.
 PDA - I8190XXAMD3
 PHONE- I8190XXMB3
 CSC- I8190OXAAMD3
 Android version: Jelly Bean 4.12
</pre>

Older versions and probably recognizable file names :

<pre>
 XXAMB3.
 PDA - I8190XXAMB3
 PHONE- I8190XXAMB3
 CSC- I8190OXAAMB3
 Android version: Jelly Bean 4.12
 https://mega.co.nz/#!XN0AkYpA!N-NVF2...ClfFJtfCw6x9KU
</pre>

<pre>
 XXALL2.
 PDA - I8190XXALL2
 PHONE- I8190XXALL2
 CSC- I8190OXXALL1
 Android version: 4.11
 https://sourceforge.net/projects/avi...h.zip/download
</pre>

<pre>
 XXALK6.
 PDA - I8190XXALK6
 PHONE- I8190XXALK6
 CSC- I8190XEFALK1
 Android version: 4.11
 https://sourceforge.net/projects/avi...h.zip/download
</pre>

I use heimdall to flash the device, heimdall does not do everything automatically like odin, but here is a script that might help.
Please note that i got the device numbers with :

<pre>
 adt reboot download
 heimdall print-pit
</pre>

Match all the given filenames with the id's that are printed in that output and check if the id's are the same or change them accordingly
The script that worked for me was :

<pre>
 #!/bin/bash
 #heimdall flash --3 STE_boot1.img --4 STE_boot2.img --14 modem.bin --18 boot.img --19 recovery.img --20 system.img --21 cache.img --22 hidden.img
 heimdall flash --3 STE_boot1.img --4 STE_boot2.img --14 modem.bin --18 boot.img --20 system.img --21 cache.img --22 hidden.img
</pre>

I commented out the recovery.img because some sites did not include it, and it seems to work.

<h3> rooting HTC vision </h3>


<h4> may 2013 </h4>

You need s-off for this, s-off is particular for HTC devices and it means that the NAND portion of the device is unlocked and can be written to. Does it means security-off ? i don't care it's easy to remember like that !

To check, boot your phone into [[hboot]] and it is shown. 


<h4> older version </h4> 

Or desire-Z. I needed this to get it working without sd card (connector broken off). The process is roughly :

* Get temporary root to put files into the device
* Get permanent root so it won't be undone at the next reboot.
* Mount /sdcard onto the main memory

<h4> psneuter </h4>

<a href="http://allencch.wordpress.com/2012/03/14/rooting-android-manually/">source</a>

This program is used to get temporary root, get psneuter from https://github.com/tmzt/g2root-kmod/tree/master/scotty2/psneuter and copy it to a writabel part of the phone using adb :

<pre>
 adb push psneuter /data/local/tmp
</pre>

Then login with a shell 

<pre>
 adb -d shell
</pre>

And go to /data/local/tmp and execute psneuter : 

<pre>
 $ /data/loval/tmp/psneuter
</pre>

You will be disconnected because the adb server is restarting. Give it some time to start up and then retry logging in:

<pre>
 adb -d shell

 # 
</pre>

You will see you get the root prompt, instead of the normal promt. You now have root access until the next reboot.

<h4> mounting fake sdcard </h4> 

I needed this to get android working with a broken sd slot. So you probably can skip this step with a working sdcard.
I retrace here the steps that worked, so they may contain unnecessary steps, like the extra 'su' halfway. But better be too verbose than skip a step.

* first get temporary root as described above
* download the files for rooting the phone (see next chapter) from here http://wiki.rootzwiki.com/HTC_Vision
* unzip the files to a directory called root_files, and push them to wriotable phone memory useing adb

<pre>
 mkdir root_files
 mv root_files.zip root_files
 cd root_files
 unzip
 adb push root_files /data/local/tmp/root_files
</pre>

* log in to the phone and go to the created directory and become superuser (needed ?)

<pre>
 adb -d shell
 cd /data/local/tmp/root_files
 ./su
</pre>

* you can use busybox for a number of commands that are not present in the adb shell, type ./busybox to see which (vi is there ;) Now perform these steps, of which again i don't know if all are needed, especially the ones giving errors :

<pre>
 umount /sdcard
 mount -o rw,remount / /
 umount /sdcard
 rm /sdcard
 mkdir /data/local/tmp/fakesd
 ln -s /data/local/tmp/fakesd /sdcard
</pre>

<h4> permanent root </h4>

<h3> browsing the device </h3> 

To acccess your (only) usb device use the -d option so :

<pre>
 adb -d shell
</pre>

<h2>demos </h2>

The android sdk comes with a number of demo's. Here is a guide on how to compile and run (one of) them :

<pre>
 cd ~/Install/android/android-sdk-linux_x86/samples/android-13/AccelerometerPlay
 android update project -s -n "Accelerometer play" -t 9 -p /home/kees/Install/android-sdk-linux_x86/samples/android-13/AccelerometerPlay/
 ant
 ant release
</pre>

That's compiling, you need t do the signing steps (read below) as well to put it on your devices.
So something like :

<pre>
echo "key.store=/home/kees/personal.keystore" >> build.properties
echo "key.alias=androidkey" >> build.properties
ant release
adb install bin/xxx-relase.apk
</pre>

<h2>programming </h2>

A simple sample :

<h3> create a project </h3> 

A first step : list the targets, you will need one in the 'create project' command.

<pre>
 android list targets
</pre>

I installed all targets, giving a big list so i will just show the last entry :

<pre>
 id: 9 or "android-13"
     Name: Android 3.2
     Type: Platform
     API level: 13
     Revision: 1
</pre>

The id will be enough so :

<pre>
 android create project --target 9 --name hello --path path --activity activity --package my.package
</pre>

I gave all parameters a verbose value so you can distinguish what means what :

<pre>
Created project directory: path
Created directory /home/kees/projects/android/path/src/my/package
Added file path/src/my/package/activity.java
Created directory /home/kees/projects/android/path/res
Created directory /home/kees/projects/android/path/bin
Created directory /home/kees/projects/android/path/libs
Created directory /home/kees/projects/android/path/res/values
Added file path/res/values/strings.xml
Created directory /home/kees/projects/android/path/res/layout
Added file path/res/layout/main.xml
Created directory /home/kees/projects/android/path/res/drawable-hdpi
Created directory /home/kees/projects/android/path/res/drawable-mdpi
Created directory /home/kees/projects/android/path/res/drawable-ldpi
Added file path/AndroidManifest.xml
Added file path/build.xml
Added file path/proguard.cfg
</pre>

So :

* target has been covered
* path is obvious
* name is the name of the project, yo will find it in build.xml : <project name="hello" default="help">
* activity is the name of you app, what it will do, you main class will be activity.java in this case.
* the package name, it will be put in Manifest.xml and your java source files : package my.package;

<h3> signing your apps </h3>

This section comes from : http://developer.android.com/guide/publishing/app-signing.html

<h4> create your key </h4> 

You need this to run the apps on your phone, and since the emulator is '''incredibly slow''' i end up testing everything on the phone device.
So here's how to do that.

First you need to make yourself a key, it is your identification as a developer, and you can reuse it so make it last (set a very late expiration date, 10000 days in this case). 

<pre>
 keytool -genkey -v -keystore ~/personal.keystore -alias androidkey -keyalg RSA -keysize 2048 -validity 10000
</pre>

One note: choose a separate password, not one of your own, since the build process asks for the passwords and prints it in plain view.
The keystore should now be created in ~, and it should contain a key for android development.

<h4> compiling and signing </h4> 

First point the build process to the right keystore/key, add these lines to build.properties in your project

<pre>
 key.store=/home/kees/personal.keystore
 key.alias=androidkey
</pre>

The key.store must be a full path unless you put it relative to the build directory. You can't use ~/personal.keystore , it will try to read 

<pre>
 /home/kees/projects/android/testapp/~/personal.keystore
</pre>

Now run 

<pre>
 ant release
</pre>

Watch the output it does all steps for you : (jar)signing the .apk, aligning etc. Just watch for errors.
If everything is ok it will say :

<pre>
  [echo] Running zip align on final apk...
  [echo] Release Package: /home/kees/projects/android/testapp/bin/hello-release.apk
  BUILD SUCCESSFUL
</pre>

So that's the .apk you can put on the phone with :

<pre>
 adb install /home/kees/projects/android/testapp/bin/hello-release.apk
</pre>

Now sadly when you wasnt te replace this with the same command you will get :

<pre>
 303 KB/s (13729 bytes in 0.044s)
        pkg: /data/local/tmp/hello-release.apk
 Failure [INSTALL_FAILED_ALREADY_EXISTS]
</pre>

You can remove the application on the phone, (in setting->applications->manage....)
But faster is the command :

<pre>
 adb uninstall my.testapp
</pre>

In this command you need the package name, see the AndroidManifest.xml file to find what that is (see package=xxxxx)

Note: first of all this API does not work in the emulator that comes with  

<h3> alternate emulator </h3> 

The emulator is sssssssssssllllllllllllllllllllooooooooowwwwwwwwwwwwwwwwwwwwwwwwwwwwwww !!!!!!!!!!!!!!!!!!
Forget that thing, you will get heart problems . Maybe.. you can try <a href="http://software.intel.com/en-us/android/articles/speeding-up-the-android-emulator-on-intel-architecture">this</a>. It DID speed it up quite a lot. Otherwise:

i've got 2 solutions at this time : buildroid and android-x86, the first seems the easiest, particularly on the wifi front.

<h4> buildroid </h4>

see http://ma.juii.net/blog/android-x86-4-on-virtualbox

Download the image and '''import it as ova''', you will now have an extra option for network adapters : wifi.

On the download page you have choices ending in (p)hone, and (t)ablet (or both). You need a (p) for google apps (map) so choose p or tp, not t.
So this version is probably the best.

 vbox86p version with gapps & houdini & flash

Because the other ones did not have wifi support.

<h4> android-x86 </h4>

An alternative is andoid-x86 which can be run from a usb-stick or in virtualbox.
Download an iso image from 

http://www.android-x86.org/download

i took the generic iso. Add it as a new virtual media cd/dvd image and create a new vm.
I did an 'other linux' which worked fine.

Install the image and be sure to '''disable integrated mouse support''' (nowadays : system->disable  absolute pointing device) and '''set the network to bridging'''.
Then after starting the VM, hit ALT-F1 to get a command prompt, and type :

<pre>
 netcfg
</pre>

You will get the ip-address of the device (mine was 172.16.1.38)
Now run this command to connect the device to the adb server :

<pre>
 adb connect 172.16.1.38:5555
</pre>

Now when you run adb devices you get :

<pre>
 List of devices attached 
 HT11DRT00547    device
 172.16.1.38:5555        device
</pre>

Great. But of course i now have a real device and an emulator so either disconnect the usb from the phone or use the -e flag :

<pre>
 adb -e install bin/Dice-release.apk
</pre>

<h4> better resolution </h4>

Standard install will give you the wrong resultion (for htc desire that is) but more important, the wrong orientation.

This will help adding a new resolution to the vbox machine

<pre>
 vboxmanage setextradata "android" "CustomVideoMode1" "480x800x16"
</pre>

After that you can choose for the resultion given if you add vga=ask to the command line.
That's a bit tricky though, because you have to remount :

<pre>
 mkdir /data/fs
 mount -t ext3 /dev/block/sda1 /data/fs
 vi /data/fs/grub/menu.lst
</pre>

and add the option (or a new grub line).
Once you did that, boot into the option you created and you can choose the added option.
Better yet, remember the number and change the vga=ask to that number.
It uis in hexadecimal so prepend it wit 0x. In my case it was 360, so i added 

<pre>
 vga=0x360
</pre>

And now it will boot into that resolution without asking.


<h4> key and mouse bindings </h4> 

<pre>
 ALT-F1 is console
 Hit ALT-F7 to go back to the graphical interface.
 left-mouse click is selection
 return is selection
 right-mouse click is back 
 escape is back
 cursor keys do navigation up/down/left/right
</pre>


When i get more bindings i will note them here

<h2>google maps API for android </h2>

I finally decided to try eclipse for once, and my hate for it still grows and grows.
An way i downloaded a version of eclipse that has android support bundled in, available here http://developer.android.com/sdk/installing/bundle.html

A tutorial : http://www.vogella.com/articles/Android/article.html

I followed a quick start guide available here : https://docs.google.com/a/klopt.org/document/pub?id=19nQzvKP-CVLd7_VrpwnHfl-AE9fjbJySowONZZtNHzw
(also noticed my own name in the url so it seems to be available in every google dev installation ?)

However avoid this pitfall when creating keys, '''do not choose/enable google maps API V2, there is a specific maps API for android there !!!'''
I also enabled "Google Play Android Developer API", since that is very probably needed as well.

<h3>medio april 2014</h3>

Mainly to get rid of problems regarding the        

	android:value="@integer/google_play_services_version"

Setting, if it cannot be resolved or give and error you did not install the library correct :

<ol>
<li>First install the google play services, and while you are at it also install the Google API platforms you are going to use, so arm for your phone and X86 for the emulators.
<li>Copy the play services library to you 'workspace' if not using eclipse that could be your projects directory or something, but place it 'besides' the project you want to use google maps in, so :
<li>cp -r ~/Desktop/adt-bundle-linux-x86_64-20140321/sdk/extras/google/google_play_services/libproject/google-play-services_lib ../
<li>choose your target : android list targets
<li>update the copied library itself : android update projects --target 2
<li>android update project --target 2 --path . --library ../google-play-services_lib
<li>ant clean; ant debug
</ol>

<h2>building navit for android </h2>

See this guide http://wiki.navit-project.org/index.php/Android_development.
The short version of that page : 

Preliminaries, sorry if i miss any, i had already installed a bunch.

<pre>
 apt-get install cmake openjdk-6-jdk ant1.8
</pre>

Get the sources.

<pre>
 cd ~/src
 svn co https://navit.svn.sourceforge.net/svnroot/navit/trunk/navit navit-svn
</pre>

The Native code development kit and software development kit : 
 
<pre>
 wget http://dl.google.com/android/ndk/android-ndk-r8-linux-x86.tar.bz2
 wget http://dl.google.com/android/android-sdk_r18-linux.tgz
 tar jxvf android-ndk-r8-linux-x86.tar.bz2
 tar jxvf android-sdk_r18-linux.tgz
</pre>

Set environment variables (something similiar to :) 
 
<pre>
 export ANDROID_NDK=~/src/android-ndk-r6b
 export ANDROID_SDK=~/src/android-sdk-linux
 export PATH=$PATH:$ANDROID_NDK/toolchains/arm-linux-androideabi-4.4.3/prebuilt/linux- x86/bin:$ANDROID_SDK/tools:$ANDROID_SDK/platform-tools
</pre>

Now create a source directory and enter it :

<pre>
 mkdir ~/src/building
 cd building
</pre>

Set this environment variable to the checked out source : 

<pre>
 export SOURCE_PATH=~/projects/kiwimedia/navit-svn
 cmake
</pre>

# troublehsooting

<h2>release version apk keeps asking for debugger to attach</h2>

Step 1 .. developer options -> disable "wait for debugger"
But otherwise ...
It's simple.. we restart the phone !
