# introduction  

   Another Neat Tool, did not know that by the way.                                                                                                                 
## Quick start.

Want to get a java project started quickly ? :

    :::xml
    <?xml version="1.0"?>
        <project name="fax" basedir="." default="build">
           <property name="src.dir" value="src"/>
           <property name="build.dir" value="."/>
           <property name="name" value="project"/>

           <target name="build" description="Compile source tree java files">
              <mkdir dir="${build.dir}"/>
              <javac destdir="${build.dir}" includeantruntime='false'>
                 <src path="${src.dir}"/>
              </javac>
           </target>

           <target name="clean" description="Clean output directories">
              <delete>
                 <fileset dir="${build.dir}">
                    <include name="**/*.class"/>
                 </fileset>
              </delete>
           </target>
        </project>


This will just compile anything in the src directory, and setting the build directory to . Means you can run it from there if you match the package name : 

For instance no package name results in ./File.class, so this will run :

    java ./File

package some.other; results in ./some/other/File.class and so this will run :

    java some.other.File 

Also, this gives you the opportunitie to just <TAB> complete the class for running.

And if you want to know : the includeantruntime is there to get rid of an annoying warning : 

    [javac] /bigsafe/kees/projects/finance/transactions/build.xml:9: warning: 'includeantruntime' was not set, defaulting to build.sysclasspath=last; set to false for repeatable builds

From the apache documentation : 

    Whether to include the Ant run-time libraries in the classpath; defaults to yes, unless build.sysclasspath is set. It is usually best to set this to false so the script's behavior is not sensitive to the environment in which it is run.

So, as many advise on the interwebz... just add that option and forget it ever happened.

## just a target                                                                                                                                                     
    :::xml
    <?xml version="1.0"?>
        <project name="Analyze project" default="Analyze">
        <target name="Analyze">
            <echo>Just say hello !</echo>
        </target>
    </project>
    
Very simple one, if you run :

    ant

You get :

<pre>
Analyze:
    [echo] Just say hello !
    
BUILD SUCCESSFUL
Total time: 0 seconds
</pre>

Because the default target is "Analyze" it will do the same as :

    ant Analyze

### some handy variables : 

    :::xml
    <?xml version="1.0"?>
        <project name="Analyze project" default="Analyze">
        <target name="Analyze">
            <echo>Just say hello !</echo>
            <echo>Apache Ant version is ${ant.version} - You are at ${sitename} </echo>
        </target>
    </project>

Would produce something like : 

    Analyze:
        [echo] Just say hello !
        [echo] Apache Ant version is Apache Ant(TM) version 1.9.4 compiled on April 29 2014 - You are at ${sitename} 

### build.properties

To keep some settings out of the build.xml file, but still be able to use them, use build.properties :

    # My variables 
    sitename=klopt.org
    buildversion=3.3.2

    :::xml
    <?xml version="1.0"?>
        <project name="Analyze project" default="Analyze">
        <target name="Analyze">
            <echo>Just say hello !</echo>
            <echo>Apache Ant version is ${ant.version} - You are at ${sitename} </echo>
        </target>
    </project>

And simply use them in the ant file after including the file : 

    :::xml
    <?xml version="1.0"?>
        <project name="Analyze project" default="Analyze">
        <property file="build.properties"/>
     
            <target name="Analyze">
                <echo>Just say hello !</echo>
                <echo>Apache Ant version is ${ant.version} - You are at ${sitename} </echo>
            </target>
        </project>


    Analyze:
        [echo] Just say hello !
        [echo] Apache Ant version is Apache Ant(TM) version 1.9.4 compiled on April 29 2014 - You are at klopt.org 

## data types

All datatypes in ant are : 

* Description type : Describes a project
* PatternSet : Groups of patterns
* DirSet : Groups of directories
* FileSet : Groups of files
* FileList : Explicit list of files
* FileMapper : Translates filenames
* FilterReader : Custom class that filters out files
* FilterChain : Series of FilterReaders to further filter files
* FilterSet : Groups of filters
* Selectors : Provides more control over file selection
* Class FileSet : A FileSet for class files
* Path-like structures : A data type resembling a file system path
* XMLCatalog : Catalog of public XML resources

## pattern set


## file set

Filesets represent just that, it can us include and exclude patterns : 

    <fileset dir="${src}" casesensitive="yes">
        <include name="**/*.java"/>
        <exclude name="**/*Stub*"/>
    </fileset>

    
## A java project

For other languages than java i would not recommend ant, use scons or make for C, etc. 
But since it mixes well with eclipse/tomcat and java language, ant is a good choice for java.
