<h1>asterisk</h1>

This is only a start page, please put more of the wiki documentation here.

And for now my phylosophy is : do NOT use a gui, and stay with version 1.8(.13.1) the one distributed with debian. It uses the old style config and cli commands, if debian comes up with a new version it's bound to come with migration scripts for 1.8. 
Also GUI's tend to monopolize the config scripts and you cannot mix command line and gui !!

See the next guide for a simpke setup with a SIP provider.

<h2>Cheapconnect example</h2>

This is realy a cheap solution, i think for the price of hardware alone you will be able to dial for years. 

This is all based upon :  <a href="http://www.asterisk.org/sites/asterisk/files/mce_files/documents/asterisk_quick_start_guide.pdf">this guide</a>.
The main files you need are just 3/4, see next chapters. I put these in the subversion treeu like this : 

    sudo mv -r /etc/asterisk ~/projects/klop
    ln -s ~/projects/klopt/asterisk /etc
    chown -R kees.kees ~/projects/klopt/asterisk
    chmod -R 775 ~/projects/klopt/asterisk
    cd ~/projects/klopt
    svn add asterisk
    sv ci 

This seems to do the trick, next will be an explanation of each file :

<h3>modules.conf</h3>

The original was moved to modules.conf.sample, and this is the minimal new version :

    [modules]
    autoload=no
    load=pbx_config.so
    load=chan_sip.so
    load=chan_iax2.so
    load=res_rtp_asterisk.so
    load=app_hangup.so
    load=app_dial.so
    load=codec_ulaw.so
    load=codec_gsm.so

Not much to say here, just only add the wanted modules.

<h3>extensions.conf</h3>

<pre>
[incoming_calls]
exten => _X.,1,Dial(SIP/666)

[outgoing_calls]
exten => _X.,1,NoOp()
exten => _X.,n,Dial(SIP/cheapconnect/${EXTEN})

[phones]
include => outgoing_calls
</pre>

This assumes your sip phone is registered as SIP/666 (see sip.conf). Also this setup is cheapconnect specific, but it will undoubtebly have overlap with other providers. 

For 

<h2>asterisk gui</h2>

The asterisk gui took some time to get running, here are some problems.

First the guis just does not work after installation, I opnly got it to work by also installing the latest asterisk version. So it is probably advised to match both asterisk and asterisk-gui by approximately the same date.

Then the web interface did not show up. That seemed to be 2 problems. 
The url they specify is :

<a href="http://localhost:8088/static/config/index.html"> http://localhost:8088/static/config/index.html</a>

But that is just not able to find the files need, just copy the config directory completely to :

<pre>
cp -r /home/kees/Install/2.0/config /usr/share/asterisk/static-http
chown -R asterisk.asterisk /usr/share/asterisk/static-http/config
</pre>

Follow the instructions in the asterisk-gui docs about adding your admin user.

Now this will probably work if you start asterisk as root, but not as asterisk.
The script /etc/init.d/asterisk starts asterisk as :

<pre>
asterisk -p -U asterisk
</pre>

So we need it to work as user asterisk. After debugging i found an error that only appears when run as asterisk :

<pre>
Parsing '/etc/asterisk/manager.conf': == Found
[Nov 14 11:20:43] ERROR[7751]: config.c:1290 process_text_line: The file 'manager.d/*.conf' was listed as a #include but it does not exist.
[Nov 14 11:20:43] NOTICE[7751]: manager.c 6866 __init_manager: Unable to open AMI configuration manager.conf, or configuration is invalid. Asterisk management interface (AMI) disabled.
</pre>

Weirdly enough it DOES exist but only has a REAME.conf in it.
So the obvious solution is to remove that line in manager.conf (comment it by putting a semi-colon in front of it. Worked for me.

<h3>problem starting sflphone</h3>

When starting sflphone on my laptop it gave a crash and the error ended in:

<pre>
(sflphone:19479): GLib-GObject-WARNING **: can't peek value table for type `<invalid>' which is not currently referenced
Segmentation fault
</pre>

Turns out it was the gtk3-engines-unico, deinstall it and all packages relying on it. It will start after that.

<h4>asterisk - isdn-phone</h4>

This setup is diagnostix running asterisk connected to the isdn-phone. Connect the NT1 to main power and put a straight cable to the con nnector box, also put a straight cable from the phone to the box. Finally connect the linux HFC card to the box with a crosscable.

The isdn-phone should show power as soon as you connected both ths NT1 and the phone, because power goes over the isdn-cable.

Startup asterisk with a lot of v's and these settings in :

/etc/zaptel.conf:

<pre>
 span=1,1,3,ccs,ami
 bchan=1-2
 dchan=3
</pre>

/etc/asterisk/zapata.conf

<pre>
switchtype = euroisdn
signalling = bri_net_ptmp

immediate=yes
group = 1
context=demo
channel =&gt; 1-2
</pre>

Start the drivers in NT mode by running :

<pre>
 cd /usr/src/bri-stuff.0.0.2/zaphfc
 make loadNT
</pre>

In my setup, picking up the isdn-phone showed action in asterisk, though it was missing the welcome files in the demo section. Pushing some digits eventually leads to a playback file that was available (invalid extension). This file could be heard through the isdn phone indicating that we have calling capability and sound over the 'bus'.

