Astium is a gui on top of asterisk, the main website fior installation can be found here : http://www2.oneip.nl/telefonie-oplossingen/ip-telefooncentrale/astium-downloaden-en-installeren

However, there are a number of problems with that page, mainly that it is outdated. Actually oneip is not even called that anymore, but it's volcarion now. Maybe volclarion has a better install page but i could not find it.

# installation

I will run you fast forward to what you encounter when you follow the link presented. 

<ol>
<li>Download and install the centos version from the link given.
<li>If you do it on virtualbox, ... fail to get the guest Additions running. Go on with a horrible resolution.
<li>Download the install file and find out it needs a 64 bits system (while expliciltly instructed to download 32 bits
<li>Download and install centos 5 64 bits.Also no working guest Additions. 
<li>Installer now still fails to work since it seems to be meant for centos 6 (NOT 7!).
<li>Ok, you could browse the directoiries on yum.astium.nl and find an older installer, this will actually work but leaves you with an older astium version.
<li>So download and install centos 6.5, and find out the installer runs...
<li>... but fails in the end because centso 6.5 has a newer kernel than the procompiled packages astoum delivers uses. 
<li>Get the exact kernel that the erropr message complains about and install that.
<li>Reboot and try again. For me.. success.
</ol>

Or the short version. 
