<h1>Audio video</h1>

<h2><a id="mplayer">Mplayer</a></h2>

A great player, for now i have no issues to report.

<h2><a id="mencoder">MEncoder</a></h2>

Here is a list if formats that i got working (or not) on my philips dvd player.
Well.... list....

<h3>Not playing</h3>

<pre>
VIDEO:  [H264]  1920x800  24bpp  23.976 fps  1840.8 kbps (224.7 kbyte/s)
</pre>

<h3>Working</h3>

<pre>
VIDEO:  [XVID]  624x336  24bpp  25.000 fps  300.4 kbps (36.7 kbyte/s)
</pre>

<h3>Conversion</h3>

<h4>convert frames per second</h4>

<pre>
 mencoder Jonah.Hex.2010.1080p.BrRip.x264.YIFY.mp4 -mf fps=25 -o 25.avi -oac pcm -ovc lavc
</pre>

<h4>convert scale</h4>

<pre>
 mencoder Jonah.Hex.2010.1080p.BrRip.x264.YIFY.mp4 -o scale.avi -oac pcm -ovc lavc -vf scale=624:336
</pre>

I had a problem with resolutions 810x400 (or something like that) so stick to a more standard one.
A working script at this point that also removes internal (english) subtitles is :

<pre>
# remove conflicting files
rm -f divx2pass.log frameno.avi

# rip audio track (bitrate: 128, gain: 0)
nice -n 3 mencoder -sid 42 -oac mp3lame -lameopts mode=2:cbr:br=128:vol=0 \
 -ovc frameno -o frameno.avi  input.mp4

# video track (pass: 1, bitrate: 25)
nice -n 3 mencoder -sid 42 -sws 2 -oac mp3lame -ovc lavc \
 -lavcopts vcodec=mpeg4:vhq:vpass=1 \
 -ffourcc XVID -vf scale=720:480  input.mp4 -o /dev/null

# video track (pass: 2, bitrate: 25)
nice -n 3 mencoder -sid 42 -sws 2 -oac mp3lame -ovc lavc \
 -lavcopts vcodec=mpeg4:vhq:vpass=2 \
 -ffourcc XVID -vf scale=720:480  input.mp4 -o "movie.avi"

# done
</pre>

Very rude right now, you need to name your input file input.mp4 and it produces "movie.avi"
I will make it take arguments later on .

<h2><a id="vlc">Videolan VLC</a></h2>

vlc has an option to save youtube video to disk:

<pre>
media-&gt;"convert/Save"-&gt;network
</pre>

Past the url from your browser and clikc convert, then fill in the name you want to give to the file.
However it might not work on newer linux versions. See next chapter.

<h3>[0xf2e138] lua demux error: Couldn't extract youtube video URL, please check for</h3>

This occured on the new linux debian 7.0 installation of vlc, this webpage 
<a href="http://askubuntu.com/questions/197739/vlc-youtube-videos-wont-play-anymore">http://askubuntu.com/questions/197739/vlc-youtube-videos-wont-play-anymore</a> says it's due to an older script.

So in short, this worked for me : 

<pre>
su
apt-get install curl
cd /usr/lib/vlc/lua/playlist
rm youtube.*
curl "http://git.videolan.org/?p=vlc.git;a=blob_plain;f=share/lua/playlist/youtube.lua;hb=HEAD" -o /usr/lib/vlc/lua/playlist/youtube.lua
</pre>


<h3>mplayer no /dev/dsp</h3>

This was at adyen, where i could loally install mplayer but not play anything because there was no "/dev/dsp". Vlc is definitaly not a solution because i want co,mmand line, and that cannot skip forward !!

A simple solution : use the pulseaudio OSS wrapper, padsp

    padsp mplayer */* 

Works the same as before ;)

<h3>mplayer overread errors</h3>

mplayer keeps displaying lines like this :


[mp3float * 0x10829d3c0]overread, skip -6 enddists: -5 -5
...

This is probably caused by mplayer using another decoder than the track was encoded with. Use -ac (mp3) to get rid of these messages.

    mplayer -ac mp3 record.mp3


