<h1>backuppc</h1>

<h2>troubleshooting </h2>

Sometimes a backup just fails without much more logging than :

<pre>
 2010-05-19 14:13:01 Started full backup on wiki.almende.com (pid=3270, share=/var/lib/mysql/wiki_db)
 2010-05-19 14:13:05 Backup failed on wiki.almende.com (aborted by signal=PIPE)
</pre>

You can get more verbosity by running the command from the commandline as user backuppc :

<pre>
 /usr/share/backuppc/bin/BackupPC_dump -v -f wiki.almende.com
</pre>

The last parameter being the dump file you want to try out. The -v gives a lot more info.


<h3>tar 512 error </h3>

This means mostly that tar could not read a file in the backup.
Tar runs as user backuppc and is used to save /etc on localhost but likely there are files there only readable by root.
I think backuppc should do as much as it can in this case but not exit with an error. 
To avoid this behaviour, add --ignore-failed-read to the TarClientCmd variable in the config.

<pre>
 tar --ignore-failed-read
</pre>

<h3>host key confirmation problem </h3>

As anyone who used ssh regularly knows, if you log in to a new machine or for some reason changed the ssh key on a remote machine you will be asked for confirmation about putting a new key in your ~/.ssh/known_hosts file. That will hamper the backup af course so it would be advised to also add the optoin :

<pre>
 ssh -o stricthostkeychecking=no
</pre>

It can also be done in /etc/ssh/ssh_config.

<h2>backup directory </h2>

it is hardcoded 

<pre>
 /var/lib/backuppc
</pre>

So that's fine when you have it running on one large harddisk.
However on backup.almende.net the big storage is a zfs disk storage/backuppc.
To change it :

<pre>
 /etc/init.d/backuppc stop
 cp -a /var/lib/backuppc/* /storage/backuppc
 mv /var/lib/backup /var/lib/oldbackuppc
 ln -f /storage/backuppc /var/lib/backuppc
 chown -R backuppc.backuppc /var/lib/backuppc
 /etc/init.d/backuppc start
</pre>

