<h1>Bag</h1>

The data for the Netherlands comes from the kadaster, which is a fairly complete dataset of all buildings in the Netherlands. 

http://www.gisnederland.nl/2012/10/waar-is-de-bag-hier-is-de-bag-de-bag.html

<h2><a id="database">Database</a></h2>

The database is stored in <a href="mongodb.html">mongo-db.</a>These are databases designed for large amounts of data. It consists of 4 "tables" which in mongo-lingo are called collections, since tables would imply there is a column like structure and there is not. The collections are : 

<ul>
<li>city: unique id and name of a city with the coordinates of it's perimeter.
<li>street: unique id and name of each street/road and the id of it's city.
<li>number: unique id, name, postal code and number of every addresseble location.
<li>house: unique id of each building and the coordinates where it is located.
</ul>

<h2>Conversion</h2>

The conversion to these 4 collections is done from a number of files :

<ul>
<li>WPL : woonplaats, these contain the cities
<li>OPR : "openbare ruimte", these contain public places, such as streets
<li>VBO : verblijfsobject, these are regulare houses/addresses
<li>STA : standplaats, these are adresses for caravans etc
<li>LIG : ligplaats, these are adresses for boats
<li>NUM : nummeraanduiding, these are the addressable numbers 
</ul>

Everything is handled by a java tool called Inspire.java. 

<h3><a id="database">Woonplaats</a></h3>

This is a straightforward conversion, the main tag in the xml data is bag_LVC:Woonplaats. This will describe one city. 
Inside that you need to extract these tags : 

<ul>
<li>bag_LVC:identificatie, the unique id for each city (referenced in "openbare ruimte");
<li>bag_LVC:woonplaatsNaam, the name of the city
<li>bag_LVC:bag_LVC:MultiSurface, the coordinates.
<li>bag_LVC:aanduidingRecordInactief, this flag should be parsed because some cities could be marked 'inactive'. another record will be present that superseeds this one, so only pick those with aanduidingRecordInactief=true.
</ul>

These lines will end up in the 'city' collection.

<h3><a id="openbaar">Openbare ruimte</a></h3>

Also straightforward, the main tag in the xml data is bag_LVC:OpenbareRuimte. This will describe one street.
Inside that you need to extract these tags : 

<ul>
<li>bag_LVC:identificatie, the unique id for each street (referenced in "nummeraanduiding");
<li>bag_LVC:openbareRuimteNaam, the name if the street
<li>bag_LVC:openbareRuimteType: the type of the public place (could also be a park etc).
<li>bag_LVC:gerelateerdeWoonplaats, this is a reference to the id of the city.
<li>bag_LVC:aanduidingRecordInactief, this flag should be parsed because some cities could be marked 'inactive'. another record will be present that superseeds this one, so only pick those with aanduidingRecordInactief=true.
</ul>

These lines will end up in the 'street' collection.

<h3><a id="number">Nummer aanduiding</a></h3>

The main tag in the xml data is bag_LVC:Nummeraanduiding. This will describe one addressable number.
Inside that you need to extract these tags : 

<ul>
<li>bag_LVC:identificatie, the unique id for each number (referenced in "verblijfsobject", "standplaats" or "ligplaats");
<li>bag_LVC:huisnummer, the actual number used.
<li>bag_LVC:huisnummertoevoeging, an appendage to the number like 'a' or 'black'.
<li>bag_LVC:postcode: zipcode of this number.
<li>bag_LVC:typeAddresserbaarObject: type of object.
<li>bag_LVC:gerelateerdeOpenbareRuimte, this is a reference to the id of the street.
</ul>

These lines will end up in the 'number' collection.

<h3><a id="verblijf">Verblijfs object</a></h3>

The main tag in the xml data is bag_LVC:Verblijfsobject. This will describe one location.
Inside that you need to extract these tags : 

<ul>
<li>bag_LVC:identificatie, the unique id for each location.
<li>bag_LVC:hoofdadres, this is the main address, such as the main entrance of a flat, or just the front door of a normal house. A line in "Nummeraanduiding" could reference this id.
<li>bag_LVC:nevenadres, these are secondary addresses beloning to the same "verblijfsobject", so they share the coordinates. There can be any number of nevenadresses within a verblijfsobject, each representing another line in the "Nummeraanduiding" file. So we add a seperate line for each of these nevenadresses.
<li>bag_LVC:gerelateerdPand, these are sublocation addresses beloning to the same "verblijfsobject", so they share the coordinates. It seems these are shed's belonging to the main address and probably have no seperate postcode/number. Nevertheless they are added as a separate line to be sure. These also can occur multiple times within one verblijfsobject.
<li>bag_LVC:pos: this states one x/y coordinate for the object.
<li>bag_LVC:posList: this states a series of coordinates (a perimeter).
<li>bag_LVC:gebruiksdoelVerblijfsobject, a description of what the object is used for.
</ul>

These lines will end up in the 'house' collection.

<h3><a id="stand">Standplaats</a></h3>

This is almost idential to a Verblijfsobject, it only specifies moveable objects. So the parsing is almost the same, and they also go into the 'house' collection.

<h3><a id="lig">Ligplaats</a></h3>

This is almost idential to a Verblijfsobject, it only specifies floating objects. 
These also go into the 'house' collection.

</div>

</body>
