# <a id="bash">Bash</a>

Sometimes, for no appearent reason the tab completion fails to do what you expect:

Which is to add a '/' after completion of a path component :

<pre>
 cd ../otherdir/
</pre>

So you can go on tabbing into that directory. What it does is : 

<pre>
 cd ../otherdir[space]
</pre>

<b>very</b> annoying.

Here is a way around that 

* backup sudo cp /etc/bash_completion /etc/bash_completion.bak
* edit sudo vi /etc/bash_completion
* find and comment following code (around line 1576, 93%):
<pre>
 for i in a2ps awk bash bc bison cat colordiff cp csplit \
 curl cut date df diff dir du enscript env expand fmt fold gperf gprof \
 grep grub head indent irb ld ldd less ln ls m4 md5sum mkdir mkfifo mknod \
 mv netstat nl nm objcopy objdump od paste patch pr ptx readelf rm rmdir \
 sed seq sha{,1,224,256,384,512}sum shar sort split strip tac tail tee \
 texindex touch tr uname unexpand uniq units vdir wc wget who; do
 have $i && complete -F _longopt -o default $i
 done
 unset i
</pre>
* close all terminals and open a new one, then give a try.

## programmable completion

I wondered why command like git and systemctl can display their command when you use the tab button. Try typing git and a space and then tab twice :

<pre>
add                 difftoo
am                  fetch  
annotate            filter-
apply               format-
archive             fsck   
bisect              gc     
blame               get-tar
branch              grep   
bundle              help   
checkout            imap-se
cherry              init   
cherry-pick         instawe
clean               log    
clone               merge  
commit              mergeto
config              mv     
credential-cache    name-re
credential-store    notes  
describe            pull   
diff                push   
</pre>

Hey.. the commands, not a dir listing or something. 
Without going into iot because i don;t need it yet, but it is a BASH feature and is controlled in this directory :

    /etc/bash_completion.d

... later ?

## simple completion on certain extensions :

You *should* be able to write your own rules in ~/.bash_completion, but i haven't got that working yet.

So i took the easy way out and added ml and rate to the madplay command in 

    /usr/share/bash-completion/bashc_completion :

    _install_xspec '!*.mp3' mpg123 mpg321 madplay ml rate


## Shebang 

A problem i got with shebangs for nodejs is that linux installs it to 

    /usr/bin/node

and osx to

    /usr/local/bin/node

So here is a way to get that working, by running the env program : 

    env - run a program in a modified environment

You just put : 

    #!/usr/bin/env node
    console.log(“Hello”);

Works great, except for windows, see this link if you ever need that : http://shapeshed.com/writing-cross-platform-node/

