# google chrome

## disappearing bookmarks bar

The single most important bar on a browser just vanished and i almost whiped chrome from my installation.
But it seems you can make it reappear with the key combination :

<pre>
 ctrl-shift-b
</pre>

What a bunch of d#ckh#%ds not to put this in the options.
Have i told you already i hate google ?

## python scripts keep getting downloaded, not executed

This took me a while to realize, and i was looking at apache all the time but it's chrome !!

<ul>
<li>i ran a script before installing mod_python properly 
<li>than i installed mod_python and the directory in apache2
<li>whenever you try to run the script, it still gets downloaded, not executed
</ul>

<b>whipe the chrome history!!</b>

It will keep on doing the download until you clear the history.
have i told you already i hate google ?


## delete specific cookies :

If you can't login to some site with session errors :

    Settings -> Advanced settings -> Privacy -> Content settings   

Now under cookies click the button “All cookies and site data” Here you can enter the url, and clear the cookies for that url alone.  
