<h2>cmake</h2>

cmake seems like a good alternative for autogen automake a a cross-platform makefile generator.

I will investigate this, but for now a couple of usable tips.

<h3>listing options </h3>

<pre>
cmake -l
</pre>

Will print a list of settable options for the project to be built.

For instance :

<pre>
 speech/cmdline:BOOL=TRUE
 speech/dbus:BOOL=FALSE
 speech/espeak:BOOL=FALSE
 speech/iphone:BOOL=FALSE
 speech/speech_dispatcher:BOOL=FALSE
 support/espeak:BOOL=FALSE
 support/ezxml:BOOL=FALSE 
 ...
</pre>

To enable such an option , do

<pre>
 cmake -D speech/espeak:BOOL=TRUE -D support/espeak:BOOL=TRUE ..
</pre>

Do not forget the .. for the directory in which the sources are. And since i found espeak two times, i enabled them both, in support and in speech.
The output of that command will now say.

<pre>
 --->>> speech
 Disabled  android ( Default )
 Enabled   cmdline ( system() call is available )
 Disabled  dbus ( dbus-glib-1 not found )
 Enabled   espeak ( User defined )
 Disabled  iphone ( Default )
 Disabled  speech_dispatcher ( speech_dispatcher lib not found )
</pre>

So make it and try.

<h3>debugging</h3>

Start cmake like this to get makefile including debugging information :

<pre>
cmake -DCMAKE_BUILD_TYPE:STRING=Debug ..
</pre>
