# Introduction 

    [http://www.jedi.be/blog/2009/03/19/cobbler-on-centos-with-vmware]

Cobbler is an install server, batteries included.

## installation 

Todo: sadly i did create a cobbler server but did not do the documentation alongisde. And since there already was another cobbler machine to use within RINIS i won't do another one soon.

## Installing a distro

In my case centos6.7, 

    sudo mount -o loop CentOS-6.7-x86_64-minimal.iso /mnt/
    sudo cobbler import --name=centos67 --path=/mnt --arch=x86_64
    sudo umount /tmp

You can now list the new settings, there will be a new distro and a new profile.

    sudo cobbler list

<pre>
distros:
   centos58
   centos63
   centos64
   centos67-x86_64

profiles:
   S0060
   centos67-x86_64
</pre>

Now we need to add the receiving system : 

    sudo cobbler system add --name=cs-rinis-273 --profile=centos67-x86_64

Or.. when it is already added, edit it with :

    sudo cobbler system edit --name=cs-rinis-222 --profile=centos70-x86_64


You view the variables of this system with :

    sudo cobbler system dumpvars --name=cs-rinis-273

There are a lot of variables set to defaults. You will find that a default kickstart file has been used to act for this system : 

    kickstart : /var/lib/cobbler/kickstarts/sample.ks

It is advisable to pick that file and alter it to your needs because that one is known to work. Of course copy it, call it another name and put it the same directory. (it won’t work otherwise).
Then edit the kickstart line with : 

    cp kickstart-222.ks /var/lib/cobbler/kickstarts
    sudo cobbler system edit --name=cs-rinis-222 --kickstart=/var/lib/cobbler/kickstarts/kickstart-222.ks --mac=00:22:19:5C:51:38 --ip-address=10.10.7.222

Both ip and mac are needed to make dhcp work !!.
Now normally the advise would be to sync cobbler, but sadly with selinux completely in the way this is what is normally needed : 

    sudo setenforce permissive
    sudo cobbler sync

If you forget, cobbler sync will crash, and these steps will get you back on track again : 

    sudo cobbler sync # will crash
    sudo setenforce permissive
    sudo service cobblerd restart
    sudo cobbler sync

## troubleshooting

If you get an error like this in startup : 

    | Error downloading kickstart file | 

With a url like : 

    http://10.10.7.238/cblr/svc/op/ks/system/cs-rinis-526

You could of course try that in a browser to debug ,but chances are there is an error in the kickstart syntax. View the cobbler log for details : 

    cat /var/log/cobbler/cobbler.log 

Example :


    Expected #def, #block, #closure or another @decorator
    Line 44, column 1
    
    Line|Cheetah Code
    ----|-------------------------------------------------------------
    41  |%packages
    42  |# no... ansible's choice
    43  |#@core
    44  |#httpd
     ^

These comments don’t seem to be valid after the % ?!
Remove completely. then

    sudo cp kickstart-526.jks /var/lib/cobbler/kickstarts
    sudo cobbler sync

And either recheck the log, or your browser.. or just continue the install from anaconda ..


### Determining what kickstart file is used 

    cobbler system getks --name=”cs-rinis-222”



### Warning: Invalid value for ‘inst.repo’ : $tree

Cobbler did at first not work on the provisioning-to machine, and only for the centos70 distro which i added myself ;)
Baling out with the error : 

    Warning: Invalid value for ‘inst.repo’ : $tree

The first cue about this is in the kickstart file where the entry --url reads : 

    url: --url=$tree

Clear enough this must mean $tree is not replaced by the wanted url ? Or never filled at all !
Since we use the same kickstart file for both distro’s let’s see what the problem is.

You can list the distro variables with the ‘report’ command for cobbler distro, first centos 6 , then centos 7 : 


<pre>
sudo cobbler distro report --name=centos67-x86_64
Name                           : centos67-x86_64
Architecture                   : x86_64
TFTP Boot Files                : {}
Breed                          : redhat
Comment                        : rhel6.7
Fetchable Files                : {}
Initrd                         : /var/www/cobbler/ks_mirror/centos67-x86_64/images/pxeboot/initrd.img
Kernel                         : /var/www/cobbler/ks_mirror/centos67-x86_64/images/pxeboot/vmlinuz
Kernel Options                 : {}
Kernel Options (Post Install)  : {}
Kickstart Metadata             : {'tree': 'http://@@http_server@@/cblr/links/centos67-x86_64'}
Management Classes             : []
OS Version                     : rhel6
Owners                         : ['admin']
Red Hat Management Key         : <<inherit>>
Red Hat Management Server      : <<inherit>>
Template Files                 : {}
</pre>



<pre>
sudo cobbler distro report --name=centos70-x86_64
Name                           : centos70-x86_64
Architecture                   : x86_64
TFTP Boot Files                : {}
Breed                          : redhat
Comment                        :
Fetchable Files                : {}
Initrd                         : /var/www/cobbler/ks_mirror/centos70/images/pxeboot/initrd.img
Kernel                         : /var/www/cobbler/ks_mirror/centos70/images/pxeboot/vmlinuz
Kernel Options                 : {}
Kernel Options (Post Install)  : {}
Kickstart Metadata             : {}
Management Classes             : []
OS Version                     : generic26
Owners                         : ['admin']
Red Hat Management Key         : <<inherit>>
Red Hat Management Server      : <<inherit>>
Template Files                 : {}
</pre>


So in the kickstart metadata we indeed see a significant difference. So let’s try to fix it with : 

    sudo cobbler distro edit --name=centos70-x86_64 --ksmeta="tree=http://@@server@@/cblr/links/centos70”

This does at least add the option so ‘report’ is similar to the centos67 version. Note that this error indeed occured because centos70 was installed in :

    /var/www/cobbler/ks_mirror/centos70 

while centos 67 was installed in 

    /var/www/cobbler/ks_mirror/centos67-x86_64 

So of course that’s why the ‘tree’ is shorter than the centos67 version. But still this did not solve the problem. Watch the error closely and try out the link to the squashfs.img file. It turned out that there is another link needed :


    cd /var/www/cobbler/links
    ln -s /var/www/cobbler/ks_mirror/centos70 .
    ls -l
    total 0
    lrwxrwxrwx. 1 root root 42 Aug 31  2015 centos67-x86_64 -> /var/www/cobbler/ks_mirror/centos67-x86_64
    lrwxrwxrwx. 1 root root 35 May  4 11:37 centos70 -> /var/www/cobbler/ks_mirror/centos70
    
Now… it works ... 

## renaming interface 

When installing centos7 via cobbler, i found that it keeps on using the eth0 name, so i ended up with em1,em2,em3 and eth0 
This is because cobbler derives the interface from the name you use with --interface. To rename eth0 to em4 (because it is sloty 4 we used in installation):

	sudo cobbler system edit --name="cs-rinis-222" --interface=em4 --ip-address=10.10.7.222 --mac=00:22:19:5C:51:41
	sudo cobbler system edit --name="cs-rinis-222" --interface=eth0 --delete-interface
	sudo cobbler sync

It should be done in that order because you need to have at least one interface defined. 

