<h1>cordova</h1>

A way of making android and iphone apps with one codebase. It uses html javascript and css. 

<a href="http://phonegap.com/2012/03/19/phonegap-cordova-and-what%E2%80%99s-in-a-name/">cordova or phonegap</a>

For phonegap see <a href="/doc?page=phonegap">this page</a>

<h2>installation</h2>

You will need cordova, and plugin mananager, but also nodejs and it's package manager nps (http://nodejs.org/)

<pre>
wget http://nodejs.org/dist/v0.10.26/node-v0.10.26.tar.gz
tar -zxvf node-v0.10.26.tar.gz
cd node-v0.10.26
./configure
make install
</pre>

There are binaries as well, but this installed smoothly so i prefer that. Now if you did this on linux chances are nodejs will be called node and clashes with another package called node (ax25-node). Making a link to nodejs will solve that problem

<pre>
/usr/local/bin $ sudo ln -s ../../bin/nodejs node
</pre>

<pre>
sudo npm install -g cordova
sudo npm install -g plugman
</pre>

If you cannot run plugman after this you probably forgot the -g, which means global.
I got a problem with downloading errors, this could be solved using http instead of https:

<pre>
sudo npm set registry http://registry.npmjs.org/
sudo npm install -g plugman
</pre>

Now you will need the platforms to create any usable phone app, so for iphone take a look at <a href="http://cordova.apache.org/docs/en/3.4.0/guide_platforms_ios_index.md.html#iOS%20Platform%20Guide">this</a>, and for android <a href="http://cordova.apache.org/docs/en/3.4.0/guide_platforms_android_index.md.html#Android%20Platform%20Guide">here</a> or <a href="http://cordova.apache.org/docs/en/3.4.0/guide_platforms_index.md.html#Platform%20Guides">pick your taste</a>

We might need to install osX and xcode, i surely hope not. 

<h2>android</h2>

Now if you have android sdk correctly installed, you could run :

<pre>
cordova create helloworld org.klopt.hello "hello world"
cd helloworld
cordova platform add android
</pre>

But if not, you probably get an error on the last call, something like :

<pre>
Error: An error occurred while listing Android targets
</pre>

Now if you can't list the android by hand you cannot expect cordova to do it. So if 

<pre>
 android list targets
</pre>

Does not work, neither will cordova.

So you probably need to install the adt bundle <a href="/doc/?page=android">See this page</a>


<h3>debugging</h3>

Google has some features in this case. Install webview-debug plugin : 

<pre>
cordova plugin add https://github.com/jrstarke/webview-debug.git
</pre>

See <a href="https://github.com/jrstarke/webview-debug">here for more information</a>.

To debug webviews:
Make sure that you have adb installed, and that USB debugging is enabled on your device.

<ol>
<li>Connect your device to your computer using a USB cable.
<li>In your Chrome 30+ browser, open the url about:inspect.
<li>Start debugging and wait until ths sdk appears in the devices list.
<li>Find the application you would like to debug in the list, and click the inspect link.
</ol>


<h3>mapkit plugin</h3>

First you need to install the plugin itself. 

<pre>
cordova -d plugin add https://github.com/imhotep/MapKit --variable API_KEY="your_key_here"
</pre>

This should install the plugin for you and use you key in the correct places.

### troubleshooting

com.google.android.gms.common.ConnectionResult

<h2>osx</h2>

You must have a mac for this .. bastards.

One problem encountered with this was this error: 

<pre>
 cordova platform add osx

 Failed to fetch platform osx
 Error: No compatible version found: cordova-osx@>=4.0.0 <4.1.0
 Valid install targets:
 ["3.4.1"]
</pre>

The most obvious fix here is install version 3.4.1 but how ?
Well:

<pre>
 cordova platform add osx@3.4.1
</pre>

That will work on osx only !


## troubleshooting

### - Error : No resource found that matches the given name (at 'icon' with value '@drawable/icon').

From the cordova [docs](https://cordova.apache.org/docs/en/5.4.0/config_ref/images.html)

This should be enough (in config.xml) to provide an icon for all sizes and platforms :

    <icon src="res/icon.png" />

However that leads to the error above because there is no drawable/icon to be found. :

<pre>
platforms/android/res/
├── drawable-hdpi
├── drawable-land-hdpi
│   └── screen.png
├── drawable-land-ldpi
│   └── screen.png
├── drawable-land-mdpi
│   └── screen.png
├── drawable-land-xhdpi
│   └── screen.png
├── drawable-ldpi
├── drawable-mdpi
├── drawable-port-hdpi
│   └── screen.png
├── drawable-port-ldpi
│   └── screen.png
├── drawable-port-mdpi
│   └── screen.png
├── drawable-port-xhdpi
│   └── screen.png
├── drawable-xhdpi
├── values
│   └── strings.xml
└── xml
    └── config.xml
</pre>

In the generated manifest they search for it in platform/android/res/drawable but we only have more specific directories like drawable-mdpi etc.

I solved this by the following steps: 

* moved www/res (with icon.png in it) to the cordova dir 
* removed the whole res tree in platform/android 
* this ruined the install ;) so :
* cordova platform rm android
* cordova platform add android

From the errors given i deduced that where the /res/icon.png should go. and i ended up with this res tree : 

<pre>
platforms/android/res/
├── drawable-hdpi
├── drawable-land-hdpi
│   └── screen.png
├── drawable-land-ldpi
│   └── screen.png
├── drawable-land-mdpi
│   └── screen.png
├── drawable-land-xhdpi
│   └── screen.png
├── drawable-ldpi
├── drawable-mdpi
│   └── icon.png
├── drawable-port-hdpi
│   └── screen.png
├── drawable-port-ldpi
│   └── screen.png
├── drawable-port-mdpi
│   └── screen.png
├── drawable-port-xhdpi
│   └── screen.png
├── drawable-xhdpi
├── values
│   └── strings.xml
└── xml
    └── config.xml
</pre>

So no drawable/ but a drawable-mdpi with my icon in it. This installs on the honor phone !

### cross domain calls

You will probably get a complaint on a cordova app that tries to GET or POST data from a remote website. :

    XMLHttpRequest cannot load Origin null is not allowed by Access-Control-Allow-Origin.

This is because this is javascript/jquery code and cross-domain calls are forbidden by default. The problem can be fixed at the server or client side.

If you have to query a site that you don't own, you will have to use jsonp calls, which i will not cover here. 

But if you own the web site, easiest way is to oblige cordova and provide the headers they ask for ( in wsgi ) :

<pre>
   response_headers = [('content-type', 'text/html; charset=utf-8'),
                        ('content-length', str(len(output)+1)),
                        ('access-control-allow-origin', '*'),
                        ('access-control-allow-methods', '*'),
                        ('access-control-allow-headers', '*')]

   start_response(status, response_headers)
</pre>

### Geolocation fails

Really … it does not fail !!
I tried it on the device once and there it just did not register any change.
Then a lot on the emulator and there you need to manually set the coordinates : 

    telnet localhost 5554
    geo fix 52.3 4.4

sigh!!
Even bigger sigh !? 

When you have problems getting geolocations, and this emulator trick does not give any result :

Recheck if cordova-plugin-geolocator is installed 

Yes… it just does not work without any descent warning. 

### Error: Cannot find module 'bplist-parser'

more precise, when running any cordova command you get :

    module.js:340
        throw err;
              ^
    Error: Cannot find module 'bplist-parser'
        at Function.Module._resolveFilename (module.js:338:15)
        at Function.Module._load (module.js:280:25)
        at Module.require (module.js:364:17)
        at require (module.js:380:17)
        at Object.<anonymous> (/usr/local/lib/node_modules/phonegap/node_modules/cordova/node_modules/cordova-lib/node_modules/cordova-common/src/ConfigChanges/ConfigFile.js:20:14)
         at Module._compile (module.js:456:26)
        at Object.Module._extensions..js (module.js:474:10)
        at Module.load (module.js:356:32)
        at Function.Module._load (module.js:312:12)
        at Module.require (module.js:364:17)

you can fix this with :

    sudo npm update -g

####  Could not find gradle wrapper

    cordova clean android
    ANDROID_HOME=/home/kees/Install/android-studio
    JAVA_HOME=/home/kees/Install/jdk1.8.0_91
    Error: Could not find gradle wrapper within Android SDK. Might need to update your Android SDK.
    Looked here: /home/kees/Install/android-studio/tools/templates/gradle/wrapper
This problem was caused by a wrong ANDROID_HOME setting. The place where android installs other tools is not where you unpack the android-studio files, but in my case it was : ~/Android/Sdk.

To get the above warning to go away you need this setting:

    export ANDROID_HOME=/home/kees/Android/Sdk
