<h1>cups</h1>

On linux cups (Common Unix Printing System) is the default installed system for printing, but it has some setbacks.
Here are some problems described.

<h2>web page</h2>

Cups runs a web page on port 631. So if you are on a linux machine running cups try this link http://localhost:631

<h2>troubleshooting </h2>

<h3>cups shows too many printers </h3>

Or related: how do i remove printers.
The problem in my case is that is saw printers from deal services which i cannot reach, so they are just in the way.

First.. how did they get there. Well it turns out the old machine i took home still has them in it's configuration and broadcasts information about them to my new machine which never was with dealservices. 
The web interface just refuses to answer to delete, and the printer manager of mint has the delete button greyed out.

You can however remove them by hand with the lpadmin. Look in the printer manager or cups, or better yet(because you can cut 'n paste the name there ) goto the webpage <a href="http://localhost:631/printers">http://localhost:631/printers</a> and find the printer you want to loose. 

<pre>
 sudo lpadmin -x HP-Color-LaserJet-CM1312-MFP-2
</pre>

If you delete this printer on the machine it does not originate from, it will just reappear after a few seconds. However that works both ways, because if you issue this command on the machine that broadcasts this printer , it will also broadcast the delete and your printer will be gone on all cups machine.
