<h1>dhcp</h1>

General dhcp and dhcpd (the server) administration page.

<h2>general information </h2>

Miraculix (192.168.200.11) (to be : appendix 10.10.1.10) is the dhcp server.

The configuration for dhcpd is in the file /etc/dhcpd.conf.
There is debug output of the dhcp-daemon in /var/log/messages.
After changes to the configuration you have to restart dhcp with

<pre>
 /etc/init.d/dhcpd restart
</pre>


<h2>Forcing dhcpd to give a specific ip-address </h2>

Edit /etc/dhcpd.conf and look for the section where the network used is specified something like :

<pre>
 subnet 192.168.200.0 netmask 255.255.255.0 {
                pool {
                        range 192.168.200.61 192.168.200.151;
                        host comix {
                                hardware ethernet 00:11:D8:0C:AA:75;
                                fixed-address 192.168.200.90;
                        }
</pre>


The 'host' section shown here is an example of forcing the machine with the specified MAC-address to use 192.168.200.90 as ip-address

