# Domain Name Service

## current situation

As of 2 jan 2013 i moved DNS to e-dot, since it is only a one time 7 euro payment. See https://www.e-dot.nl/my.e-dot/domeinnaam/klopt.org from now on.

## reload

To let the changes propagate onto the internet, the higher levels servers need to reread these changes. That means increasing the serial number (which you already did ?) and reloading bind :

<pre>
 /etc/init.d/bind9 reload
</pre>

<h2>testing</h2>

To test how far your changes have travelled you can query different servers, of course the localhost should already give the new value.

<pre>
 dig @localhost newname.klopt.org
</pre>


@localhost means which server you are asking, newname.klopt.org is your query, it should result in an answer section like :


<pre>
 ;; ANSWER SECTION:
 newname.klopt.org.  43200   IN      A       10.11.12.13
</pre>


If you directly query higher servers, in our case luna 


<pre>
 dig @ns1.luna.nl newname.klopt.org
</pre>

You will have to wait longer until it shows correctly.

<h2>debugging</h2>

First... Note that sometimes it is called named and sometimes it is called bind.

Named is kind of silent, so if you want to know why things are not working try starting it like this :

<pre>
 /etc/init.d/bind9 stop
 /usr/sbin/named -u named -d 3 -g
</pre>

<ul>
<li>-u named makes it run as user 'named'
<li>-d 3 means debug level 3
<li>-g means don't run in the background
</ul>

The last time i installed bind9, there was no user 'named' created, in that case,just leave out the '-u name'

