<h1>dropbox</h1>

Dropbox is a free service where you get 2 GB of storage space on an external server.
More is non-free but i use it to just6 put some profile information to access from everywhere on the net.

<h2>dependency problem squeeze</h2>

Download the .deb file for ubuntu from http://www.dropbox.com/downloading , and try to install it.

<pre>
 dpkg -i nautilus-dropbox_0.6.7_amd64.deb
</pre>

Chances are, you get an error like this  :

<pre>
 Unpacking nautilus-dropbox (from .../nautilus-dropbox_0.6.7_amd64.deb) ...
 dpkg: dependency problems prevent configuration of nautilus-dropbox:
 nautilus-dropbox depends on libnautilus-extension1 (>= 1:2.22.2); however:
  Version of libnautilus-extension1 on system is 2.30.1-2squeeze1.
 dpkg: error processing nautilus-dropbox (--install):
</pre>

Lame dependency checking of course, because 2.30 is way newer than 2.22.2.
Just install it with this command :

<pre>
 dpkg -i --ignore-depends=libnautilus-extension1 nautilus-dropbox_0.6.7_amd64.deb
</pre>

It will work fine.
Now install the service with :

<pre>
 dropbox start -i
</pre>

It will guide you through the setup and download the dropbox daemon along the way.

