<h2>fail2ban</h2>

fail2ban is a program that bans ip adresses to a server when too many (3?) login attempts fail.
Of course typing the wrong password would do this trick as well, so here is how you free up your ip adress again when that happens.
Here is a real example :

<pre>
 iptables -D fail2ban-ssh -s 217.77.152.11 -j DROP
</pre>

You can list which addresses are blocked with :

<pre>
 iptables -L -n
</pre>

