<h1>RedHat and Fedora</h1>

More specifically, CentOS and Fedora. The relation between these three is :

<ul>
<li>Fedora is free and the base for redhat and centos. It is the 'sid' of th eredhat suite.
<li>Redhat is paid for and checked more, see it as the stable version of Redhat.
<li>CentOS is the free version of RedHat. It is just as stable, and they try to mirror RH completely. but it is free !
</ul>

Take a guess which two will be featured here ;)

<h2>Fedora</h2>

The main problem is lack of the kernel source, gcc etc to build the modules, so :

<pre>
yum install gcc kernel-devel kernel-headers dkms make bzip2 perl
cd /run/media/kees/VBOXADD*
./VBoxLinuxAdditionbs.run
</pre>

Aaaaaand... that doesn't work either.. 
So TODO : investigate this...

<h2>Centos</h2>

Remember first of all not to download the netinstall image, because you will have to enter the complete url somewhere halfway. No picklists or anything. <br>
And with all type errors combined you will probably be faster downloading the live install image.
