<h1>Troubleshooting</h1>

<h2>blank page</h2>
No interface showing up after install. 
Run the script in question by hand you get :

<pre>
PHP Fatal error:  Cannot re-assign auto-global variable _REQUEST in /var/www/html/admin/modules/recordings/functions.inc.php on line 257
</pre>

_REQUEST is used as a paramater to a function, in php5 it is forbidden as it hides the global _REQUEST variable.
This code was probably made for php4. Just rename all the _REQUEST variable names to X_REQUEST or something.

<h2>DB.php missing</h2>

[FATAL] PEAR must be installed (requires DB.php). Include path: .:.:

Pear is a php installer, you need to install db :

<pre>
pear install DB
</pre>

<h2>1.Unknown SQL engine</h2>

<pre>
FATAL ERROR

Unknown SQL engine: []

Trace Back

/var/www/html/admin/common/db_connect.php:57 die_freepbx()

[0]: Unknown SQL engine: []

/var/www/html/admin/bootstrap.php:75 require_once()

[0]: /var/www/html/admin/common/db_connect.php

/var/www/html/admin/config.php:61 require()

[0]: /var/www/html/admin/bootstrap.php
</pre>

The configuration files /etc/freepbx.conf and /etc/amportal.conf are unreadable.
Change ownesrhip to the apache2 user.

