<h2>Graphics library and 3d</h2>

Graphics Library. Also opengl, everything to do with graphics, like 3d and acceleration.
First some term i keep forgetting : 

<ul>
 <li>fglrx, this is not a standard grpahics library but "fglrx is the name of the Linux display driver used for ATI Radeon and ATI FIreGL families". Use MESA for other cards like the intel ivy bridge i have.
 <li>"Mesa is an open-source implementation of the OpenGL specification - a system for rendering interactive 3D graphics." It does not seem to be an abbreviation.
</ul>

Simple test to see if you 3d is working : 

<pre>
 glxgears
</pre>

<h4>webgl</h4> 

This is an implementation of gl inside webservers. Chrome should support it, visit this "chrome://gpu/" page to see.
However... that did say hardware acceleration was disabled or unavailable in most categories, and that is in my case because the intel ivy bridge card i have was blacklisted in chrome (something to do with the driver stability). But i rather decide that for myself "thank you google very much" so there are 2 ways of disabling this blacklist : 

Startup google chrome with this flag :

</pre>
 chromium-browser --ignore-gpu-blacklist
</pre>

Or get to the flags page "chrome://flags" and enable "Override software rendering list", 
remember to hit "relaunch now" at the bottom  and visit chrome://gpu again and notice the difference.

<a href="http://www.google.nl/#output=search&sclient=psy-ab&q=5+%2B+(-sqrt(1-x%5E2-(y-abs(x))%5E2))*cos(30*((1-x%5E2-(y-abs(x))%5E2)))%2C+x+is+from+-1+to+1%2C+y+is+from+-1+to+1.5%2C+z+is+from+1+to+6&oq=5+%2B+(-sqrt(1-x%5E2-(y-abs(x))%5E2))*cos(30*((1-x%5E2-(y-abs(x))%5E2)))%2C+x+is+from+-1+to+1%2C+y+is+from+-1+to+1.5%2C+z+is+from+1+to+6&gs_l=hp.12...896.896.0.1793.1.1.0.0.0.0.0.0..0.0...0.1...1c.2.7.psy-ab.sn9V2eZw1_c&pbx=1&fp=1&biw=1429&bih=791&bav=on.2,or.r_qf.&cad=b">Pages like this are now visible</a>

