# google drive mount

I followed this guide : <a href="http://xmodulo.com/mount-google-drive-linux.html">click</a>

The debian section, with some exceptions, the installation of google-drive-ocamlfuse was run as kees, not root. So :

    $ sudo apt-get install ocaml camlp4-extra
    $ git clone https://github.com/OCamlPro/opam.git
    $ cd opam
    $ ./configure
    $ make
    $ sudo make install
    $ sudo apt-get install m4 libcurl4-gnutls-dev libfuse-dev libsqlite3-dev
    $ opam init
    $ opam update
    $ opam install google-drive-ocamlfuse

Also i have my own shell settings file ~/bin/kees.sh so : 

    export OPAM=/home/kees/.opam/system/bin
    export PATH=$JAVA_HOME/bin:$PATH:~/bin:~/flex/bin:~/jswat/bin:$ORACLE_HOME/bin:$GRADLE_HOME/bin:$GITCORE:$ANDROIDSDK/tools:$ANDROIDSDK/platform-tools:$OPAM


Then run the command that let's you login to google and except access :

<pre>
 google-drive-ocamlfuse 
 mkdir /media/kees/googledrive
 su 
 google-drive-ocamlfuse /media/kees/googledrive/
 cd /media/kees/googledrive/
</pre>

Done !!
