<h1>Hdmi</h1>

I had some trouble getting HDMI to work on my TV. 
Here are some commands to try when searching for a signal.

<pre>
 xrandr -q 
</pre>

Lists the video connections as linux sees them. If you get a port like HDMI and a list of resolution, you are in luck. It then works out of the box.
If you get something like :

<pre>
 HDMI-0 disconnected 
</pre>

You at least have linux recognize the port.
On the older ASUS M3A78EMH_HDMI, i did not even get that, but I got it to work by changing the row of jumpers right behind de HDMI connector. They don't look like jumper since they are joined together 5 by 5.
After that also change DVI-bios to HDMI-bios in the BIOS-setup.
Then it works, you now also get an extra audio output port in the audio setup.

On the newer ASUS boards, i have no success yet.

