<h1>Iphone</h1>

An update on april 2014, when i needed it for a DHL demo, clang seems the way to go at this time, based on <a href="http://stackoverflow.com/questions/4589335/llvm-vs-gcc-for-ios-development">this</a>. It's a bit shallow but all i have to go by. I will try it in the first chapter, the older chapters are below that.

<h2>installing clang</h2>


<h2>installing toolchain</h2>

I use a standard debian 5.0.3 installation for this. You will need the source from iphone-dev 

<pre>
 apt-get install subversion gcc g++
 svn checkout http://iphone-dev.googlecode.com/svn/trunk/ iphone-dev-read-only
</pre>

Now to build the toolchain more packages are needed

<pre>
 apt-get install bison flex make
</pre>

Now you can get the source for the low level virtual machine and compile :

<pre>
 svn co http://llvm.org/svn/llvm-project/llvm/trunk llvm-svn
 cd llvm-svn
 ./configure --enable-optimized
 make ENABLE_OPTIMIZED=1
 sudo make install
 export LLVMOBJDIR=`pwd`
 cd ..
</pre>

I would not advice to wait for this, get some coffee.
Ok you have a compiler now.

<pre>
 svn checkout http://iphone-dev.googlecode.com/svn/trunk/ iphone-dev
 cd iphone-dev
</pre>

if you have a 64 bit system and gcc, first install :

<pre>
 sudo apt-get install libc6-dev-i386
</pre>

And make sure you set the -m32 option, it's easiest to do it in the environment.

<pre>
 export LDFLAGS=-m32
 export CFLAGS=-m32
</pre>

The configure and compile process will add their option to these.

make some working directories and compile (to save some time read the -Wno-long-double part just after this first)

<pre>
 sudo mkdir /usr/local/arm-apple-darwin
 mkdir -p build/odcctools
 pushd build/odcctools
 ../../odcctools/configure --target=arm-apple-darwin --disable-ld64
 make
 sudo make install
 cd ..
</pre>

However, i got a problem while compiling, strangely enough almost all compilations succeed with the option -Wno-long-double, but suddenly one fails. It looks like the compiler does not support this warning but doesn't complain about it leaving the configure script to think it is supported. 
Why it fails in some cases is beyond me, but i ended up altering the configure script :

<pre>
 vim iphone-dev/odcctools/configure
</pre>

Delete the line that says :
 
<pre>
 WARNINGS="$WARNINGS -Wno-long-double"
</pre>

'''And redo you steps from configure onwards.'''

We now need a copy of the iphone's root file system. I [[JailBreak|JailBroken]] my iphone and installed a ssh client on it but sadly our wifi network is on a diffent subnet, so i needed to setup wifi first to get to it : See [[LinuxWifi|Linux wireless]] for a desciption on howto setup that.

To get the ip adress of the iphone, go to :

<pre>
 Settings -> wi-fi -> almendeWAN 
</pre>

connect to the phone as user 'mobile' and password 'alpine' (sometimes 'dottie')

<pre>
 ssh 192.168.1.105 -l mobile
</pre>

You can browse the file system, also we can now get a copy :

<pre>
 scp -r mobile@192.168.1.105:/ /usr/local/share/iphone-fs
 export HEAVENLY=/usr/local/share/iphone-fs
</pre>


</div>
