<h1>ipv6</h1>

Ip version 6 setup.  
Source <a href="http://tldp.org/HOWTO/Linux+IPv6-HOWTO">here</a>

<h2>preliminaries linux</h2>

The ip command, it is in the iproute package !

<h2>ip v6 addresses</h2>

v6 addresses are 16 bytes, 4 times bigger then the 4 byte ipv4 addresses. They can be expressed in full or compressed form, in this example the localhost address.

<pre>
0000:0000:0000:0000:0000:0000:0000:0001 ::1
</pre>

In short any single sequence of zeroes can be shortened to :: not more than one of course because then the address becomes ambigues.

<h3>special addresses</h3>

<table border=1>
<tr>
<th>address	
<th>ipv4
<th>ipv6
<tr>
<td>ANY	
<td>0.0.0.0	
<td>::
<tr>
<td>localhost	
<td>127.0.0.1	
<td>::1
<tr>
<td>link local addresses		
<td>
<td>fe8x: (fe9x:,feax:,febx:)
<tr>
<td>site local addresses	
<td>10.0.0.0/8	
<td>fecx: (fedx,feex,fefx)
<tr>
<td>global addresses
<td>		
<td>2xxx: and 3xxx
</table>

<h2>installation</h2>

On http://www.sixxs.net you can find how to install ipv6 on your server. sixxs seems to be running on a dying server lately so i will try to reconstruct it here :

checking your kernel

<pre>
ls /proc/net/if_inet6
</pre>

Should give some output like :


<pre>
 2001096006ba00010220e0fffe6e0099 02 40 00 00     eth0 
 00000000000000000000000000000001 01 80 10 80       lo
 fe800000000000000220e0fffe6e0099 02 40 20 80     eth0
</pre>

These dump the addresses, quit readable, the only lack some :'s.

If /proc/net has no if_inet6 directory, don't despair, you probabaly only need to load the module:

<pre>
 modprobe ipv6
</pre>

As this worked on all linuces i tried until now (of course the newer linux versions) you are on your own if it does not work ;(

<h2>routing</h2>

Like ipv4 the routing entry chosen is the 'smallest matching' entry, the smallest is the route with the largest number of netmask bits.

Adding a dns name for an ipv6 name is formatted like this :

<pre>
 hostname         IN      AAAA    2001:960:6ba:1:211:d8ff:fe0b:e711
</pre>

The main difference is 4-A's instead of 1 for ipv4.
