<h1>Isdn4linux</h1>

'Ye olde' driver. But since mIsnd is still called experimental, let's not through this info away.<br>
<br>
We have two types of cards right now, HFC based cards and winbond based cards. This is a description for the HFC.<br>

<pre>
 apt-get install isdn-tools
</pre>

In absence of the knowledge where to purt the parameters, here is the command line with wihich you can install the hisax module.

<pre>
 modprobe hisax type=35 protocol=2
</pre>

To test the driver, type

<pre>
 cat /dev/isdninfo
</pre>

You should see a line like this :

<pre>
 idmap:  HiSax HiSax - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
 chmap:  0 1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
</pre>

You see the first two channesl are now occupied, as opposed to what you see without loading the hisax driver.

<pre>
 idmap:  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
 chmap:  -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
testing the line
</pre>

startup minicom with :

<pre>
 minicom -s isdn0
</pre>

Under "serial port setup", change "A - Serial device" to "/dev/ttyI0" Under "Modem and Dialing", change "A - Init string : " to "~AT&B512&E104049810&fclass=8&s18=1M"<br>
<br>
The fclass=8 set's the modem emulation to audio, S18=1 sets the outgoing service to "btx". In some cases both are needed so just always set them. Do NOT enter the leading zero (0104049810), it will fail!!. Also watch /var/log/messages, because if minicom refuses messages it does so quietly, /var/log/messages will report them.<br>
<br>
The number is (one of) the MSN number of the line you plugged in so, probably different from this one. Save your settings with "Save as", then do "exit" (not "exit modem"). You are in a console where you can type "AT", it should say "OK".<br>

Now dial in to your number (in this case 0104049810). You should get an incomming RING request on the terminal, you could answer it with "ATA", but it costs you money and you cannot speak to the call anyway, so hangup the phone or type "ATH". You know know the status of your line, if there was no reaction you have some line-checking to do. If it does try to call-out :

<pre>
 ATD 0104049444
</pre>

The phone you called should ring, but still there is no use picking it up.
