# javascript

## rhino

This is a commandline interpreter for javascript, you can start it up as rhino or as js, the latter seems preferred judiging on the prompt you get.

    rhino
    js>print("hello world");

    hello world
    ctrl-d

I would leave it at that because the commandline is horrible, you can't use backspace it will erase all your input and even the prompt if you use it too much.

Just make scripts and run them with js (test.js)

    :::javascript
    var vec = new Array(10);
    vec.push(20);
    print (vec.length);

Run it like this : 

    js test.js

Output

    11

Note that it does not have a 'window' object, so also no setTimeout() method etc. So you cannot debug everything you would get in a browser !!

## browser javascript

You can start javascript by setting the window.onload function. One way of doing that is in the body tag : (complete example) 

    <script>
    function myfunc() { alert("started"); }
    </script>
    <body onload="myfunc()">
    </body>

But you can also just do it in the script section intself : 

    <script>
    window.onload=function () { alert("started"); }
    </script>


## notation

Notation like this is very common in javascript, for instance in calling through the session variable in autobahn.

    out = sess.call("cycles:id").then(ab.log).otherwise(console.log);

What this does is simply using the fact that the result of an expression is an object itself. It is the same as :


    out = sess.call("cycles:id");
    out.then(ab.log);
    out.otherwise(console.log);

As if you used parenthesis : 

    (  (sess.call("cycles:id")) .then(ab.log) ) .otherwise(console.log);

You can replace the console.log by your own function t do something else then log the data :


    function myfnc(data) {
        chosendiv.innerHTML = data;
    } 

    out.then(myfnc);

### in detail

* the object returned by sess.call has multiple members that are functions, so... methods...
* so out is an object with a method called otherwise() which takes a function as its parameter (console.log) 
* inside otherwise(), the function is performed on the data

If you use console.log() on the out object, you will get something like this (much remaining members skipped :
    
    otherwise: function (a){return this.then(t,a)}
    then: function (a,b,d){var e,f;e=arguments;f=this._message;return c(function(a,b,c){f("when",e,a,c)},this._status&&this._status.observed())}

There has been too much done 'under the hood' to get exactly what's going on, but otherwise() calls then() and ultimately your function gets called with the desired data member.


# issues

A small collection of issues encountered.

## makeing a textarea scroll down after input

If you have a textarea and use it for some kind of logging puprpose you probably want the latest text to be visible, not what happens : the text stays put and the latest text is out of view with the scrollbar in the 'up' position.

You will have to move it down yourself, in code it would be this :

    :::javascript
    function checkTextareaHeight(){
        var textarea = document.getElementById("yourTextArea");
        if(textarea.selectionStart == textarea.selectionEnd) {
            textarea.scrollTop = textarea.scrollHeight;
        }
    }

## browser independent key input

I needed it to detect the return key, so that is also what this function does:

    :::javascript
    function alter(e) {
        var txtbox = document.getElementById("textbox");
        var key = 0;
        e=(window.event)?event:e;
        key = (e.keyCode)?e.keyCode:e.charCode;
    
        msg = txtbox.value;
        if (key=="13") { // that's the 'enter' code
            send(msg);
            clear_text(txtbox);
        } 
    } 

A bit cryptic ? : yes...

* first, e is assigned to window.event (window is the current object, so event == window.event) if it exists or the parameter e (itself) otherwise for browsers passing the event as a parameter.
* key is then assigned to keyCode for browsers supporting keyCode and charCode for the other browsers.
* we now have a correctly filled key

Hooking up the alter function to html would be something like :

    :::html
    <input id="textbox" onkeypress="alter(event)">

### regular expressions 

Within strings is different from // notation : 

    :::javascript
    parts = msg.split(/[\(\)]/);

Can be used to split a function call into name and arguments : 

    dim(1,2,3) becomes "dim" and "1,2,3" because we split on escaped ( and )

Strings are far more difficult in this situation, while :

    :::javascript
    parts = msg.split(",");

Works fine, this will fail : 

    :::javascript
    parts = msg.split("[\(\)]");

Just use // !!

### timeouts 

Timeouts and intervals are ways of running functions at a particular time. The basic format is  

    setTimeout(function or code,delay (ms),args...)

complete example : 

    function f(arg1,arg2) { 
        alert("Function was called with " + arg1 + " and " + arg2);
    } 

    window.onload=function() { 
        window.setTimeout(f,2000,'a',11);
        setTimeout(f,4000,'anders',444);
    } 

After 2 seconds (2000 milliseconds) an alert will say "Function was called with a and 11". The second call will also work because the default 'this' is the window object. A second alert will pop up 2 seconds after you clicked 'ok' on the alert dialog, so that's shows that the alert is blocking the execution of javascript. If we had used a console.log message, the second one would arrive 4 seconds after starting the script.

You could also just use code as the first parameter to setTimeout : 

    setTimeout(function() { alert('Hi') }, 1000)

Both setTimeout function calls do return an identifier of the timer that can be used to identify it, we could for example cancel out the first one : 

    <script>
        function f(arg1,arg2) {
            console.log("Function was called with " + arg1 + " and " + arg2);
        }
    
        window.onload=function() {
            id1 = window.setTimeout(f,2000,'a',11);
            id2 = setTimeout(f,4000,'anders',44);
    
            clearTimeout(id1);
        }
    </script>

Of course this is not a very useful example, but it can be done.

### intervals 

You could use f() to restart a timeout again to make a function run at certain intervals, but there is already another way to do that : setInterval()

    <script>
        function f(arg1,arg2) {
            console.log("Function was called with " + arg1 + " and " + arg2);
        }

        window.onload=function() {
            id1 = window.setInterval(f,2000,'a',11);
    
        }
    </script>

This will print the message every 2 seconds, if yo uwant to stop it you could use clearInterval to stop the timer :

    <script>
        function f(arg1,arg2) {
            console.log("Function was called with " + arg1 + " and " + arg2);
        }
    
        function c(id) {
            window.clearInterval(id);
        } 
    
        window.onload=function() {
            id1 = window.setInterval(f,2000,'a',11);
            id2 = setTimeout(c,8000,id1);
        }
    </script>

So the timer starts, and a a function c() is called with the interval id to stop it after 8 seconds. Depending on which of the two fuinctions is called first the message is printed 3 or 4 time, and then stops. 
When you put an alert in this function, you can wait as long as you want , the execution will still resume as if no time was spent waiting for the ok button. So it will still wait 2 seconds for the next popup to arrive, and it will still print 3 (or 4 ) times.

## closures

Two one sentence summaries:

* a closure is the local variables for a function kept alive after the function has returned, or
* a closure is a stack-frame which is not deallocated when the function returns (as if a 'stack-frame' were malloc'ed instead of being on the stack!).

The simplest example : 

    :::javascript
    function sayHello2(name) {
        var text = 'Hello ' + name; // Local variable
        var sayAlert = function() { print(text); }
        return sayAlert;
    }
    say2 = sayHello2('Bob');
    say2(); 

Will give : 

    js t.js
    Hello Bob

* you create a function sayHello2, with the name 'Bob'.
* the local variable text = constructed to form "Hello Bob"
* now you __create__ a local function that prints the constructed message, but *you don't call it*
* now you return the variable referencing the function
* back in the outer scope you call say2, which is the returned sayAlert.

Now in a C-like situation, say2 == sayAlert would be a function pointer to a function that has disappeared from the stack, and so would the variable text !

But the closure maintains an environment for the function and variable to be executed and print "Hello Bob". As if you are back in that inner scope again.
