# java cheat sheet

## basic types

The java types are listed at the table below

<table>
<tr><td>boolean<td>true<td>false
<tr><td>char<td>16 bit (unicode)<td>unsigned
<tr><td>byte<td>8 bit<td>signed
<tr><td>short<td>16 bit<td>signed
<tr><td>int<td>32 bit<td>signed
<tr><td>long<td>64 bit<td>signed
<tr><td>float<td>32 bit<td>floating pt
<tr><td>double<td>63 bit<td>floating pt
</table>

## comments

    :::java
    // line comment
    /* block comment */
    /** documentation comment */

## vector iterator

    :::java
    Vector<String>urls = new Vector<String>();
    urls.add("http://nl.wikipedia.org/wiki/Java_2_Enterprise_Edition");
    Iterator it = u.iterator();
    while(it.hasNext()) {
        String s = (String)it.next();
        System.out.println(s);
    }
