<h1><a id="linksys">linksys rv08n</a></h1>

These are the firewall boxes at almende.

<h2>shell access</h2>

Note that you can telnet to 10.10.1.2 and 10.10.1.3. But you enter a restricted program with some useful commands. 
If you want more access, try the command 

<pre>
 shell
</pre>

You get a real shell to browser around the system which seems to be an arm based 'hardhat' linux.

