<h1>Linux</h1>

<h2>version</h2>

If you want to know which version you are running : 

<pre>
lsb_releas -a
</pre>

Resulting in something like : (debian)

<pre>
No LSB modules are available.
Distributor ID: Debian
Description:    Debian GNU/Linux 7.8 (wheezy)
Release:        7.8
Codename:       wheezy
</pre>

Lsb stands for linux base release, on centos you can install : 

    yum install redhat-lsb-core 

To get the command.

<h2>swap space</h2>

Swap space is simply putting memory to disk, and reclaiming it when needed. The trade-off here is of course speed against space.

* On the one hand swapping memory out to disk that you need moments later is very slow. 
* On the other hand having unused memory resident steals space for application that are active and might need that space.

Of course if you have loads of memory and modest needs, keeping everything in-core might be very viable.

Since i tend to build systems with lot's of memory, i try to minimize swapping if possible. Disabling would of course be a bad idea, but linux has the swappity setting for that, two ways of getting the swappiness value : 

    cat /proc/sys/vm/swappiness
    sudo sysctl vm.swappiness

It will most probably give you a value of 60 (%). 0 precent swappiness means do not swap anything until absolutely necesary (out of memory). 100 % swappiness means just copy all memory to disk immediately. Though newer version will have 0 % disable swapping completely and you need to set 1 to have it as a final safeguard.

Setting the swappiness can be done in various ways, such as editing the /proc file, but to change it until next reboot : 

    sudo sysctl -w vm.swappiness=10

Or permanently you could alter /etc/sysctl.conf and add (if it's not there) :

    vm.swappiness = 10

Also you can do this to minimize writes if you have installed linux on an usb stick, but alternatively you could also put the swap space on a real harddisk.

<h2>tools</h2>

<h3>lsblk</h3>

A tool to show the harddisk layout on a machine, with the readable hd/sd names:

<pre>
lsblk
</pre>

<pre>
NAME MAJ:MIN RM SIZE RO TYPE MOUNTPOINT
sdc 8:32 0 232.9G 0 disk
&#9500;&#9472;sdc1 8:33 0 230.3G 0 part
&#9500;&#9472;sdc2 8:34 0 1K 0 part
&#9492;&#9472;sdc5 8:37 0 2.5G 0 part
sde 8:64 0 153.4G 0 disk
sda 8:0 0 279.5G 0 disk
&#9500;&#9472;sda1 8:1 0 161.1G 0 part
&#9500;&#9472;sda2 8:2 0 17.6G 0 part [SWAP]
&#9492;&#9472;sda3 8:3 0 100.8G 0 part /
sdd 8:48 0 149.1G 0 disk
sdb 8:16 0 149.1G 0 disk
&#9500;&#9472;sdb1 8:17 0 74.5G 0 part
&#9492;&#9472;sdb2 8:18 0 7.5G 0 part
</pre>

<h3>blkid</h3>

This one is very handy for fixing mounting problems. The devices handed out by the system may very from boot to boot if you mess with the harddisk order etc. So /dev/sdb3 may not be the same on the next reboot or on another system.

You can circumvent this by using the uuid of the disk which is unique and will be guarenteed to be the same on another boot or another system. You can view the uuid's in /dev/disk/by-uuid : 

    ls /dev/disk/by-uuid 

    A48509048506D0F                      
    743346cb-aa20-47cb-9b6e-fbad68a31994
    4a168dfe-819a-4afc-afc3-6e63ba18e9b8  
    b7a91740-dfb3-486a-9ed3-d01694853cbe
    5b076da0-64e1-4624-a352-eaec4ace5f04  
    d95649c1-268b-4076-b1a6-f4c46b8ef0c6
    64185dd1-913a-41b6-a46a-a604c6abd47c  
    ee707dbb-88c0-4c86-863a-6604dba8a47

But which is which : well blkid will be helpfull :

    blkid

    /dev/sda1: UUID="ee707dbb-88c0-4c86-863a-6604dba8a471" TYPE="ext4" 
    /dev/sdc2: UUID="4a168dfe-819a-4afc-afc3-6e63ba18e9b8" TYPE="swap" 
    /dev/sdf1: UUID="b7a91740-dfb3-486a-9ed3-d01694853cbe" TYPE="ext4" LABEL="Data" 
    /dev/sdg1: UUID="5b076da0-64e1-4624-a352-eaec4ace5f04" TYPE="ext4" 
    /dev/sdc1: UUID="743346cb-aa20-47cb-9b6e-fbad68a31994" TYPE="ext4" 
    /dev/sde1: UUID="d95649c1-268b-4076-b1a6-f4c46b8ef0c6" TYPE="ext4" 
    /dev/sda5: UUID="64185dd1-913a-41b6-a46a-a604c6abd47c" TYPE="swap" 
    /dev/sdd: LABEL="safe" UUID="5672613671605213792" UUID_SUB="10004184306392190584" TYPE="zfs_member" 
    /dev/sdb: LABEL="safe" UUID="5672613671605213792" UUID_SUB="18121094733917345676" TYPE="zfs_member" 
    /dev/sdh2: LABEL="CnMemory" UUID="1A48509048506D0F" TYPE="ntfs" 


### e2label 

Going further on the last topic, it would be nice to label the disk itself in a name you will be able to remember. e2label does that. As seen in the previous section some disks like 'safe' and 'CnMemory' are already labeled by in this case 'zfs' and the manufacturer. The LABEL 'Data' is one i added myself with this command :

    e2label /dev/sdf1 Data

You can now also address the device by it's label, so the entry in /etc/fstab could look either like : 

    /dev/disk/by-uuid/b7a91740-dfb3-486a-9ed3-d01694853cbe       /data       auto    defaults               0       0


or 

    /dev/disk/by-label/Data     /data       auto    defaults               0       0

### paste

Here is a command line for adding the numbers in 1 column in a file :

 cut -d " " -f 1 noorwegen.txt | paste -sd+ - | bc

Cut should be well known, it says -(d)elimiter is " " then give me column (-f) 1

So it would in this case print all columns 1 in my noorwegen.txt file :

<pre>
53.82
229.02
6.72
6.78
17.06
56.49
9.96
45.41
171.62
335.32
114.60
19.06
113.46
6.74
10.11
39.31
17.73
26.59
221.60
3.31
48.18
13.88
122
268.54
</pre>

Now the paste command would turn this into : 

    cut -d " " -f 1 Documents/noorwegen.txt | paste -sd+

    53.82+229.02+6.72+6.78+17.06+56.49+9.96+45.41+171.62+335.32+114.60+19.06+113.46+6.74+10.11+39.31+17.73+26.59+221.60+3.31+48.18+13.88+122+268.54

Paste -s will say paste all these lines in serial (one line) -d+ means alter the default delimeter (TAB) into a + sign. 

Now to actually calculate it use bc : 

### bc 

The last command is basic calculator, and it just performs the formula :

    cut -d " " -f 1 Documents/noorwegen.txt | paste -sd+ | bc
    
    1957.31

You could say  : 

    echo "7*7+44" | bc
   
    93

Normally you use it as an interactive tool : type bc and you can calculate away.
