<h1>mail</h1>

Here is a section about mail in general, and about setting up a mail server. My test is mainly for an internal server used to test the smtp module of askmet /libego.

<h2>mailx</h2>

As a mail agent i used mail (the command line program) but if you lost that (for instance since removing exim4 also seems to remove mail) : it is named mailx in aptXX.

<h2>postfix</h2>

I set up postfix on both the server and the client, simply by apt-getting it and using the 'internet-mail' option (the default) and filling in the correct .klopt.org domain names when asked.

This directly worked: my server is dynamix-177.klopt.org, when typing

<pre>
 mail kees@dynamix-177.klopt.org.net 
</pre>

The mail entered reached dynamix-177 without problems, read it with 'mail' logged in to the kees account. here is a log of the 'working' communication (serverside):

<pre>
 Jan 10 13:58:46 dynamix-177 postfix/smtpd[9757]: 20B6283C4CF: client=dynamix-212.klopt.org[10.10.180.212]
 Jan 10 13:58:46 dynamix-177 postfix/cleanup[9796]: 20B6283C4CF: message-id=<courier.45A3AC39.000021F8@nochsteedsnix>
 Jan 10 13:58:46 dynamix-177 postfix/qmgr[6914]: 20B6283C4CF: from=<kees@klopt.org>, size=565, nrcpt=1 (queue active)
 Jan 10 13:58:46 dynamix-177 postfix/local[9798]: 20B6283C4CF: to=<kees@dynamix-177.klopt.org>, relay=local, delay=0.04, delays=0.01/0/0/0.02, dsn=2.0.0,  status=sent (delivered to command: procmail -a "$EXTENSION" )
 Jan 10 13:58:46 dynamix-177 postfix/qmgr[6914]: 20B6283C4CF: removed
</pre>

The client logs are almost identical, so left out here. It seems postfix does use smtp to send the mail, this is what i use in askmet to send mail as well, so using dynamix-177.klopt.org as smtp server and kees@dynamix-177.klopt.org as recepient everything works out of the box.

Big points for postfix !!

<h2>exim</h2>

<h3>internet mail</h3>

Since this is the default mailer already installed (only mailing locally!), here is how to setup mailing outside for a machine that has itself an extrenal ip address.

<pre>
 dpkg-reconfigure exim4-config
</pre>

Choose the internet option just like postfix.

<h3>using smarthost</h3>

If however you have an internal machine, you better use a smarthost in your setup. It is possible to setup the smarthost as well, but i chose for the easier solution using google for the relaying. 

http://www.manu-j.com/blog/wordpress-exim4-ubuntu-gmail-smtp/75/

It explains it perfectly, but for 404 reasons i will repeat it here :

<h5>Step 1</h5>

<ul>
<li>Run dpkg-reconfigure exim4-config
<li>Choose mail sent by smarthost; received via SMTP or fetchmail
<li>Type System Mail Name: e.g. company.com
<li>Type IP Adresses to listen on for incoming SMTP connections: 127.0.0.1
<li>Leave Other destinations for which mail is accepted blank
<li>Leave Machines to relay mail for: blank
<li>Type Machine handling outgoing mail for this host (smarthost): smtp.gmail.com::587
<li>Choose NO, don't hide local mail name in outgoing mail.
<li>Chose NO, don't keep number of DNS-queries minimal (Dial-on-Demand).
<li>Choose mbox
<li>Choose NO, split configuration into small files
<li>Mail for postmaster. Leaving blank will not cause any problems though it is not recommended
</ul>

<h5>Step 2</h5>

<ul>
<li>Open the file /etc/exim4/exim4.conf.template
<li>Find the line .ifdef DCconfig_smarthost DCconfig_satellite and add the following in that section
<pre>
   send_via_gmail:
       driver = manualroute
       domains = ! +local_domains
       transport = gmail_smtp
       route_list = * smtp.gmail.com
</pre>
<li>If you have any other smarthost defined with "domains = ! +local_domains" remove that smarthost.
<li>Find the "begin authenticators". In that section add the following
<pre>
  gmail_login:
       driver = plaintext
       public_name = LOGIN
       client_send = : yourname@gmail.com : YourGmailPassword
</pre>
<li>Make sure you have no other authenticators with the same public_name (LOGIN). Comment them out if needed (Thanks Jakub for reminding me)
<li>Find the comment  "transport/30_exim4-config_remote_smtp_smarthost". In that section add
<pre>
 gmail_smtp:
       driver = smtp
       port = 587
       hosts_require_auth = $host_address
       hosts_require_tls = $host_address
</pre>
</ul>

<h5>Step 3</h5>

<ul>
<li>Run update-exim4.conf
<li>Do /etc/init.d/exim4 restart
</ul>

That should be it. You can test by using a command line mail client.

<h2>mail queueu</h2>

I had a problem with mjd where we got on a blocked list probabaly because of continues retries of some example messages. Listing the queue content can be done with :

<pre>
 mailq
</pre>

Result

<pre>
 4d   918 1MLGFB-00005f-1r <kees@mjd.customers.luna.net>
        D kees@klopt.org
          mary@example.com
          kelly@example.com
          birthdayarchive@example.com
          birthdaycheck@example.com

 4d   918 1MLGFR-00005l-23 <kees@mjd.customers.luna.net>
        D kees@klopt.org
          mary@example.com
          kelly@example.com
          birthdayarchive@example.com
          birthdaycheck@example.com
</pre>

Deleting items from the queue :

<pre>
 exim4 -Mg 1MLGFB-00005f-1r
 exim4 -Mg 1MLGFR-00005l-23
</pre>

<h2>gmail</h2>

Ok.. i'm already hating google more than microsoft.
They are closing in on apple....

It is totally not possible to use different gmail accounts interchangably, after you have been logged out from one account for the 100th time, you will see that.

When you want to forward your messages to one account, you are in trouble still.
First there are no folders, only labels. And it takes some fiddling to get that working like you might expect: 

<ul>
<li>forward all mail from the other account(s)
<li>make those mail appear under a seperate folder(label) 
<li>and for god sake do not mark them as read
</ul>

First you need to define the label :

Choose :"Create new label" in the left part, or click 'more' to reveal that link.
Add a label for each of your mail adresses or one if you like that better. It will appear in the left bar, you can there add a color by clicking on arrow next to it.<br>
If you also choose here to only show the label in the label list 'only when unread', it will be under the 'more/less' when there is no new mail, and above/visible when you have new mail.<br>
<br>
Then you need a filter, under settings (under the 'gear' icon at the right) choose 'filters' and create a new filter for each mail address you forwarded. Fill that forwarded address in the to field and click 'continue'. In the next screen choose 'apply label' and you can find you created label in the dropdown box. But do not forget to also check 'skip the inbox (archive it)' if of course you only want this mail to appear in it's labels 'folder'.<br>
<br>
<br>
Now you also have to manage the forwarding itself : log in to that account and go to the 'forwarding and.. etc' page. Simply add the forwarding address. Logout and back into the receiving account again. You should have received a validation mail, so acknowledge that. Chances are you now have to go back to the other account again because the forwarding was disabled and you have to enable it again. <br>
<br>
Now <b>do not make the mistake of testing it from the receiving account</b> because all these messages will be marked as 'read' for some reason (because you sent it yourself?, and thus already read it ??). <br>
Wait for somebody else to mail it or test it from another account.

