<h1>Documents</h1>

This site was built with the django framework, here is a description of how it is built up. And how to regenerate the database.

<h2>Database</h2>

Of course the database format is built 'django'-style by creating a Page object and letting django do it's magic. However, the data for the (mysql) tables is generated from existing html pages. Since i like vim as an editor, i will do most changes and addition by editing these files and reimporting them. There is support for changing the content on-line, but that will be used sparingly.

So there is a need to import the files into the django page database, and also an export to have the on-line changes reflected in the base files. The first is already implemented using this script. (frozen version, the create_hierarchy tuple will most likely be altered).

<pre>
<code>
:::python
#!/usr/bin/python
import os
from os import path
import glob
import sys
import json
import _mysql
import MySQLdb as mdb

def empty_table(con):
    with con:
        cur = con.cursor()
        cur.execute("TRUNCATE TABLE `kloptwiki_page`")

try:
    con = mdb.connect('localhost', 'root', 'zoppoz', 'django')
    #con.query("SELECT VERSION()")
    #result = con.use_result()

    #print "MySQL version: %s" % \
        #result.fetch_row()[0]
    
except _mysql.Error, e:
    print "Error %d: %s" % (e.args[0], e.args[1])
    sys.exit(1)

def insert_top():
    # first insert the top page, to be able to linke the rest
    for filename in glob.iglob(path.join('top','*.html')):
        with open(filename) as f:
            content = f.read()
            sp = path.splitext(path.basename(filename))
            print (sp[0])
            
            with con:
                cur = con.cursor()
                esceep = content.replace("'","\\'");
                #print esceep
                cur.execute("INSERT INTO kloptwiki_page(name,display,content,parent_id) VALUES('" + sp[0] + "','','" + esceep + "','top')")

def insert_rest():
    # than insert the restin the current directory
    for filename in glob.iglob(path.join('.','*.html')):
        with open(filename) as f:
            content = f.read()
            sp = path.splitext(path.basename(filename))
            print (sp[0])
            
            with con:
                cur = con.cursor()
                esceep = content.replace("'","\\'");
                #print esceep
                cur.execute("INSERT INTO kloptwiki_page(name,content,parent_id) VALUES('" + sp[0] + "','" + esceep + "','top')")

# to be able to recreate the hierarchy we need this as well
def create_hierarchy():
    hierarchy = {
    'top':['top','fedora'],   # just to keep top out of the main menu
    'main':['main','fedora'],   # just to keep top out of the main menu
    'asterisk':['asterisk','bag'],
    'audiovideo':['audio video','bag'],
    'bag':['bag','bag'],
    'compilation':['compilation','bag'],
    'data':['data','top'],
    'django':['django','bag'],
    'dmidecode':['dmidecode','hardware'],
    'fedora':['fedora','bag'],
    'filesystems':['filesystems','bag'],
    'freepbx':['freepbx','bag'],
    'general':['general','top'],
    'geocoding':['geocoding','bag'],
    'hardware':['hardware','top'],
    'ipv6':['ipv6','networking'],
    'isdn4linux':['isdn4linux','hardware'],
    'klopt':['klopt','bag'],
    'linux':['linux','bag'],
    'linuxservice':['linuxservice','bag'],
    'mongodb':['mongodb','data'],
    'multiarch':['multiarch','linux'],
    'networking':['networking','linux'],
    'new':['new','bag'],
    'ntmode':['ntmode','hardware'],
    'oracle_cpp':['oracle cpp','oracle'],
    'oracle_dev':['oracle development','oracle'],
    'oracle':['oracle db','data'],
    'oracle_install':['oracle installation','oracle'],
    'oracle_java':['oracle java','oracle'],
    'oracle_php':['oracle php','oracle'],
    'oracle_python':['oracle python','oracle'],
    'osrm':['osrm','programming'],
    'osrmtech':['osrmtech','programming'],
    'programming':['programming','top'],
    'python':['python','programming'],
    'software':['software','top'],
    'solaris':['solaris','bag'],
    'swgeneral':['swgeneral','bag'],
    'template':['template','bag'],
    'trouble':['trouble','bag'],
    'utilities':['utilities','bag'],
    'web':['web','bag'],
    'youtube':['youtube','bag'],
    'zaptel':['zaptel','hardware'],
    'ingres':['ingres','data'],
    }
    for key,val in hierarchy.iteritems():
        print (key)
        with con:
            cur = con.cursor()
            qry = "UPDATE kloptwiki_page SET parent_id='" + val[1] + "',display='" + val[0] + "' WHERE name='" + key + "'"
            print (qry)
            cur.execute(qry);
        

empty_table(con)
insert_top()
insert_rest()
create_hierarchy()
</code>
</pre>

<h3>recreate database</h3>

Run the above script and beware <b>it empties the current page table</b>

The action performed are :
<ul>
<li>whipe the data from the Page model, but not the table structure !
<li>place the top/top.html file into the database referenceing itself as parent
<li>loop over all html files in the current directory, and add them also under "top" to resolve unsatisified dependencies (parent_id).
<li>loop over the create_hierarchy tuple and reset the parent to the one in that tuple, also assign a display name for the topic.
</ul>

<h3>recreate hierarchy</h3>

The menustructure for the documents is reflected on the lefthand-side menu's which are displayed. The hierarchy for this is maintained in the script's create_hierarchy tuple. Please be sure that when you add a new page, you also add a new entry in this tuple and place it under a suitable parent. If you feel the need to make a new top-group, make the parent named "top".

<h2>cascading style sheets</h2>

Since i use the same style as the main website, the css file is shared as well, it is hardwired to <a href="klopt.org/styles.css">klopt.org/style.css</a>.
This is set in kloptwiki/templates/base.html as :

<code>
...
 <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/style.css">
...
</code>


<h2>site search</h2>

To search the sites pages, we use a trick described <a href="http://julienphalip.com/post/2825034077/adding-search-to-a-django-site-in-a-snap">here</a>.
It is based on the Q object from django's Model library. Q stands for Query and it can be used to query your model. 

