# Maven

Maven is not only a build tool. it can do a lot more, but i tend to use it for that mostly so that is what this focusses on.

A simple quick guide can be found [here](http://maven.apache.org/guides/getting-started/maven-in-five-minutes.html)

## installation

As always i first attempt to take the simple apt-get, so 

    apt-get install maven
    mvn -v

## creating a project

Maven has a repository packed with possible solutions for problems, and mvn generate will list them all for you : 

    mvn archetype:generate

Try it, at the time of writing it went all the way down to 839 solutions. And after that it suggests that i choose # 336 :

    336: remote -> org.apache.maven.archetypes:maven-archetype-quickstart (An archetype which contains a sample Maven project.)

Why not, and why not take the default in the next options as well, ut suggests the newest version. But after that you need to provide some real input.

* groupId : this is a unique name, and resolves to a working group. Maybe a department of a company. The quick guide's example is -DgroupId=com.mycompany.app. So i will choose for org.klopt.sandbox.
* artifactId : this resolves roughly to a module or application name. The quick  guide named this -DartifactId=my-app. So i called it maventest
* version : a string representing the version. hey man, i just started out so 0.1 for me 
* package : maven allready fills in the groupId here, so i will go with that : org.klopt.sandbox

After a final confirmation, you will have a directory structure called /maventest'. It looks like this :

<pre>
maventest/
&#9500;&#9472;&#9472; pom.xml
&#9492;&#9472;&#9472; src
    &#9500;&#9472;&#9472; main
    &#9474;&nbsp;&nbsp; &#9492;&#9472;&#9472; java
    &#9474;&nbsp;&nbsp;     &#9492;&#9472;&#9472; org
    &#9474;&nbsp;&nbsp;         &#9492;&#9472;&#9472; klopt
    &#9474;&nbsp;&nbsp;             &#9492;&#9472;&#9472; sandbox
    &#9474;&nbsp;&nbsp;                 &#9492;&#9472;&#9472; App.java
    &#9492;&#9472;&#9472; test
        &#9492;&#9472;&#9472; java
            &#9492;&#9472;&#9472; org
                &#9492;&#9472;&#9472; klopt
                    &#9492;&#9472;&#9472; sandbox
                        &#9492;&#9472;&#9472; AppTest.java
</pre>

Pivot in this is the pom.xml file. It looks like this :

        <project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
          <modelVersion>4.0.0</modelVersion>

          <groupId>org.klopt.sandbox</groupId>
          <artifactId>maventest</artifactId>
          <version>0.1</version>
          <packaging>jar</packaging>

          <name>maventest</name>
          <url>http://maven.apache.org</url>

          <properties>
            <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
          </properties>

          <dependencies>
            <dependency>
              <groupId>junit</groupId>
              <artifactId>junit</artifactId>
              <version>3.8.1</version>
              <scope>test</scope>
            </dependency>
          </dependencies>
        </project>

To use it you can now run 'goals' using this file. Since we installed 336: A sample application, also your sourcefiles App.java And AppTest.java contains some working code, albeit minimal : 

    :::java
    package org.klopt.sandbox;
    
    /**
    * Hello world!
    *
    */
    public class App
    {
        public static void main( String[] args )
        {
            System.out.println( "Hello World!" );
        }
    }

This is the main file App.java. AppTest.java is used for unit testing and contains some more functions. But to build them both, run :

    mvn package

It will create a new tree called 'target' which contains your newly built classes. Run with : 

    java -cp target/maventest-0.1.jar org.klopt.sandbox.App

Luckily bash command completion (tab) helps with the class hierarchy string.

## maven goals / phases

The 'mvn package' command is called a goal, or phase or lifecycle. Here are a couple more usefull goals.

    mvn clean

Removes the target tree and returns to the begin state.

    mvn compile
    java -cp target/classes org.klopt.sandbox.App 

Just generates the App.class tree, so target.classes.org.klopt.sandbox.App.class.

    mvn test

Runs the tests in AppTest.java and also builds that first if needed.

    mvn install

Install the package into the local repository, for use as a dependency in other projects locally. In my case it ended up in "/home/kees/.m2/repository/"

    mvn deploy

Done in an integration or release environment, copies the final package to the remote repository for sharing with other developers and projects.

    mvn site
    google-chrome target/site/index.html
     
Nice one: generates a website containing the doucmentation for instance. The site will be under 'target/site'.

For a lot of these, you will need to have some patience the first time, because everything needed is downloaded at first use.

For a more useful example see the [spring page](/doc?page=spring)


## showing dependencies

This is a nifty one : 

<pre>
 mvn dependency:tree
</pre>

<pre>
[INFO] Scanning for projects...
[INFO]                                                                         
[INFO] ------------------------------------------------------------------------
[INFO] Building Test 1.0
[INFO] ------------------------------------------------------------------------
[INFO] 
[INFO] --- maven-dependency-plugin:2.1:tree (default-cli) @ Test ---
[INFO] org.klopt.test:Test:jar:1.0
[INFO] +- junit:junit:jar:3.8.1:test
[INFO] +- org.springframework:spring-beans:jar:4.2.1.RELEASE:compile
[INFO] |  \- org.springframework:spring-core:jar:4.2.1.RELEASE:compile
[INFO] |     \- commons-logging:commons-logging:jar:1.2:compile
[INFO] \- org.springframework:spring-context:jar:4.2.1.RELEASE:compile
[INFO]    +- org.springframework:spring-aop:jar:4.2.1.RELEASE:compile
[INFO]    |  \- aopalliance:aopalliance:jar:1.0:compile
[INFO]    \- org.springframework:spring-expression:jar:4.2.1.RELEASE:compile
[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 1.002s
[INFO] Finished at: Fri Sep 18 14:58:12 CEST 2015
[INFO] Final Memory: 10M/478M
[INFO] ------------------------------------------------------------------------
</pre>

### executable jar files 

Now here is a number of solutions, in my opinion progressively usefull.
But all will be showed for completeteness.

#### MANIFEST

This is an option to prevent you from having to type :

 java -cp target/Test.jar ClassName

    :::xml
    <project>
    ...
    <build>
        <plugins>
         <plugin>
            <groupId>org.apache.maven.plugins</groupId>
            <artifactId>maven-jar-plugin</artifactId>
            <version>2.6</version>
            <configuration>
            <archive>
                <index>true</index>
                <manifest>
                <addClasspath>true</addClasspath>
                </manifest>
                <manifestEntries>
                <mode>development</mode>
                <url>${project.url}</url>
                <key>value</key>
                </manifestEntries>
            </archive>
            </configuration>
            ...
        </plugin>
        </plugins>
    </build>
    ...
    </project>
    </pre>

And if filled in correctly now this would suffice :

 java -jar target/Test.jar

### maven assembly plugin

 [apache maven assembly plugin](http://maven.apache.org/plugins/maven-assembly-plugin)

Or on mykong : [mykong maven assembly plugin](http://www.mkyong.com/maven/create-a-fat-jar-file-maven-assembly-plugin)

Nice feature, though may i directly point to shade (see next chapter) as a better replacement. 

Here is a complete pom.xml file for compiling a spring example program.

    :::xml
    <project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>

  <groupId>org.klopt.test</groupId>
  <artifactId>Test</artifactId>
  <version>1.0</version>
  <packaging>jar</packaging>

  <name>Test</name>
  <url>http://maven.apache.org</url>

  <properties>
    <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
  </properties>

  <dependencies>
    <dependency>
      <groupId>junit</groupId>
      <artifactId>junit</artifactId>
      <version>3.8.1</version>
      <scope>test</scope>
    </dependency>
    <dependency>
      <groupId>org.springframework</groupId>
      <artifactId>spring-beans</artifactId>
      <version>4.2.1.RELEASE</version>
    </dependency>
    <dependency>
    <groupId>org.springframework</groupId>
      <artifactId>spring-context</artifactId>
      <version>4.2.1.RELEASE</version>
    </dependency>
  </dependencies>
    <build>
         <resources>
            <resource>
                <directory>
                        resources
                </directory>
            </resource>
        </resources>

        <plugins>
    <!-- Maven Assembly Plugin -->
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-assembly-plugin</artifactId>
                <version>2.4.1</version>
                <configuration>
                    <!-- get all project dependencies -->
                    <descriptorRefs>
                        <descriptorRef>jar-with-dependencies</descriptorRef>
                    </descriptorRefs>
                    <!-- MainClass in mainfest make a executable jar -->
                    <archive>
                      <manifest>
                        <mainClass>org.klopt.test.App</mainClass>
                      </manifest>
                    </archive>
                </configuration>
                <executions>
                  <execution>
                    <id>make-assembly</id>
                 <!-- bind to the packaging phase -->
                    <phase>package</phase>
                    <goals>
                        <goal>single</goal>
                    </goals>
                  </execution>
                </executions>
            </plugin>
        </plugins>
    </build>
</project>

The core work is in the build section, the descriptorRefs must always contain that exact name : jar-with-dependencies, and it will generate a file called : 
The transformer part will make the jar executable by running the class given, and the resources directory makes sure the program can find Beans.xml. [see here](https://maven.apache.org/plugins/maven-resources-plugin/examples/include-exclude.html)

<name>-<version>-jar-with.dependencies.jar
So in this example : 

    target/Test-1.0-jar-with-dependencies.jar

Now run the package target, and just to show you the way to a different pom file : 

    mvn -f assembly.xml package

The old file is still there and you can verify that it contains a lot more : 

    -rw-r--r-- 1 kees kees    4528 Sep 19 14:47 Test-1.0.jar
    -rw-r--r-- 1 kees kees 3590942 Sep 19 14:47 Test-1.0-jar-with-dependencies.jar

Or dump the contents with : 

    jar tf target/Test-1.0-jar-with-dependencies.jar

### maven shading plugin 

This is constantly mentioned as a better replacement for the maven assembly plugin because it handles name clashes better. And it relocates so you could call this the linker for jar files.

Again the [apache version](https://maven.apache.org/plugins/maven-shade-plugin/)
And the [mykong version](http://www.mkyong.com/maven/create-a-fat-jar-file-maven-shade-plugin/)

The complete po.xml file : 

:::xml
    <project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    
    <groupId>org.klopt.test</groupId>
    <artifactId>Test</artifactId>
    <version>1.0</version>
    <packaging>jar</packaging>
    
    <name>Test</name>
    <url>http://maven.apache.org</url>
    
    <properties>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
    </properties>
    
    <dependencies>
        <dependency>
        <groupId>junit</groupId>
        <artifactId>junit</artifactId>
        <version>3.8.1</version>
        <scope>test</scope>
        </dependency>
        <dependency>
        <groupId>org.springframework</groupId>
        <artifactId>spring-beans</artifactId>
        <version>4.2.1.RELEASE</version>
        </dependency>
        <dependency>
        <groupId>org.springframework</groupId>
        <artifactId>spring-context</artifactId>
        <version>4.2.1.RELEASE</version>
        </dependency>
    <build>
       <resources>
        <resource>
        <directory>
            resources
        </directory>
        </resource>
    </resources>
        <plugins>
        <!-- Maven Shade Plugin -->
        <plugin>
          <groupId>org.apache.maven.plugins</groupId>
          <artifactId>maven-shade-plugin</artifactId>
          <version>2.3</version>
          <executions>
             <!-- Run shade goal on package phase -->
            <execution>
            <phase>package</phase>
            <goals>
                <goal>shade</goal>
            </goals>
            <configuration>
              <transformers>
                <!-- add Main-Class to manifest file -->
                                <transformer implementation="org.apache.maven.plugins.shade.resource.ManifestResourceTransformer">
                    <mainClass>org.klopt.test.App</mainClass>
                </transformer>
              </transformers>
            </configuration>
              </execution>
          </executions>
        </plugin>
     </plugins>


    </build>
    </project>


## tomcat 

See tomcat page for a maven example.
