<h1>Mediawiki</h1>

Fo now, i abandoned mediawiki solely because of the problem with saving changes and the lack of any solutions. The problem is addressed multiple times on the interwebz, but no solution is given. In fact i transferred all mediawiki pages to this website. However in the light of "never throwing away information" this section is kept.

<h2>mediawiki crash</h2>

Media wiki is the wiki system on miraculix http://miraculix/wiki.
So [wiki:putty login] to miraculix now.

<h3>symptom </h3>

Most (or all) pages of the wiki give errors about mysql queries, one specific :

<pre>
 "MediaWikiBagOStuff::_doinsert". MySQL returned error "1062: Duplicate entry
</pre>


<h3>cause </h3>

Real cause unknown, but it certainly involves the table wikidb.objectcache. 
My guess is that there was binary data in there that mysql could not cope with.

<h3>cure </h3>

Since the final solution was a bit drastic, you might first want to [wiki:mysql_login login to mysql] and do :

<pre>
 mysql&gt; use wikidb;
 mysql&gt; repair table objectcache;
</pre>

However that did not work for me, because it kept insisting the table was fine. So what i did was :

<pre>
miraculix&gt; mysqldump -u root -p wikidb &gt; wikidb.mysql
miraculix&gt; mysql -u root -p;
mysql&gt; use wikidb;
mysql&gt; drop table objectcache;
mysql&gt; quit;
miraculix&gt;  mysql -u root -p &lt; objectcache.mysql
</pre>

I made the file objectcache.mysql by picking the create table objectcache statement from wikidb.mysql and putting use wikidb before it :

<pre>
use wikidb;

DROP TABLE IF EXISTS `objectcache`;
CREATE TABLE `objectcache` (
  `keyname` varchar(255) character set latin1 collate latin1_bin NOT NULL default '',
  `value` mediumblob,
  `exptime` datetime default NULL,
  UNIQUE KEY `keyname` (`keyname`),
  KEY `exptime` (`exptime`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
</pre>

Please do the same operation again, because this table format might have changed.
You can now go on with an empty objectcache, but a working mediawiki.

<h2>upgrade database </h2>

<h3>symptom</h3>

 A database query syntax error has occurred. This may indicate a bug in the software. The last attempted database query was:
 (SQL query hidden)
 from within function "Revision::fetchFromConds". MySQL returned error "1054: Unknown column 'rev_len' in 'field list' (localhost)".

<h3>cause </h3> 

This happened while migrating the mediawiki installation from a 1.7 version to 1.15. 
Copying the wiki_db database to the new installation is not working obviously. 

<h3> cure </h3> 

First copy the example AdminSettings.php script :

<pre>
 cp /usr/share/doc/mediawiki/examples/AdminSettings.sample /etc/mediawiki/AdminSettings.php
</pre>

and alter these lines to contain working access :

<pre>
 $wgDBadminuser      = '';
 $wgDBadminpassword  = '';
</pre>

Then run the script update.php in the maintanence directory.

<pre>
 cd /usr/share/mediawiki/maintenance
 php ./update.php
</pre>

