# mongodb

## installation

In linux mint, it installs out of the box : 

    apt-get install mongodb

Though you might get some issues with libboost. A first version of [[osrm]] needed to be compiled wit libboost 46 (no higher) and that conflicts with the mongodb installation which tries to install version 48.
But since osrm has fixed that problem, go for libboost-48 and update your osrm sources.
If no errors, the mongodb daemon should be running, try to connect with the command line tool mongo :

    mongo

<h1> quick start </h1> 

Now try out the web interface at port 28017, http://localhost:28017/
A very terse set of instructions : 

    :::mongodb
    mongo
    use newdb;
    show dbs;
    row = { "member" : "value" }
    db.collection.insert(row)
    show collections
    db.collection.find()
    db.collection.remove()
    show collections
    db.collection.drop();
    show collections
    use newdb
    db.dropDatabase()
    show dbs
    exit

<h3> overview </h3> 

The top object is mongodb, below that databases, then collections, then documents. I will compare each level when possible with a mysql equivalent.

<h4> mongodb </h4> 

like mysql, it is the database system, or the server, and can hold multiple databases.

<h4> database </h4>

Same as database in mysql, it holds collactions instead of tables.

<h4> collection </h4> 

Closest object in mysql would be table, but of course it has no table structure, because mongodb enforces no structure to documents.

<h4> Document </h4> 

Closest object in mysql would be a table row.

<h1> detailed </h1>

<h4> mongodb </h4> 

like mysql, it is the database system, or the server, and can hold multiple databases.

<h4> database </h4>

Same as database in mysql, it holds collactions instead of tables.

As database is created when you use it so :

    use bag
    show dbs

Yields:

    bag (empty)
    mydb 0.203125GB

<h4> collection </h4> 

Closest object in mysql would be table, but of course it has no table structure, because mongodb enforces no structure to documents.

If you did the use bag commands before, you will probably get nothing when showing the collections :

    show collections

Again, collections are created when used, so read 'documents' below first or just do :
 
    j = { name : "mongo" }
    k = { x : 3 }
 
These are 2 documents, insert them into (and create along the way) the collection coll

    db.coll.insert(j)
    db.coll.insert(k)
    db.coll.insert(k)

Yes, the db is mandatory, and it is not the name of the database, just always "db". After this you will have a collection:

    show collections

<pre>
 coll
 system.indexes
</pre>

system.indexes was not there before either, it contains the indexes like :

    db.system.indexes.find()

Gives :

    :::JSON
    { "v" : 1, "key" : { "_id" : 1 }, "ns" : "bag.testData", "name" : "_id_" }
    { "v" : 1, "key" : { "_id" : 1 }, "ns" : "bag.coll", "name" : "_id_" }

And the command :

    db.coll.find()

whill show you your coll collection:

    :::mongodb
    { "_id" : ObjectId("51ed584d395b6f70b21b68a9"), "name" : "mongo" }
    { "_id" : ObjectId("51ed5850395b6f70b21b68aa"), "x" : 3 }
    { "_id" : ObjectId("51ed5851395b6f70b21b68ab"), "x" : 3 }

I inserted k twice, and you see that it get's a different id, but is the same for the remainder of the document.

<pre>
 db.collection.remove()
</pre>

this will delete the contents of the collection, but it's still visible with show collections

<pre>
 db.collection.drop()
</pre>

will whipe that entry as well.

<h4> Document </h4> 

Closest object in mysql would be a table row.

How to create is already shown above, but in detail it is a freeform json document and it will get a generated unique id when inserting it into a collection.

Actually... it is not json but [[bson]]


<h4> import and export </h4> 

To get bulk data into mongodb, these commands come in handy.
Let's start with mongoexport, beacuse that will give a file with the correct format to import again.

<pre>
 mongoexport --db bag --collection coll --out out.json
</pre>


It will give something like this (not unexpectedly ;) : 

<pre>
 { "_id" : { "$oid" : "51ed584d395b6f70b21b68a9" }, "name" : "mongo" }
 { "_id" : { "$oid" : "51ed5850395b6f70b21b68aa" }, "x" : 3 }
 { "_id" : { "$oid" : "51ed5851395b6f70b21b68ab" }, "x" : 3 }
</pre>

So it is my gues that mongoimport will accept this as input :

    :::JSON
    { "name" : "newmongo" }
    { "x" : 33 }
    { "newfield" : 88 }


My next guess was almost correct, but the file parameter is --file, not --in so :

<pre>
 mongoimport --db bag -- collection coll --file in.json
</pre>

And that works.

<h4> searching </h4>

mongodb uses regular expressions for this. Some examples :

<pre>
 db.street.find()
</pre>

Gives tries to return all records, but it's limited to the first x (?) records. The x seems to be a screenfull , you can see it's not all records by the closing statement "has more". 

You can limit it explictly, but it will stil not show more than it's own limit: 

<pre>
 db.street.find().limit(12)
</pre>

You can also apply a direct search, note that the key can be without quotes but the value was entered as a string and the quotes are needed.

<pre>
 db.street.find( {name : "Biesenhof"} )
</pre>

Result : 

<pre>
 { "_id" : ObjectId("52028c76483cd6bd4c5a2e64"), "id" : "1883300000000160", "name" : "Biesenhof", "type" : "Weg", "city_id" : "2819" }
 { "_id" : ObjectId("52028c76483cd6bd4c5a2e65"), "id" : "1883300000000160", "name" : "Biesenhof", "type" : "Weg", "city_id" : "3512" }
</pre>

It appears two times, probably because this is a road ("Weg") between two cities (both records have a different city_id).

<h4> wildcards </h4>

You can use regulart expressions to do some fuzzy search : 

    db.authors.find({name: {$regex: '^a'});

Also to search for a value case-insensitive, use somethimg like :

    db.number.find({postcode:{$regex: "3151aw", $options: '-i'} })

Though keep in mind it will be rather slow, for full speed convert everything (data and search) to one case, either upper or down.

<h3> indexes </h3> 

Or is it indices , don't care...

I take an example of the bag database, in which all postalcodes with all numbers occupy one document in the database so :

<pre>
 3151AW 248 
 3151AW 246
</pre>

Me and the neighbours are bot one 'row' in the database. A query on this with a bogus postal code (lower case 3151aw was enough already) took 6 seconds. That's not why I chose mongodb, it should be able to cope with shitloads of data. But here is how to add an index :

<h4> creating indexes </h4>

Don't use ensureIndex() anymore, it is deprecated since version 3.0.0.
The new command is createIndex().
 
<pre>
 db.number.createIndex( { "postcode" : 1 })
</pre>

The 1 means ascending order (s you can probably guess what -1 will do 8)

The same find operation : 

<pre>
 db.number.find({postcode:"3151aw" }
</pre>

Now returns instantly although it could not find anything.
Do we need another index on number ? Well this also return directly (WITH a result) :

<pre>
 db.number.find({postcode:"3151AW", nummer:248 }
</pre>

<h4> index info </h4>

Showing your index can be done with :

    db.number.getIndexes()

Result :

    :::JSON
    [
            {
                    "v" : 1,
                    "key" : {
                            "_id" : 1
                    },
                    "ns" : "bag.number",
                    "name" : "_id_"
            },
            {
                    "v" : 1,
                    "key" : {
                            "postcode" : 1
                    },
                    "ns" : "bag.number",
                    "name" : "postcode_1"
            }
    ]

As you can see, there is another index on "_id" (it is default for all collections).

<h4> index deletion </h4> 

Deleting with : 

<pre>
 db.number.dropIndex( { "postcode" : 1 } )
</pre>

<h4>geographical indexes</h4>

First of all, this will not work in the debian default mongo installation (2.0.6) you will need at least version 2.6. 
You can install it by adding this to your repository : 

    echo 'deb http://downloads-distro.mongodb.org/repo/debian-sysvinit dist 10gen' | sudo tee /etc/apt/sources.list.d/mongodb.list

And then install mongodb-org

    apt-get update
    apt-get install mongodb-org

Now you're not done of course, because the client libs will not work anymore. Sigh...
A newer version of these are at <a href="https://github.com/mongodb/mongo-cxx-driver/">mongodb.org</a> But it needs to be compiled from source. However that can't be called a hard job, but it takes some time :

    wget https://github.com/mongodb/mongo-cxx-driver/archive/legacy-0.0-26compat-2.6.3.tar.gz
    tar -zxvf ~/Downloads/mongo-cxx-driver-legacy-0.0-26compat-2.6.3.tar.gz
    cd mongo-cxx-driver-legacy-0.0-26compat-2.6.3/

Now this hideous compile line is needed to get things both compiled and installed : 

    sudo scons --full --use-system-boost --prefix /usr install-mongoclient

Why is beyond me, for instance the install-mongoclient target will not be recognized without the --full flag, and more of that nonsense ... just do it.

To create a geographical index, use 

    db.house.createIndex({coords:"2dsphere"})

To delete :

    db.house.dropIndex({coords:"2dsphere"})

<h2>GUI</h2>

This one seems to do allright : mongodb-express. It can be installed with npm, but first i needed to upgrade nodejs to a recent version :

    sudo npm cache clean -f
    sudo npm install -g n
    sudo n stable

plus ! since after this is still said V0.x.x :

    rm /us/bin/node
    sudo ln -sf /usr/local/n/versions/node/<VERSION>/bin/node /usr/bin/node 

Now install mongodb-express with : 

    npm update
    npm install -9 mongo-express

This will install it in : 

    cd /usr/local/lib/node_modules/mongo-express

There copy the config example file and edit :

    cp config.default.js config.js 
    vim config.js
    node app.js

I had to alter db: 'db' and url: 'mongodb://localhost:27017/db' to contain my database : 'music'

    http://localhost:8081/db/music

<h3> troubleshooting </h3> 

When creating an index at one point i got : 

<pre>
mmap: can't map area of size 0 file: /var/lib/mongodb/_tmp/esort.1380464575.393277965//file.20
</pre> 

This is plainly because /tmp is full, create some space in the root and you will get more results.

## C++ 

Programming mongodb in c/c++ means learning aobout binary json objects or BSON.

TODO : get samples from klopt.cpp in grid ...

### BSON

Testing if a returned BSONObj is valid :
It is not a pointer so NULL won;t work, use isValid() :

    BSONObjBuilder bb;
    bb.append("nevenadres", addridd);

    cursor =
    this->conn.query("bag.house", bb.obj());
        while (cursor->more()) {
            BSONObj cn = cursor->next();
            if (cn.isValid()) 
                BSONObj coords = cn.getObjectField("coords");
            if (coords.isValid()) 
                points = coords.getObjectField("coordinates");
        }
    }

    if (!points.isValid()) return false;
