<h1>Networking</h1>

This is a page about networking, some small general issues will be discussed here, all larger items can be selected in the left menu.

<h2>GigaNet</h2>

Just to get a feel for the speeds and what's possible, some tests.
Copying ubuntu iso through a gigabit switch.

* ubuntu-10.10-server-i386.iso 100% 627MB 11.0MB/s 00:57
* It took about 59 second for 657735680 bytes so that's really 11 megabytes/s not megabits.
* And now to virtix through a larger network with 10.100 switches
* ubuntu-10.10-server-i386.iso 100% 627MB 182.7KB/s 58:36

<h2>nagios</h2>

Monitoring tool

After installation it is accessible through the link <a href="http://localhost/nagios3">http://localhost/nagios3</a>

Of course that is if you use version 3, the username is nagiosadmin, the password is set during installation.
