<h1>Network File System</h1>

This is used to mount directories on linux over the network.

<h2>solaris</h2>

The exports are in /etc/dfs/sharetab containing a line like :

<pre>
 /rpool/vmwarenfs        -       nfs     sec=sys,rw=10.10.0.0/255.255.0.0
</pre>

the command

<pre>
 share
</pre>

will show the contents of that file. You can test if the mounts are visible on another machine with :

<pre>
 showmount -e nfsmachine
</pre>


