<h1>nt mode</h1>

A big problem we encounterd time and again is the fact that we cannot connect two isdn-2 card back-to-front. The problems is that one of te two has to act as the networks side (NT) and the other as termination equipment (TE). TE is no problem since that is the 'normal' way to connect isdn equipment.<br>
<br>
One way to behave as NT is possible using HFC-S cards which have an NT mode, but than you still have a problem because one of the connection has to provide the power, and that is normally the NT device. Some TE devices provide power (ISDN phones for instance) but they are rare. Normally an ISDN-card expects the power to come from the NT source, even cards that are NT-capable. A second problem is that the lines need to be properly 'terminated' by a resister (usually of 100 ohm). A quick way to resolve this is to abuse an NT1 case that is not in use anymore, luckily KPN reinstalls new NT1's every single time they have to reactivate a line, so there is some of them in stock. The NT1 delivers both the power and the termination, so creating one isdn cross cable is enough to get this working.<br>
<br>
Another way might be the use of the newer NT1 types that KPN installs nowadays, it seems they included an extra dipswitch that enables so-called BUS-mode instead of the point-to-point we are used to. Bus mode allows more (up to 8 if o remember correctly ?!) devices to be connected to the NT. However i do not know if all of these devices have to connect to the NT, or if to TE's on the bus can talk to eachother. The latter is the one we want, because both the PBX and ASK are TE's.
working setup<br>

The source for this section is http://www.voip-info.org/wiki/index.php?page=Asterisk+zaphfc+install26

I managed to get 1 setup working, i hope i can build other configurations from that. The hardware i try to use for the next sections is:

<ul>
<li>linux machine diagnostix, with a HFC isdn-2 card installed in NT mode
<li>linux machine vorunprix, also with HFC but in TE mode
<li>an isdn phone, without own power
<li>a NT1 box from KPN, for providing the power
<li>a number of isdn cables, some straight, some crossed.
<li>an isdn connection box with 5 slots, but most importantly a 100 ohm resistor. 
</ul>

Both linux machine are running asterisk, installed the way described in the link i provided earlier.

<h3>asterisk - isdn-phone</h3>

This setup is diagnostix running asterisk connected to the isdn-phone. Connect the NT1 to main power and put a straight cable to the con nnector box, also put a straight cable from the phone to the box. Finally connect the linux HFC card to the box with a crosscable.

The isdn-phone should show power as soon as you connected both ths NT1 and the phone, because power goes over the isdn-cable.

Startup asterisk with a lot of v's and these settings in :

/etc/zaptel.conf:

<pre>
 span=1,1,3,ccs,ami
 bchan=1-2
 dchan=3
</pre>

/etc/asterisk/zapata.conf

<pre>
switchtype = euroisdn
signalling = bri_net_ptmp

immediate=yes
group = 1
context=demo
channel => 1-2
</pre>

Start the drivers in NT mode by running :

<pre>
 cd /usr/src/bri-stuff.0.0.2/zaphfc
 make loadNT
</pre>

In my setup, picking up the isdn-phone showed action in asterisk, though it was missing the welcome files in the demo section. Pushing some digits eventually leads to a playback file that was available (invalid extension). This file could be heard through the isdn phone indicating that we have calling capability and sound over the 'bus'.
diagnostix (NT) - vorunprix (TE)

The logical next step, where the setup for diagnostix stays the same. Vorunprix should contain these settings :

/etc/zaptel.conf

<pre>
 span=1,0,0,ccs,ami
 bchan=1-2
 dchan=3
</pre>

/etc/asterisk/zapata.conf

<pre>
 switchtype = euroisdn
 ; p2mp TE mode
 signalling = bri_cpe_ptmp
</pre>

Now to call one asterisk from the other you can use a call file, this is the one i used :

<pre>
 Channel: Zap/1/111
 MaxRetries: 2
 RetryTime: 60
 WaitTime: 30
 Context: demo
 Extension: 500
 Priority: 2
</pre>

You activate the call by dropping this file in /var/spool/asterisk/outgoing. You can use cp for that but this could go wrong when asterisk reads the file while it is still being copied. Moving the filke would be a better solution, since unix does that as an atomic operation.<br>
<br>
You should see 1 asterisk calling and the other being called if you have the power from the NT1 still connected. Soon after unplugging the chord, messages like "span 1 down" appear in the asterisk CLI and the calling will not work. I think more experimenting with this will lead to nothing so as of now i presume we need the power to get this working. See http://www.hardware-oase.de/product_info.php/products_id/11 for a better solution than taping the NT1 to the asterisk machine ;)<br>
brightcom modem<br>
<br>
This modem has two GSM connection and an NT and TE isdn-2 port. Apart from the fact that we might be able to use this thing as connector for the ask-cs site, it has some handy led's for testing. For each of the ports, this modem has a led that incicates the status of the connected line: red for disconnected, clear for connected, blinking red for failure, even green for incoming call.<br>
<br>
Testing with this modem revealed that the NT mode of zaphpc + HFCPCI cards work, becasue you can see the lights changing when loading the NT driver (make loadNT in zaphfc), and fail when loading the TE driver (make load).<br>

