<h1>Oracle and python</h1>

<h2>Installation</h2>

<pre>
pip install cx_Oracle
</pre>

Easy enough ?. now see if you can run this script. 

<pre>
#!/usr/bin/python
import cx_Oracle

con = cx_Oracle.connect("kees/poipoi@192.168.2.5/XE")
print con.version

con.close()
</pre>

When run it should say something like 

<pre>
11.2.0.2.0
</pre>

.. Work in progress...
