<h1>Oracle and php</h1>

This is a page about connecting to an oracle database server from php.

<h2>Installation</h2>

<pre>
sudo apt-get install pear pecl
sudo pecl install oci8
</pre>

Still not sure which is better pear or pecl for installing php modules. But when you run pear to install oci8 it will say it uses pecl itself anyway.

After this you will have access to oci_ functions. Let's start with a simple example script that does a complete sequence of connecting, creating a table, filling it, displaying it, deleting data and destroying the table again.

A version of this sequence is available in the connection pages for C++ and java as well. See (TODO)

<pre>
#!/usr/bin/php
<?php

// reference : http://php.net/manual/en/book.oci8.php

$tablename="highly_unlikely_table_name";

// first see if you have oci support 
if (!function_exists("oci_connect")) {
    echo "You don't seem to have oci functionality in php, please install :\n";
    echo "sudo pecl install oci8\n";
    exit;
}

// Connects to the XE service (i.e. database) on the "localhost" machine
$conn = oci_connect('kees', 'poipoi', '192.168.2.5/XE');
if (!$conn) {
    $e = oci_error();
    trigger_error(htmlentities($e['message'], ENT_QUOTES), E_USER_ERROR);
}

$stid = oci_parse($conn, "select object_name from user_objects where object_type = 'TABLE'");
$res = oci_execute($stid);

echo "## Test 1: retrieve all database tables\n";
while ($row = oci_fetch_array($stid, OCI_ASSOC+OCI_RETURN_NULLS)) {
    foreach ($row as $item) {
        echo ($item !== null ? htmlentities($item, ENT_QUOTES) : "&nbsp;") . "\n";
        if (strcasecmp($item,$tablename) == 0) {
            echo $item . " already exists, not deleting. run DROP TABLE " . $item . " manually\n";
            exit;
        }
    }
}

echo "## Test 2: Create new table " . $tablename . "\n";
$stid = oci_parse($conn, 'CREATE TABLE ' . $tablename . '(id number(10), name varchar2(100))');
$res = oci_execute($stid);

echo "## Test 3: Fill the table with some data rows\n";
// fill the table with some data, no real shorthand for multiple values but 
// this format works to get everythinh into one query :
$qry = "INSERT ALL ";
$qry .= "INTO " . $tablename . " (id,name) VALUES (1,'eerste')";
$qry .= "INTO " . $tablename . " (id,name) VALUES (2,'tweede')";
$qry .= "INTO " . $tablename . " (id,name) VALUES (3,'derde')";
$qry .= "INTO " . $tablename . " (id,name) VALUES (5,'vijfde')";
$qry .= " SELECT 1 FROM DUAL";
$stid = oci_parse($conn, $qry);
$res = oci_execute($stid);

echo "## Test 4: Display data rows\n";
tid = oci_parse($conn, "SELECT * FROM " . $tablename);
$res = oci_execute($stid);

while ($row = oci_fetch_array($stid, OCI_ASSOC+OCI_RETURN_NULLS)) {
    foreach ($row as $item) {
        echo ($item !== null ? htmlentities($item, ENT_QUOTES) : "&nbsp;") . ",";
    }
    echo "\n";
}

echo "## Test 5: Delete row with id 3\n";
$stid = oci_parse($conn, "DELETE FROM " . $tablename . " WHERE id=3");
$res = oci_execute($stid);

echo "## Test 6: Display data rows\n";
$stid = oci_parse($conn, "SELECT * FROM " . $tablename);
$res = oci_execute($stid);

while ($row = oci_fetch_array($stid, OCI_ASSOC+OCI_RETURN_NULLS)) {
    foreach ($row as $item) {
        echo ($item !== null ? htmlentities($item, ENT_QUOTES) : "&nbsp;") . ",";
    }
    echo "\n";
}

echo "## Test 7: Drop table\n";
$stid = oci_parse($conn, "DROP TABLE " . $tablename);
$res = oci_execute($stid);

?>
</pre>

See it as a quickstart, each operation will be explained here later.

<h3>troubleshooting</h3>

You will get this message on 64 bits systems because the oracle 10G installation is 32 bits. Also you get it when trying to install oci8 for php :

<pre>
/usr/bin/ld: skipping incompatible /usr/lib/oracle/xe/app/oracle/product/10.2.0/server//lib/libclntsh.so when searching for -lclntsh
/usr/bin/ld: cannot find -lclntsh
</pre>

Be sure you don't mix 32 and 64 bits.

