<h1>Oracle and C++</h1>

Since occi download only states windows i use liboci, though on linux they call it libclntsh for god knows what reason (windows is ociw32.dll) for both C and C++. 

When trying to download libocci i also noted that it wanted me to install odbc (?!?). If it uses ODBC what am i using liboci for then ?!?. 
But on <a href="http://obieemanu.blogspot.nl/2011/01/odbc-vs-oci.html">this</a> site i was asured that this is not the case. Here are the advantages of OCI.
Maybe it's only occi hat used odbc ? 

<ul>
  <li> OCI is optimized for queries. Transparent prefetch buffers reduce round-trips and improve performance and scalability. As a result, there is reduced memory usage on the server.
    <li> OCI is optimized for round-trips. No-reply requests are batched until the next call is generated for the server. This allows certain calls to be lazily propagated.
    <li> OCI is thread safe. You do not need to mutex (use mutual exclusivity locks) any of the OCI handles. ODBC is not thread safe, so you have to mutex most data structures.
    <li> OCI provides an asynchronous event notification API for active databases.
    <li> OCI provides enhanced array data manipulation language (DML) operations that reduce round-trips.
    <li> OCI returns ROWIDs for all rows selected for update in a single round-trip. Using ROWID allows for more efficient SQL access.
    <li> ODBC has no concept of sessions. OCI decouples connections, sessions and transactions. Multiple users can use a single connection; they get serialized on the connection for SQL operations. Multiple transactions can exist per user. This allows users to scale and service more users than there are connections available. Sessions and transactions can be migrated between connections to the same server.
    <li> ODBC does not support object types, large objects (LOBs), and other new Oracle datatypes.
    <li> ODBC affects server scalability. Using ODBC and having n number of concurrent users forces the server to have n number of processes service the clients if Oracle8i is operating in dedicated server mode. Your operating system may or may not support so many connections and processes.
    <li> ODBC is a wrapper around OCI so it is slower. 
</ul>

So it's the other way round it seems: odbc is built upon oci.

You can either do this via odbc, or as i have done here with liboci. The library is included in the oracle express installation, and is called lclntsh. Compiling the source used could be something like :

<pre>
gcc cdemocp.c -I/u01/app/oracle/product/11.2.0/xe/rdbms/public -L/u01/app/oracle/product/11.2.0/xe/lib -lclntsh
</pre>

A collection of demo programs was once available in the demo directory $ORACLE_HOME/rdbms/demo, but that is cut down to a handfull of examples.

You can still download it from here :

<pre>
wget -r http://www10.atpages.jp/~tymo1914/DB/rdbms/demo/
</pre>

Although let it be noted, these are older version still they can be used to shed some light on this dark matter. 
Some functions like oparse(), are pre-version 8.0 and should not be used.
<a href"http://docs.oracle.com/cd/A64702_01/doc/server.805/a58234/app_migr.htm">see this page</a>.

As an example, i want to set up the web database in oracle just so that will be the example here.

Again, here is a full example of connecting, create database, fill some row, print the rows, delete one row, and drop the table again. One note beforehand.. some examples used OCIConnectionPoolCreate, and subsequently the poolName that was returned from that call for the call to OCILogon(). 
The pooname is a string that looks like : 

<pre>
OCI:CP:7GPobls/ydXgQAB/AQFxLB
</pre>

That works but it takes an awful long time to connect, and just using the databse name works instantly. So that is of course the way i use it in this example.

    :::C++
    #include <oci.h>
    #include <stdio.h>
    #include <stdlib.h>
    #include <string.h>
    
    #include <iostream>
    
    /* docs : http://docs.oracle.com/cd/B10501_01/appdev.920/a96584/oci01int.htm */
    
    using namespace std;
    
    static CONST OraText *database = (OraText *)"power/XE";
    static CONST OraText *username = (OraText *)"kees";
    static CONST OraText *password = (OraText *)"poipoi";
    static CONST OraText *appusername = (OraText *)"kees";
    static CONST OraText *apppassword = (OraText *)"poipoi";
    
    dvoid oci_error(void);
    static ub4 conMin = 1;
    static ub4 conMax = 3;
    static ub4 conIncr = 1;
    
    static OCIError   *errhp;
    static OCIEnv     *envhp;
    static OCICPool   *poolhp;
    static OraText    *poolName;
    static sb4         poolNameLen;
    
    static void checkerr (OCIError *errhp, sword status);
    
    class Oracle
    {
        sword lstat;
        OCISvcCtx *svchp;
        OCIStmt   *stmthp;
        string tablename;
        bool drop;
    
    public:
        Oracle(bool drop) {
            this->drop = drop;
            tablename = "HIGHLY_UNLIKELY_TABLE_NAME";
        }
    
        void run(void) {
            OCIEnvCreate (&envhp, OCI_THREADED | OCI_OBJECT, (dvoid *)0,  NULL,
            NULL, NULL, 0, (dvoid **)0);
    
            (void) OCIHandleAlloc((dvoid *) envhp, (dvoid **) &errhp, OCI_HTYPE_ERROR,
                            (size_t) 0, (dvoid **) 0);
    
            (void) OCIHandleAlloc((dvoid *) envhp, (dvoid **) &poolhp, OCI_HTYPE_CPOOL,
        /* CREATE THE CONNECTION POOL */
            if (lstat = OCIConnectionPoolCreate(envhp,
                            errhp,poolhp, &poolName, &poolNameLen,
                            database,(sb4)strlen((const char *)database),
                            conMin, conMax, conIncr,
                            appusername,(sb4)strlen((const char *)appusername),
                            apppassword,(sb4)strlen((const char *)apppassword)
                            ,OCI_DEFAULT))
            {
            checkerr(errhp,lstat);
            exit(1);
            }
    
            connect();
            //cout << ret << endl;
            bool found = list_tables();
            if (found) {
                if (!drop) {
                    cout << "Table : " << tablename << " already exists, not recreating\\n";
                    cout << "run DROP TABLE << " << tablename << " manually or run this program with -drop option\\n";
                    exit(0);
                }
                drop_table();
            }
            int ret = create_table();
            fill_table();
            print_table();
            delete_row();
            print_table();
            drop_table();
    
            disconnect();
        }
    
        void disconnect(void)
        {
            checkerr(errhp, OCILogoff(svchp, errhp));
        }
        void connect(void) {
            svchp  = (OCISvcCtx *) 0;
            stmthp = (OCIStmt *)0;
            if (lstat = OCILogon(envhp, errhp, &svchp,
            (CONST OraText *)username, (ub4)strlen((const char *)username),
            (CONST OraText *)password, (ub4)strlen((const char *)password),
            (CONST OraText *)database, (ub4)strlen((const char *)database) ))
            {
                checkerr(errhp,lstat);
                exit(1);
            }
        }
    
        bool list_tables() {
            printf("\\nList tables, and check for tablename ...");
    
            int colc;
            string stmtn = "SELECT object_name from user_objects where object_type='TABLE' ";
            cout << stmtn << endl;
            text  *crtstmt = (text *) stmtn.c_str();
    
            OCIHandleAlloc(envhp, (dvoid **)&stmthp, OCI_HTYPE_STMT, (size_t)0,
                    (dvoid **)0);
    
            int status = OCIStmtPrepare (stmthp, errhp, (text *)crtstmt,
                    (ub4)strlen((const char *)crtstmt), OCI_NTV_SYNTAX,
                    OCI_DEFAULT);
            checkerr(errhp, status);
            status = OCIStmtExecute (svchp, stmthp, errhp, (ub4)0, (ub4)0,
                    (OCISnapshot *)0, (OCISnapshot *)0, OCI_DEFAULT );
    
            checkerr(errhp, status);
    #define COLUMNS 1
        OCIDefine *defhp[COLUMNS];
            int num;
            bool found=false;
            text name[100];
    
            checkerr(errhp, status);
            checkerr(errhp,OCIDefineByPos (stmthp, &defhp[0], errhp, (ub4)1,
                    (dvoid *)&name, (sb4)sizeof(name), (ub2)SQLT_STR,
                    (dvoid *)0, (ub2 *)0, (ub2 *)0, OCI_DEFAULT));
    
            printf("Displaying the records\\n");
            status = OCIStmtFetch(stmthp,errhp,1,OCI_FETCH_NEXT,OCI_DEFAULT);
            int count=100;
            while (status != OCI_NO_DATA)
        {
                if (lstat)
                    checkerr(errhp, lstat);
                if (strcmp((const char *)name,tablename.c_str()) ==0) found=true;
                printf( "Name:%s\\n", name);
                status = OCIStmtFetch(stmthp,errhp,1,OCI_FETCH_NEXT,OCI_DEFAULT);
                if (count-- < 0)
                    break;
            }
    
            checkerr(errhp, OCIHandleFree((dvoid *) stmthp, OCI_HTYPE_STMT));
    
            return found;
        }
    
        bool print_table() {
            int colc;
            string stmtn = "SELECT * from " + tablename;
            text  *crtstmt = (text *) stmtn.c_str();
    
            OCIHandleAlloc(envhp, (dvoid **)&stmthp, OCI_HTYPE_STMT, (size_t)0,
                    (dvoid **)0);
    
            int status = OCIStmtPrepare (stmthp, errhp, (text *)crtstmt,
                    (ub4)strlen((const char *)crtstmt), OCI_NTV_SYNTAX,
                    OCI_DEFAULT);
            checkerr(errhp, status);
            status = OCIStmtExecute (svchp, stmthp, errhp, (ub4)0, (ub4)0,
                    (OCISnapshot *)0, (OCISnapshot *)0, OCI_DEFAULT );
    
            checkerr(errhp, status);
    #undef COLUMNS
    #define COLUMNS 2
        OCIDefine *defhp[COLUMNS];
            int num;
            bool found=false;
            text name[100];
    
            checkerr(errhp, status);
            checkerr(errhp,OCIDefineByPos (stmthp, &defhp[0], errhp, (ub4)1,
                    (dvoid *)&num, (sb4)4, (ub2)SQLT_INT,
                    (dvoid *)0, (ub2 *)0, (ub2 *)0, OCI_DEFAULT));
    
            checkerr(errhp,OCIDefineByPos (stmthp, &defhp[0], errhp, (ub4)2,
                    (dvoid *)&name, (sb4)sizeof(name), (ub2)SQLT_STR,
                    (dvoid *)0, (ub2 *)0, (ub2 *)0, OCI_DEFAULT));
    
            printf("Displaying the records\\n");
        status = OCIStmtFetch(stmthp,errhp,1,OCI_FETCH_NEXT,OCI_DEFAULT);
            int count=100;
            while (status != OCI_NO_DATA)
            {
                if (lstat)
                    checkerr(errhp, lstat);
                if (strcmp((const char *)name,tablename.c_str()) ==0) found=true;
                printf( "Num : %u, Name:%s\\n", num, name);
                status = OCIStmtFetch(stmthp,errhp,1,OCI_FETCH_NEXT,OCI_DEFAULT);
                if (count-- < 0)
                    break;
            }
    
            checkerr(errhp, OCIHandleFree((dvoid *) stmthp, OCI_HTYPE_STMT));
    
            return found;
        }
    
        int delete_row() {
            printf("\\nDeleting row...");
    
            int colc;
            string stmtn = "DELETE FROM " + tablename + " WHERE id=3";
            text  *crtstmt = (text *) stmtn.c_str();
    
            OCIHandleAlloc(envhp, (dvoid **)&stmthp, OCI_HTYPE_STMT, (size_t)0,
                    (dvoid **)0);
    
            int status = OCIStmtPrepare (stmthp, errhp, (text *)crtstmt,
                    (ub4)strlen((const char *)crtstmt), OCI_NTV_SYNTAX,
                    OCI_DEFAULT);
            checkerr(errhp, status);
            status = OCIStmtExecute (svchp, stmthp, errhp, (ub4)1, (ub4)0,
                    (OCISnapshot *)0, (OCISnapshot *)0, OCI_DEFAULT );
    
            checkerr(errhp, OCITransCommit(svchp,errhp,(ub4)0));
            checkerr(errhp, OCIHandleFree((dvoid *) stmthp, OCI_HTYPE_STMT));
        }
    
    int drop_table() {
            printf("\\nDropping table...");
    
            int colc;
            string stmtn = "DROP TABLE " + tablename;
            text  *crtstmt = (text *) stmtn.c_str();
    
            OCIHandleAlloc(envhp, (dvoid **)&stmthp, OCI_HTYPE_STMT, (size_t)0,
                    (dvoid **)0);
    
            int status = OCIStmtPrepare (stmthp, errhp, (text *)crtstmt,
                    (ub4)strlen((const char *)crtstmt), OCI_NTV_SYNTAX,
                    OCI_DEFAULT);
            checkerr(errhp, status);
            status = OCIStmtExecute (svchp, stmthp, errhp, (ub4)1, (ub4)0,
                    (OCISnapshot *)0, (OCISnapshot *)0, OCI_DEFAULT );
    
            checkerr(errhp, OCITransCommit(svchp,errhp,(ub4)0));
            checkerr(errhp, OCIHandleFree((dvoid *) stmthp, OCI_HTYPE_STMT));
        }
    
        int create_table() {
            printf("\\nCreating table...");
    
            int colc;
            string stmtn = "CREATE TABLE " + tablename + " (id NUMBER(10), name VARCHAR2(100))";
            cout << stmtn << endl;
            text  *crtstmt = (text *) stmtn.c_str();
    
            OCIHandleAlloc(envhp, (dvoid **)&stmthp, OCI_HTYPE_STMT, (size_t)0,
                    (dvoid **)0);
    
            int status = OCIStmtPrepare (stmthp, errhp, (text *)crtstmt,
                    (ub4)strlen((const char *)crtstmt), OCI_NTV_SYNTAX,
                    OCI_DEFAULT);
            checkerr(errhp, status);
            status = OCIStmtExecute (svchp, stmthp, errhp, (ub4)1, (ub4)0,
                    (OCISnapshot *)0, (OCISnapshot *)0, OCI_DEFAULT );
    
            checkerr(errhp, OCITransCommit(svchp,errhp,(ub4)0));
            checkerr(errhp, OCIHandleFree((dvoid *) stmthp, OCI_HTYPE_STMT));
        }
    int fill_table() {
            printf("\\nFilling table...");
    
            int colc;
            string stmtn = "INSERT ALL ";
            stmtn += "INTO " + tablename + " (id,name) VALUES (1,'eerste')";
            stmtn += "INTO " + tablename + " (id,name) VALUES (2,'tweede')";
            stmtn += "INTO " + tablename + " (id,name) VALUES (3,'derde')";
            stmtn += "INTO " + tablename + " (id,name) VALUES (5,'vijfde')";
            stmtn += " SELECT 1 FROM DUAL";
    
            text  *crtstmt = (text *) stmtn.c_str();
    
            OCIHandleAlloc(envhp, (dvoid **)&stmthp, OCI_HTYPE_STMT, (size_t)0,
                    (dvoid **)0);
    
            checkerr(errhp, OCIStmtPrepare (stmthp, errhp, (text *)crtstmt,
                    (ub4)strlen((const char *)crtstmt), OCI_NTV_SYNTAX,
                    OCI_DEFAULT));
            checkerr(errhp, OCIStmtExecute (svchp, stmthp, errhp, (ub4)1, (ub4)0,
                    (OCISnapshot *)0, (OCISnapshot *)0, OCI_DEFAULT ));
            checkerr(errhp, OCITransCommit(svchp,errhp,(ub4)0));
            checkerr(errhp, OCIHandleFree((dvoid *) stmthp, OCI_HTYPE_STMT));
        }
    };
    
    int main(int argc, char *argv[])
    {
        bool drop=false;
    
        if (argc > 1) {
            if (strcmp(argv[1],"-drop") == 0) drop=true;
        }
        Oracle o(drop);
    
        o.run();
        return 0;
    }
    
    void checkerr(OCIError *errhp, sword status)
    {
        text errbuf[512];
        sb4 errcode = 0;
    
        switch (status)
        {
        case OCI_SUCCESS:
        break;
        case OCI_SUCCESS_WITH_INFO:
        (void) printf("Error - OCI_SUCCESS_WITH_INFO\\n");
        break;
        case OCI_NEED_DATA:
        (void) printf("Error - OCI_NEED_DATA\\n");
        break;
        case OCI_NO_DATA:
        (void) printf("Error - OCI_NODATA\\n");
        break;
        case OCI_ERROR:
        (void) OCIErrorGet((dvoid *)errhp, (ub4) 1, (text *) NULL, &errcode,
                            errbuf, (ub4) sizeof(errbuf), OCI_HTYPE_ERROR);
        (void) printf("Error - %.*s\\n", 512, errbuf);
        break;
        case OCI_INVALID_HANDLE:
        (void) printf("Error - OCI_INVALID_HANDLE\\n");
        break;
        case OCI_STILL_EXECUTING:
        (void) printf("Error - OCI_STILL_EXECUTE\\n");
        break;
        case OCI_CONTINUE:
        (void) printf("Error - OCI_CONTINUE\\n");
        break;
        default:
        break;
        }
    }
