<h1>Oracle development</h1>

Oracle uses instance identifiers or System IDentifiers to connect to a database. So this is the SID we talk about. The instance is associated with a database 
In express edition i think you are stuck with one database: xe.

<h2>SQL</h2>

The SQL is rather standard, all commands i type MySQL style work. Some exceptions of course. 

First watch that you need to commit your changes to see them though other channels. For instance :

<pre>
SQL>select * from orders;
	ID TITLE
---------- ----------------------------------------------------------------
	 5 vijf
	 1 eerste
	 2 tweede
	 3 derde
	 4 vierde
	 1 eerste
SQL>delete from orders where id=1;
SQL>select * from orders;
	ID TITLE
---------- ----------------------------------------------------------------
	 5 vijf
	 2 tweede
	 3 derde
	 4 vierde
</pre>

Note that both are deleted, and that you cannot use the LIMIT command like in MySQL.
So far so good, but if you now run a select from for instance the java prog :

<pre>
#:5 Name:vijf
#:1 Name:eerste
#:2 Name:tweede
#:3 Name:derde
#:4 Name:vierde
#:1 Name:eerste
</pre>

Not so expected, only after you do 

<pre>
SQL&gt;commit;
</pre>

Will you get the expected :

<pre>
#:5 Name:vijf
#:2 Name:tweede
#:3 Name:derde
#:4 Name:vierde
</pre>

<h2>PL/SQL</h2>

The procedural language extension for SQL, however i never used it because i always connect from another language like java, C or php that have their own procedural constructs.

Mostly you will want to run (pl/)sql scripts and not type everything on the sqlplus command line, you use the @ sign for that :

<pre>
SQL&gt; @myscipt.sql
SQL&gt; @../myscipt.sql
SQL&gt; @/home/kees/sql/myscipt.sql
SQL&gt; @myscipt
</pre>

The last one to show you that the .sql is filled in so it will save you same typing.
This runs as script located in the directory where you started sqlplus, full path names are required otherwise, or relative paths as the example shows.

Here are some major operations to be performed in PL/SQL, they will be reflected in the other connector chapters : java, C++ and php in the same order.

<h3>preliminaries</h3>

A lot of these examples are to be run in sqlplus, and it becomes tedious to connect everytime. So use this format to login directly :

<pre>
sqlplus username/password@192.168.2.5/xe
</pre>

If you have trouble running PL/SQL scripts and get a prompt, like :

<pre>
SQL&gt; @myscipt.sql
 21
</pre>

Try typing a slash "/" and return, thuis acts as en 'execute'. You can also directly to the scripts. I will try to include it in the examples here.

Also, you can directly rin the scriptfrom the command line with :

<pre>
sqlplus username/password@192.168.2.5/xe @hello.sql
</pre>

After this you will remain in the sqlplus cli unless you also run 'exit' as the last command
Let's say hello.sql contains this :

<pre>
set serveroutput on;
DECLARE
   message  varchar2(20):= 'Hello, World!';
BEGIN
   dbms_output.put_line(message);
END;
/
/
exit
</pre>

The first line is needed This is because the default for pl/sql is not the display 'dbms_output'. And it is per session, so at the next connect it will be 'off' again. Also i ententionally pit two slashes to make it run twice.

The output of this will be :
<pre>

SQL*Plus: Release 11.2.0.2.0 Production on Thu Nov 28 14:06:42 2013

Copyright (c) 1982, 2011, Oracle.  All rights reserved.

Connected to:
Oracle Database 11g Express Edition Release 11.2.0.2.0 - 64bit Production

Hello, World!

PL/SQL procedure successfully completed.

Hello, World!

PL/SQL procedure successfully completed.

Disconnected from Oracle Database 11g Express Edition Release 11.2.0.2.0 - 64bit Production
</pre>

A little bit too much for my taste, so use the -S silent option :
<pre>
sqlplus -S kees/poipoi@192.168.2.5/XE @hello.sql 
Hello, World!

PL/SQL procedure successfully completed.

Hello, World!

PL/SQL procedure successfully completed.
</pre>

Still too much !!, it seems you also need to set feedback of, so the start of the file will be :
<pre>
set serveroutput on;
set feedback off;
...
</pre>

And finally  :
<pre>
Hello, World!
Hello, World!
</pre>

Now one more warning, do not use set feedback off or use -S  without an exit at the end.
You will have to type exit blind to get out of sqlplus in that case.

Neat... let's start.

<h3>create table</h3> 

A working pl/sql program for creating a table, in my case a table for storing htnml pages by name, and since i want to limit each html chapter i think the maximum for VARCHAR2 (32k) should suffice :

<pre>
set serveroutput on;
-- set feedback off;
CREATE TABLE page (name VARCHAR2(64), content VARCHAR2(16384));
/
exit;
</pre>

Note i commented the feedbakc (comments are "--") becuase i want it this time.
However the documented maximum value 32767 for VARCHAR2 gives an error. I had to get it down to 4000 and that in fact is beomcing too small for a decent html chapter. So .. let's

drop the table again : 

<pre>
DROP TABLE page;
</pre>

There is no "IF EXISTS" clause in pl/sql, so you should do it using the PL logic of PL/SQL :

<pre>
DECLARE
   does_not_exist   EXCEPTION;
   PRAGMA EXCEPTION_INIT (does_not_exist, -942);
BEGIN
   execute immediate 'DROP TABLE my_page';
EXCEPTION
   WHEN does_not_exist
   THEN 
      dbms_output.put_line('Table did not exist, so not deleted !');
END;    
/       
    
CREATE TABLE my_page (name VARCHAR2(64), content VARCHAR2(4000));
DESCRIBE my_page;
</pre>

To run this code, you need to start sqlplus and issue @&lt;filename&gt;.sql. But if you make a mistake all what you get is :

<pre>
Warning: Function created with compilation errors.
</pre>

Which is not very helpfull, so to reveal the errors, you will have to type show errors, or if you are lazy ...

<pre>
sho err
</pre>

Of course you could put it in the script itself... but that would mean you expect an error ;-), just take it out when it works.

