<h1>Installation</h1>

This is all about oracle XE/express, because that's free ;)
I tried versions 10,11 and 12.
Some systems are easier than others, here is a little overview of what i tried:

<ul>
<li>oracle XE 10 (32 bits), debian 64 bits : working but without apex:8080 
<li>oracle XE 11G (32 bits), windows 32. Working out of the box.
<li>oracle XE 11G (64 bits), debian 64 bits, not working yet... lot's of problems
<li>oracle XE 11G (64 bits), fedora 64 bits : working but without apex:8080
<li>oracle XE 12G (64 bits). debian 64 bits : in progress
</ul>

Overall most problems occur when trying to install on debian, but i am not going to switch distro's for oracle yet..
Since it seems to be developed on RedHat, fedora and CentOS work best. I guess solaris being from oracle also works ok ? 
The next sections will contain a LOT of problems and mostly solutions for debian.

<h2>Debian 64 bits, oracle express 11G</h2>

Keep with this guid for debian, since 10g is 32 bits. 

This is a combination of 2 sources :

<a href=" https://forums.oracle.com/thread/2229554"> https://forums.oracle.com/thread/2229554</a>
<a href="http://stackoverflow.com/questions/16545412/problems-installing-oracle-database-express-edition-11g">http://stackoverflow.com/questions/16545412/problems-installing-oracle-database-express-edition-11g</a>

Please follow it exactly, all steps seem to be needed.

<h3>delete old installation</h3>

If needed of course, but this guide gives you a clean slate to start with.

<pre>
sudo su -
/etc/init.d/oracle-xe stop
dpkg --purge oracle-xe
rm -r /u01/app
rm /etc/default/oracle-xe
update-rc.d -f oracle-xe remove
</pre>

<h3>preparation</h3>

Granted: i don't know if theses steps are realy necessary, but they won't hurt.
See if you have enough swap space :

<pre>
su - 
cat /proc/meminfo
</pre>

You will need at least 2GB, so this will probably not be needed unless you have very low memory to start with. But to enlarge the swap :

To install a 1 GB swapfile (so in addition it willl be 2GB) named swapfile in /, for example:

<pre>
sudo dd if=/dev/zero of=/swapfile bs=1024 count=1048576
sudo mkswap /swapfile
sudo swapon /swapfile
sudo cp /etc/fstab /etc/fstab.orig
sudo echo '/swapfile swap swap defaults 0 0' >> /etc/fstab
</pre>

<pre>
Verify:
sudo swapon -a
sudo swapon -s
</pre>

Now set some kernel parameters for oracle, create a file called 
/etc/sysctl.d/60-oracle.conf, and fill it with this :

<pre>
# Oracle 11g XE kernel parameters
fs.file-max=6815744
net.ipv4.ip_local_port_range=9000 65000
kernel.sem=250 32000 100 128
kernel.shmmax=536870912
</pre>

The kernel.shmmax should contain the max memory you have , so take it from
<pre>
cat /proc/meminfo
</pre>

And paste the MemTotal value there, it is both Kb.

Then activate with :

<pre>
su -
service procps start
</pre>

Verify with :

<pre>
sysctl -q fs.file-max
</pre>

It should contain the value specifiued : 6815744

Now we need to create the chkconfig tool since that is a redhat tool and debian does not have it. So create a file called /sbin/chkconfig with these contents.

<pre>
#!/bin/bash
# Oracle 11gR2 XE installer chkconfig hack for Debian by Dude
file=/etc/init.d/oracle-xe
if [[ ! `tail -n1 $file | grep INIT` ]]; then
   echo >> $file
   echo '### BEGIN INIT INFO' >> $file
   echo '# Provides:             OracleXE' >> $file
   echo '# Required-Start:       $remote_fs $syslog' >> $file
   echo '# Required-Stop:        $remote_fs $syslog' >> $file
   echo '# Default-Start:        2 3 4 5' >> $file
   echo '# Default-Stop:         0 1 6' >> $file
   echo '# Short-Description:    Oracle 11g Express Edition' >> $file
   echo '### END INIT INFO' >> $file
fi
update-rc.d oracle-xe defaults 80 01
</pre>

And make it executable :
<pre>
chmod 755 /sbin/chkconfig
cp /usr/bin/awk /usr/bin
</pre>

That last line is to anticipate the error you will get next, and that's a hard path to /bin/awk, probably also the redhat location.

With settings like this, you will get the infamous errors mentioned in the troubleshooting section if you continue.

<pre>
ERROR:
ORA-01034: ORACLE not available
ORA-27101: shared memory realm does not exist
</pre>

or ...

<pre>
ORA-00845: MEMORY_TARGET not supported on this system
</pre>

This is handled by creating this file /etc/init.d/oracle-shm, containing

<pre>
#! /bin/sh 
# /etc/init.d/oracle-shm 
# 
case "$1" in 
start) 
echo "Starting script /etc/init.d/oracle-shm" 
# Run only once at system startup  
if [ -e /dev/shm/.oracle-shm ]; then 
echo "/dev/shm is already mounted, nothing to do" 
else 
rm -f /dev/shm 
mkdir /dev/shm 
mount --move /run/shm /dev/shm 
mount -B /dev/shm /run/shm 
touch /dev/shm/.oracle-shm 
fi 
;; 
stop) 
echo "Stopping script /etc/init.d/oracle-shm" 
echo "Nothing to do" 
;; 
*) 
echo "Usage: /etc/init.d/oracle-shm {start|stop}" 
exit 1 
;; 
esac 
# 
### BEGIN INIT INFO 
# Provides: oracle-shm 
# Required-Start: $remote_fs $syslog 
# Required-Stop: $remote_fs $syslog 
# Default-Start: 2 3 4 5 
# Default-Stop: 0 1 6 
# Short-Description: Bind /run/shm to /dev/shm at system startup. 
# Description: Fix to allow Oracle 11g use AMM. 
### END INIT INFO
</pre>

But note.. this did not work on another machine, that probably had too small /run/shm so i could enlarge that in the file : /etc/default/tmpfs

Uncomment the SHM_SIZE parameter and make it 2GB :
<pre>
SHM_SIZE=20971520
</pre>

And reboot, or find a way to restart tmpfs and log it here how ;)

Make oracle-shm executable :

<pre>
chmod +x /etc/init.d/oracle-shm 
</pre>

Now to make sure this starts at reboot... reboot.
After that try :

<pre>
df -kh /dev/shm
</pre>

To check if it worked. Make sure you also restart oracle after running the script :
<pre>
/etc/init.d/oracle-ex restart
</pre>

<h3>installation</h3>

The file that seems to work best was oracle-xe-11.2.0-1.0.x86_64.rpm.zip 
It is an rpm files, so of course you need to install extra software to install rpm's on debian:

<pre>
apt-get install alien libiao1 unixodbc
</pre>

Create a debian package of it : 

<pre>
alien  --to-deb --scripts oracle-xe-11.2.0-1.0.x86_64.rpm
</pre>

Now run dpkg 
<pre>
dpkg -i oracle-xe_11.2.0-1.0_amd64.deb
</pre>

If any of the steps fail you might end up with a running listener, and that hogs the ports 8080 or 1521 in a new install. You can stop the listener with :

<pre>
lsnctl
LSNCTL&gt; stop
</pre>

If that gives an error, the executable occupynig the port is tnslsnr so this willl certainly help :

<pre>
sudo killall -9 tnslsnr
</pre>

<h3>Apex (application express) install</h3>

Download from : http://www.oracle.com/technetwork/developer-tools/apex/downloads/index.html
First set the SID :

<pre>
export ORACLE_SID=XE
</pre>

Then login with sqplus :

<pre>
. /u01/app/oracle/product/11.2.0/xe/bin/oracle_env.sh
sqlplus /nolog
connect SYS as SYSDBA
</pre>

When logged in run :

<pre>
@apexins.sql SYSAUX SYSAUX TEMP /i/
</pre>

This.....will... take.....a.........loooooooong.......time.........

Pending... have not got this working yet !

<h3>troubleshooting</h3>

Installation of 11G goes ok up to the configuration step. 
The script is /etc/init.d/oracle-xe whicyh fails on line : 274, which is a call to another script : $ORACLE_HOME/config/scripts/XE.sh.

And that call boils down to : 

<pre>
ORACLE_SID=XE; export ORACLE_SID
/u01/app/oracle/product/11.2.0/xe/bin/sqlplus -s /nolog @/u01/app/oracle/product/11.2.0/xe/config/scripts/XE.sql
</pre>

The .sql files are all scripts run in sqlplys, so if we run these commands line by line :

The first error given is :

<pre>
ORA-12162: TNS:net service name is incorrectly specified,
</pre>

This is usually cause by te fact that the TNS/SID name is unknown, tye deafult ois XE, so this will probably help :

<pre>
export ORACLE_SID=XE
</pre>

Run sqlplus again for the next error :

<pre>
ERROR:
ORA-01034: ORACLE not available
ORA-27101: shared memory realm does not exist
</pre>

The seconds is very probably caused by the first, so let's focus on that. It just seems oracle is not running. I can't find where it would have been started, but running it by hand just silently fails. 

<pre>
ORA-00845: MEMORY_TARGET not supported on this system
</pre>

<h2>lsnrctl</h2>

<pre>
Message 850 not found; No message file for product=network, facility=NL
</pre>

You need to set ORACLE_HOME to your installation, it is the directory where bin,scripts, etc are. As an actual example, i have this in my .bashrc file :

<pre>
export ORACLE_HOME=/u01/app/oracle/product/11.2.0/xe
export PATH=:$PATH:$ORACLE_HOME/bin
</pre>

But that's over to the next error on startdb.sh, this is in $ORACLE_HOME/scripts/startdb.sh.

It is the script that is run when you do "Start Database" in the oracle menu's.
<pre>
Error listening on: (DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=%hostname%)(PORT=%port%)))
</pre>

Or start lsnrctl and run status for the same message.
Try lsnrctl and run the start command.

<pre>
lsnrctl
LSNRCTL&gt; start
</pre>

In $ORACLE_HOME/network/admin/listener.ora the contents were :

<pre>
# listener.ora Network Configuration File:

SID_LIST_LISTENER =
  (SID_LIST =
    (SID_DESC =
      (SID_NAME = PLSExtProc)
      (ORACLE_HOME = /u01/app/oracle/product/11.2.0/xe)
      (PROGRAM = extproc)
    )
  )

LISTENER =
  (DESCRIPTION_LIST =
    (DESCRIPTION =
      (ADDRESS = (PROTOCOL = IPC)(KEY = EXTPROC_FOR_XE))
      (ADDRESS = (PROTOCOL = TCP)(HOST = %hostname%)(PORT = %port%))
    )
  )

DEFAULT_SERVICE_LISTENER = (XE)
</pre>

I have no idea what hostname, and port will contain,or where they are set, so I changed that line to the hard values : 

<pre>
      (ADDRESS = (PROTOCOL = TCP)(HOST = 127.0.0.1)(PORT = 1521))
</pre>

This takes care of the error.

<h2>debian 64 bits, oracle 10G universal</h2>

The best success so far on debian (and only really working install) was the universal XE install. It is version 10 of the database, and the express (free) edition. This is a debian package so that gives some hope. 
But... it is 32 bits and it 

The newer ones are not available for download (12) or only for windows 32-bit (11g) or linux redhat 64 bit(also 11g).

So download the universal version : oracle-xe-universal_10.2.0.1-1.1_i386.deb
Words are you also need bc:i386 installed and libaio. 

After installation you need to configure the installation. Also make the /var/locl/subsys directory to prevent an error along the way.

<pre>
su
dpkg -i oracle-xe-universal_10.2.0.1-1.1_i386.deb
mkdir /var/lock/subsys
/etc/init.d/oracle-xe configure
</pre>

Then startup the database with:
<pre>
/etc/init.d/oracle-xe start
</pre>

If you get an error about not being able to write to the log stream.
You did not start as user oracle:

<pre>
su
su - oracle
lsnrctl
LSNCTRL&gt; start
</pre>

If ... thank's so far oracle, you get ANOTHER error like this :

<pre>
TNS-12555 / TNS-12560 / TNS-00525 Error listening on: (DESCRIPTION=(ADDRESS=(PROTOCOL=IPC)(KEY=EXTPROC1)))
</pre>

It turns out that the .oracle directory in /var/tmp is owned by root so :

<pre>
chown -R oracle.dba /var/tmp/.oracle/
</pre>

Next... Problem. The apex installation on port 8888 did not start.
I installed it on port 8888, but nmap does not list that port, however it does list 1521 so oracle seems to be running.

Unresolved so far, continuing with oracle developer and remote clients.

<b>additional</b> : this is a common problem for 11g, it tried both fedora and centos because after all 11g comes as an .rpm file. But the same problems arise !!

<h3>cannot find oracle in nmap dump</h3>

I had this after setting the ip adress to 192.168.2.5 instead of lcalhost.
Make sure you also nmap on that adress not localhost !!

<h3>cannot connect to local install</h3>

The message is : 
<pre>
TNS:listener does not currently know of SID given in connect descriptor
</pre>

When trying to connect with clients, java or c interface functions.

<h3>Sqldeveloper</h3>

In absence of the web interface, this tool is quit usable. Download,unpack and go into the bin directory and run 
<pre>
bash ./sqldeveloper.sh
</pre>

You will probably have to enter the path to a working java sdk, after that it will be stored in ~/.sqldeveloper/jdk. 
It has to be a JDK directory, JRE alone is not enough.
<b>be sure when you make a new connection you connect to the listener address, so localhost or 192.168.2.5 according to what you specified in listener.ora</b>

<h3>ORA-00917: missing comma</h3>

Mainly caused by the use of single quotes in an INSERT query. I had escaped these quotes with :

<pre>
    esceep = content.replace("'","'\\'");
</pre>

But the 'standard' ascape is not used in oracle. While the above will work for both mysql as mongodb, oracle needs to escape it with another single quote. So :

<pre>
    esceep = content.replace("'","''");
</pre>

<h3>ORA-01704: string literal too long</h3>

Use setinputsizes() :

<pre>
def import_page(fname,content):
    print("Importing : " + fname);
    esceep = content.replace("'","''");
    #cursor.setinputsizes(None,cx_Oracle.CLOB);
    cursor.setinputsizes(None,100000);
    ct = "INSERT INTO html_page(name,content) VALUES (:1,:2)";
    print ct
    cursor.execute(ct,(fname,esceep));
</pre>

Both the uncommented as the commented versions work, but beware that sqlplus truncates the result for a select. See next chapter.


<h3>truncated output sqlplus</h3>

When inserting larger objects (CLOB) into the database, your select in sqlplus will be cut short. You can enlarge the output with :

<pre>
SET SERVEROUTPUT ON SIZE 1000000;
SET LINESIZE 32768;
set pagesize 50000;
set long 50000
</pre>

<h3>apache problems</h3>

This occurs when running oci_ functions in php under apache :

<pre>
oci_connect(): OCIEnvNlsCreate() failed. There is something wrong with your system - please check that ORACLE_HOME and LD_LIBRARY_PATH are set and point to the right directories in /var/www/web/doc/oracle.php on line 15
</pre>

The same script will run under the command line because variables like ORACLE_HOME etc are set. Not so in apache. You need to add this to the configuration.

<pre>
      <Directory />
                Options FollowSymLinks
                AllowOverride None
                SetEnv ORACLE_HOME /u01/app/oracle/product/11.2.0/xe
        </Directory>
        <Directory /var/www/>
                Options Indexes FollowSymLinks MultiViews
                AllowOverride None
                Order allow,deny
                SetEnv ORACLE_HOME /u01/app/oracle/product/11.2.0/xe
                allow from all
        </Directory>
</pre>

Though this does not solve my complete problem.. it did lead to a different error ;-)

