<h1>Oracle and java</h2>

<h2>java connection</h2>

This is a page about connecting to an oracle database server with java (JDBC).

<h3>Installation</h3>

This is a java example, but the problems described here are probably the same for any client. First the jdbc jar is needed to run this program. 

<a href="http://www.mkyong.com/jdbc/connect-to-oracle-db-via-jdbc-driver-java/">sauce</a>
The jar file is called ojdbc14.jar, get it from <a href="http://www.oracle.com/technetwork/database/enterprise-edition/jdbc-10201-088211.html">here</a>

The installation from scratch was troublesome, so if you have any problem, search in the troubleshooting section below to see if your problem is described there.

For now i assume you have a working setup.
Here is the sample java file OracleJDBC.java:

<pre>
import java.sql.DriverManager;
import java.sql.Connection;
import java.sql.SQLException;

import java.sql.ResultSet;
import java.sql.Statement;

public class OracleJDBC {
    static boolean drop=false;
    static Connection connection;
    static String tablename="HIGHLY_UNLIKELY_TABLE_NAME";
    public static void main(String[] argv) {

        System.out.println("-------- Oracle JDBC Connection Testing ------");

        if (argv.length > 0 && argv[0].equals("-drop")) drop=true;

        try {
            Class.forName("oracle.jdbc.driver.OracleDriver");
        } catch (ClassNotFoundException e) {

            System.out.println("Where is your Oracle JDBC Driver?");
            e.printStackTrace();
            return;

        }

        System.out.println("Oracle JDBC Driver Registered!");

        connection = null;

        try {
            connection = DriverManager.getConnection(
                    "jdbc:oracle:thin:@192.168.2.5:1521:XE", "kees",
                    "poipoi");

        } catch (SQLException e) {

            System.out.println("Connection Failed! Check output console");
            e.printStackTrace();
            return;

        }

        if (connection != null) {
            //System.out.println("You made it, take control your database now!");
        } else {
            System.out.println("Failed to make connection!");
        }

        try {
            if (ListTables() == true) {
               if (drop==false) {
                    System.out.println("table " + tablename + " already exist, not recreating, run DROP TABLE " + tablename + " manually");
                    System.out.println("or run this program with the -drop option");
                    System.exit(0);
                }
                DropTable();
            }
            CreateTable();
            FillTable();
            PrintTable();
            DeleteRow();
            PrintTable();
            DropTable();
            connection.close();
        } catch (SQLException e) {
            System.out.println("Connection Failed! Check output console");
            e.printStackTrace();
            return;
        }
    }

    static boolean ListTables() throws SQLException
    {
        boolean found=false;
        Statement stmt = null;
        ResultSet rs = null;

        stmt = connection.createStatement();
        //only for Oracle
        rs = stmt.executeQuery("select object_name from user_objects where object_type = 'TABLE'");

        while (rs.next()) {
            String tableName = rs.getString(1);
            System.out.println("tableName=" + tableName);
            if (tableName.equalsIgnoreCase(tablename) == true) found = true;
        }

        stmt.close();
        return found;
    }

    static void DropTable() throws SQLException
    {

        String sql = "DROP TABLE " + tablename;
        Statement statement = connection.createStatement();
        statement.execute(sql);
    }

    static void CreateTable() throws SQLException
    {

        String sql = "CREATE TABLE " + tablename + "(id NUMBER(10), name VARCHAR2(100))";
        Statement statement = connection.createStatement();
        statement.execute(sql);
    }

    static void PrintTable() throws SQLException
    {
        Statement stmt = null;
        ResultSet rs = null;

        stmt = connection.createStatement();
        rs = stmt.executeQuery("select * from " + tablename);

        while (rs.next()) {
            String id = rs.getString(1);
            String name = rs.getString(2);
            System.out.print("id=" + id);
            System.out.println(",name=" + name);
        }

        stmt.close();
    }

    static void DeleteRow() throws SQLException
    {
        String sql = "DELETE FROM " + tablename + " WHERE id=3";
        Statement statement = connection.createStatement();
        statement.execute(sql);
    }

    static void FillTable() throws SQLException
    {
        String sql = "INSERT ALL ";
        sql += "INTO " + tablename + " (id,name) VALUES (1,'eerste') ";
        sql += "INTO " + tablename + " (id,name) VALUES (2,'tweede') ";
        sql += "INTO " + tablename + " (id,name) VALUES (3,'derde') ";
        sql += "INTO " + tablename + " (id,name) VALUES (5,'vijfde') ";
        sql += " SELECT 1 FROM DUAL";
        Statement statement = connection.createStatement();
        statement.execute(sql);
    }
}
</pre>

And here is how to run it :

<pre>
java -cp ojdbc14.jar:. OracleJDBC
</pre>

Again, this program demonstrates the main operations of connecting, list tables, create a new table, print the contents, delete one row, and drop the table.

<h3>troubleshooting</h3>

Now here is a list of problems i encoutered while trying to get this to work.

<h3>No connection</h3>

<pre>
-------- Oracle JDBC Connection Testing ------
Oracle JDBC Driver Registered!
Connection Failed! Check output console
java.sql.SQLException: Listener refused the connection with the following error:
ORA-12505, TNS:listener does not currently know of SID given in connect descriptor
</pre>

Ok, this means it cannot understand XE in the connection string :

<pre>
"jdbc:oracle:thin:@192.168.2.5:1521:XE", "kees", ...
</pre>

So i changed it to a SID_NAME that was present, see the listener.ora file earl;ier in this page.

<pre>
"jdbc:oracle:thin:@192.168.2.5:1521:PLSExtProc", "kees", ...
</pre>

<h3>not a usable SID_NAME</h3>

Using PLSExtProc lead to the next error :

<pre>
-------- Oracle JDBC Connection Testing ------
Oracle JDBC Driver Registered!
Connection Failed! Check output console
java.sql.SQLException: No more data to read from socket
</pre>

The PLSExtProc seems to be some other service ? TODO (find out what it does) but it dos not handle any API functions, so the interwebz gave me a hint on this: add another name to the listener.ora file like this :

<pre>
SID_LIST_LISTENER =
  (SID_LIST =
    (SID_DESC =
      (SID_NAME = XE)
      (ORACLE_HOME = /usr/lib/oracle/xe/app/oracle/product/10.2.0/server)
    )
    (SID_DESC =
      (SID_NAME = PLSExtProc)
      (ORACLE_HOME = /usr/lib/oracle/xe/app/oracle/product/10.2.0/server)
      (PROGRAM = extproc)
    )
  )
</pre>

And behold, this gave another error.

<h3>invalid username</h3>

<pre>
Oracle JDBC Driver Registered!
Connection Failed! Check output console
java.sql.SQLException: ORA-01017: invalid username/password; logon denied
</pre>

This figures, on windows you have the apex interface and you are given the change to add a user. We could probably use the SYSTEM account with the password given at installation, but adding a user is a better solution.

I did it with the sqldeveloper program, of course here you will have to login as SYSTEM when connecting,  right click on the user table and create user.
Be sure you put quotes around your password or it will fail to create.
Or only use letters and numbers, quotes do not seems to be needed then.

<h3>connect string</h3>

<pre>
sqlplus SYSTEM/passwd@192.168.2.5/XE
</pre>

Or :

<pre>
export ORACLE_SID=XE
sqlplus /nolog
</pre>

On to the next error :

<h3>Insufficient rights</h3>

<pre>
Oracle JDBC Driver Registered!
Connection Failed! Check output console
java.sql.SQLException: ORA-01045: user KEES lacks CREATE SESSION privilege; logon denied
</pre>

Were getting there, it could have been done in the dialog for create user. But if you do edit user, you can choose the privileges tab and grant all.

Here is how that looks like in sql 

<pre>
-- USER SQL
ALTER USER "KEES" 
DEFAULT TABLESPACE "USERS"
TEMPORARY TABLESPACE "TEMP"
ACCOUNT UNLOCK ;

-- SYSTEM PRIVILEGES
GRANT ALTER TABLESPACE TO "KEES" ;
GRANT EXECUTE ANY PROCEDURE TO "KEES" ;
GRANT DROP ANY TRIGGER TO "KEES" ;
GRANT DROP ANY VIEW TO "KEES" ;
GRANT CREATE USER TO "KEES" ;
GRANT FLASHBACK ANY TABLE TO "KEES" ;
GRANT CREATE ANY OUTLINE TO "KEES" ;
GRANT DROP ANY CONTEXT TO "KEES" ;
GRANT FORCE TRANSACTION TO "KEES" ;
... much , much more
</pre>

Next,... no tables shown :

<h3>no output</h3>

Well the most obvious would be that there are no tables, so let's create one in the interface, one through java and one through C++.

Note that if you login as 'kees' you are not listed in the "other users" list, which is logical, but nevertheless confusing to say the least. Why not just call it "users" oracle ?

From sqldeveloper, choose 'tables' and that explains the empty list. So create one and remember the sql it spawns, and let's make a usefull database as well.

<pre>
CREATE TABLE "KEES"."CLIENTS" 
  (	"ID" NUMBER NOT NULL ENABLE, 
	"COMPANY" VARCHAR2(1024 BYTE) NOT NULL ENABLE, 
	"ADDRESS" VARCHAR2(20 BYTE), 
	 CONSTRAINT "CLIENTS_PK" PRIMARY KEY ("ID")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT)
  TABLESPACE "USERS"  ENABLE
   ) PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 NOCOMPRESS LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT)
  TABLESPACE "USERS" ;
</pre>

That's a little cryptic but the main idea is readable. Also now our java program finally works :

<pre>
-------- Oracle JDBC Connection Testing ------
Oracle JDBC Driver Registered!
You made it, take control your database now!
tableName=CLIENTS
</pre>

<h2>Oracle JDBC</h2>

So on to programming java for Oracle, list table we have seen before.
<a href="http://www.java2s.com/Code/Java/Database-SQL-JDBC/Createatableindatabase.htm">sauce</a> 

<h3>create table</h3>

On to creating a table in java, but a lot simpler :

<pre>
  void CreateTable() throws SQLException
    {

        String sql = "CREATE TABLE orders (id NUMBER(11), title VARCHAR2(64))";
        Statement statement = connection.createStatement();
        statement.execute(sql);
    }
</pre>

Fit into the former OracleJDBC.java program, this also works. If you look into the SQL tab on sqldeveloper you will see what oracle adds for itself :

<pre>
  CREATE TABLE "KEES"."ORDERS" 
   (	"ID" NUMBER(11,0), 
	"TITLE" VARCHAR2(64 BYTE)
   ) PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 NOCOMPRESS LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT)
  TABLESPACE "USERS" ;
</pre>

That's more or less the same as the client table, so don't bother putting all that in.

<h3>inserting</h3>

Well if it's all just SQL sent over a JDBC link, we don't need to go into deleting tables etc, but what is interesting is how results are handled. I need some more data so let's fill that in first.

I typed this one MySQL style and it worked in one go :

<pre>
	void FillTable() throws SQLException
    {
        String sql = "INSERT INTO orders (id,title) VALUES (1,'eerste')";
        Statement statement = connection.createStatement();
        statement.execute(sql);
    }
</pre>

<h3>querying results</h3>

I filled in the rest in sqldeveloper as it faster. Now let's list the contents.

<pre>
</pre>

