<h1>Open source routing machine  </h1>

Osrm is probably the fastest implementation of routing based on openstreetmaps.
It's based on the technique of [ContractionHierarchies contraction hierarchies]

<h1>Installation </h1>

Source : https://github.com/DennisOSRM/Project-OSRM/wiki/Running-OSRM
But here is a short version :

<pre>
git clone https://github.com/DennisOSRM/Project-OSRM.git
sudo apt-get install build-essential git scons libprotoc-dev libprotobuf7 protobuf-compiler libprotobuf-dev libpng-dev libbz2-dev libstxxl-dev libstxxl-doc libstxxl1 libxml2-dev libzip-dev libboost-thread-dev libboost-system-dev libboost-filesystem-dev libboost-regex-dev lua5.1-dev libluabind-dev
cd Project-OSRM
scons
</pre>

If everything goes well, you have a number of programs you can use for the subsequent steps.

<h2>map generation </h2>

You need two steps, both will generate the data files in the same directory as the .osm file. Actually it can use :

<ul>
<li>.osm files
<li>.osm.bz2 files
<li>.osm.pbf files
</ul>

The command (with example network) is :

<pre>
osrm-extract ../../grid/dat/hvh/network.osm
</pre>

This will extract the map, into an .osrm, osrm.names and osrm.restrictions file.

<b>note</b> If you want t alter speeds edit the file speedprofile.lua in the network where you run the extraction. *and you need to do do BOTH steps again*

but then you need to generate the hierarchy :

<pre>
osrm-prepare ../../grid/dat/hvh/network.osrm ../../grid/dat/hvh/network.osrm.restrictions
</pre>

This will add the files : edges,nodes,ramIndex,fileIndex and hsgr

You can then alter the file server.ini and paste these filenames over the used ones. And start the server :
<pre>
./osrm-routed
</pre>

To test this server use a browser and enter a url like :

http://localhost:5000/viaroute?loc=52.248323,5.664496&loc=52.093345,5.774927

You should get a json file with the routing result.

<h1>osrm data format </h1>

There are two steps in the generation process as described above, the first will make 2 files (given network.osm.pbf) :

<ul>
<li>network.osrm
<li>etwork.osrm.restrictions
<li>network.osrm.names
</ul>

These files are intermediate files and will not be used in routing, except for the .names file, which stays the same in the next step.

The second step will create :

<ul>
<li>network.osrm.nodes
<li>network.orsm.edges
<li>network.osrm.hsgr
<li>network.osrm.ramIndex
<li>network.osrm.fileIndex
</ul>

I will describe them in the same order, and use a table-like format that shows a byte per cell.

<h2>network.osrm </h2>

This image descibes the layout of the file, the top blocks represent one bytes each. This would be an osrm file of 3 nodes and 3 roads :

<img src="http://klopt.org/web/images/network.osrm2013.png" alt="Logo"/>

The name id in the edges record is 0 for edges without a name or a direct index in the .names file mentioned later.

<h2>network.osrm.restrictions </h2>

For now, i have to settle for the layout as analyzed, i do not know yet how it should be interpreted exactly.

<img src="http://klopt.org/web/images/network.osrm.restrictions.png" alt="Logo"/>

<h2>network.osrm.names </h2>

Simply the names of the edges, prefixed with their length.

<img src="http://klopt.org/web/images/network.osrm.names.png" alt="Logo"/>

This file is unsorted and is meant for forward references only. Edges with the same name will have only one entry in this file and will all point to the Nth line in this file. edges without a name all point to index 0

<h2>network.osrm.nodes </h2>

This file is a straightforward array of nodeinfo records :

<img src="http://klopt.org/web/images/network.osrm.nodes.png" alt="Logo"/>

The id is the original openstreetmap id, not an index. And this file contains all nodes in the original graph, before contraction.

This file does not contain a node counter, so you will have to read all records to count the number of nodes.

<h2>network.osrm.edges </h2>

This file is a straightforward array of roadinfo records, the number of roads is already read in .osrm so it looks like :

<img src="http://klopt.org/web/images/network.osrm.edges.png" alt="Logo"/>

<ul>
<li>Via node id is an index into the original nodes array so it will be between 0 and #originaledges-1.
<li>name id is an index into the names array, so it will be between 0 and nnames -1
<li>turn restruction is one of 16 possibilities meaning (-1 for 0 based):
</ul>

<pre>
 # "NoTurn",
 # "GoStraight",
 # "TurnSlightRight",
 # "TurnRight",
 # "TurnSharpRight",
 # "UTurn",
 # "TurnSharpLeft",
 # "TurnLeft",
 # "TurnSlightLeft",
 # "ReachViaPoint",
 # "HeadOn",
 # "EnterRoundAbout",
 # "LeaveRoundAbout",
 # "StayOnRoundAbout",
 # "StartAtEndOfStreet",
 # "ReachedYourDestination"
</pre>

An example of how you can read lines in this file :
<pre>
...
103 at node 47303 TurnSharpRight, onto road Am Graaf
104 at node 47303 TurnSlightLeft, onto road Rue Jean-Pierre Kirsch
105 at node 47303 NoTurn, onto road B 7
...
</pre>

<h2>network.osrm.hsgr </h2>

This is the hierarchy file, containing all shortcuts added in the osrm-prepare step.

<img src="http://klopt.org/web/images/network.osrm.hsgr2013.png" alt="Logo"/>

This files contains another number of nodes then the original nodes.
These nodes represent the starting point for the edges that follow. The only parameter for the edges is the first edge that originates from this node, the last can be calculated by taking the next node's first edge and subtracting 1. The edge numbers are an index in the edges of the contraction hierarchy and are between 0 and (number of CH edges -1).
The order of this list will very probably reflect the CH level of the nodes.

The edges in the CH specify an edge id, which is an index in the original edges file and so these id's are between 0 and (original edges -1). The to id is an index in the CH nodes list and so is between 0 and (number of CH nodes -1).

<h2>network.osrm.ramIndex </h2>



<h2>network.osrm.fileIndex </h2>

<h1>example </h1>

Here is an example network to show the osrm buildup.

<img src="http://klopt.org/web/images/bg1.png" alt="Logo"/>

It has 9 nodes numbered 0-8 and 13 edges lettered a-m. All roads are bi-directional except l which only goes from 3 to 2. Also edge i is modeled with a middle (shape) node (8).

The extracted .osrm file would look like this :
<pre>
# nodes : 9
10,5100000,409999,0,0
20,5170000,459999,0,0
30,5140000,480000,0,0
40,5130000,440000,0,0
50,5180000,430000,0,0
60,5160000,400000,0,0
70,5110000,480000,0,0
80,5170000,500000,0,0
90,5160000,440000,0,0
#edges : 14
8,60,10,67097,96620
4,30,20,36121,52015
7,40,20,46595,67098
12,40,30,29930,43100
10,10,40,39389,56721
9,90,40,33367,48050
3,20,50,23461,33784
11,50,60,30373,43738
1,10,70,50193,72279
13,30,70,33367,48050
2,40,70,35665,51358
6,20,80,27574,39708
5,30,80,36121,52015
9,60,90,27635,39795
</pre>

You will probably be able to decode this, i will just mention the first node and edge :

Node with id 10 is at coordinate 51.00000,4.09999 and has no bollards or trafficlights. (0,0)
Edge 8 goes from node id 60 to node id 10 and has distance 67097 and weight 96620.

Note that this is an intermediate file, not used in the final router.

Here are the files that will be used :

<h2>.osrm.names </h2>

<table border=1>
<tr><th>index<th>name
<tr><td>0<td>"(null)"
<tr><td>1<td>"a"
<tr><td>2<td>"b"
<tr><td>3<td>"c"
<tr><td>4<td>"d"
<tr><td>5<td>"e"
<tr><td>6<td>"f"
<tr><td>7<td>"g"
<tr><td>8<td>"h"
<tr><td>9<td>"i"
<tr><td>10<td>"j"
<tr><td>11<td>"k"
<tr><td>12<td>"l"
</table>

This is simply a (road) name index, with 0 as the empty name for roads with no name. Node have no name, roads do, like streetnames etc.
The index is used in the nameid field of each edge in the .osrm.edges file.

<h2>.osrm.nodes </h2>

<table border=1>
<tr><th>index<th>id<th>latitude<th>longitude
<tr><td>0<td>10<td>5100000<td>409999
<tr><td>1<td>20<td>5170000<td>459999
<tr><td>2<td>30<td>5140000<td>480000
<tr><td>3<td>40<td>5130000<td>440000
<tr><td>4<td>50<td>5180000<td>430000
<tr><td>5<td>60<td>5160000<td>400000
<tr><td>6<td>70<td>5110000<td>480000
<tr><td>7<td>80<td>5170000<td>500000
<tr><td>8<td>90<td>5160000<td>440000
</table>

The nodes file contains all nodes with their id and coordinates, sorted on id.

<h2>.osrm.edges </h2>

<table border=1>
<tr><th>index<th>at node<th>do a<th>to go onto
<tr><td>0<td>3<td>gostraight<td>onto road g
<tr><td>1<td>3<td>turnslightright<td>onto road l
<tr><td>2<td>3<td>turnright<td>onto road b
<tr><td>3<td>3<td>turnslightleft<td>onto road i
<tr><td>4<td>5<td>turnslightright<td>onto road k
<tr><td>5<td>5<td>turnright<td>onto road i
<tr><td>6<td>6<td>turnleft<td>onto road m
<tr><td>7<td>6<td>turnsharpleft<td>onto road b
<tr><td>8<td>2<td>turnright<td>onto road l
<tr><td>9<td>2<td>turnslightright<td>onto road m
<tr><td>10<td>2<td>turnsharpleft<td>onto road e
<tr><td>11<td>3<td>gostraight<td>onto road j
<tr><td>12<td>3<td>turnsharpleft<td>onto road l
<tr><td>13<td>3<td>turnleft<td>onto road b
<tr><td>14<td>3<td>turnsharpright<td>onto road i
<tr><td>15<td>4<td>turnslightleft<td>onto road k
<tr><td>16<td>7<td>turnsharpright<td>onto road e
<tr><td>17<td>1<td>turnsharpleft<td>onto road g
<tr><td>18<td>1<td>turnslightleft<td>onto road c
<tr><td>19<td>1<td>turnsharpright<td>onto road f
<tr><td>20<td>3<td>turnslightleft<td>onto road j
<tr><td>21<td>3<td>turnsharpright<td>onto road g
<tr><td>22<td>3<td>turnsharpleft<td>onto road b
<tr><td>23<td>3<td>turnright<td>onto road i
<tr><td>24<td>6<td>turnright<td>onto road a
<tr><td>25<td>6<td>turnsharpright<td>onto road b
<tr><td>26<td>7<td>turnsharpleft<td>onto road f
<tr><td>27<td>0<td>turnsharpright<td>onto road h
<tr><td>28<td>0<td>turnsharpleft<td>onto road a
<tr><td>29<td>1<td>turnsharpright<td>onto road d
<tr><td>30<td>1<td>turnleft<td>onto road c
<tr><td>31<td>1<td>turnslightright<td>onto road f
<tr><td>32<td>2<td>turnleft<td>onto road d
<tr><td>33<td>2<td>turnright<td>onto road m
<tr><td>34<td>2<td>turnslightleft<td>onto road e
<tr><td>35<td>6<td>turnsharpright<td>onto road a
<tr><td>36<td>6<td>turnsharpleft<td>onto road m
<tr><td>37<td>8<td>noturn<td>onto road i
<tr><td>38<td>1<td>turnslightright<td>onto road d
<tr><td>39<td>1<td>turnright<td>onto road g
<tr><td>40<td>1<td>gostraight<td>onto road f
<tr><td>41<td>5<td>turnslightleft<td>onto road h
<tr><td>42<td>5<td>turnsharpleft<td>onto road i
<tr><td>43<td>0<td>turnsharpleft<td>onto road j
<tr><td>44<td>0<td>turnleft<td>onto road a
<tr><td>45<td>4<td>turnslightright<td>onto road c
<tr><td>46<td>8<td>noturn<td>onto road i
<tr><td>47<td>0<td>turnsharpright<td>onto road j
<tr><td>48<td>0<td>turnright<td>onto road h
<tr><td>49<td>2<td>turnslightleft<td>onto road d
<tr><td>50<td>2<td>turnleft<td>onto road l
<tr><td>51<td>2<td>turnslightright<td>onto road e
<tr><td>52<td>3<td>turnleft<td>onto road j
<tr><td>53<td>3<td>turnright<td>onto road g
<tr><td>54<td>3<td>turnsharpright<td>onto road l
<tr><td>55<td>3<td>turnslightright<td>onto road i
<tr><td>56<td>1<td>turnsharpleft<td>onto road d
<tr><td>57<td>1<td>turnslightleft<td>onto road g
<tr><td>58<td>1<td>gostraight<td>onto road c
<tr><td>59<td>2<td>turnright<td>onto road d
<tr><td>60<td>2<td>turnslightright<td>onto road l
<tr><td>61<td>2<td>turnslightleft<td>onto road m
<tr><td>62<td>3<td>turnslightright<td>onto road j
<tr><td>63<td>3<td>turnsharpleft<td>onto road g
<tr><td>64<td>3<td>turnleft<td>onto road l
<tr><td>65<td>3<td>turnslightleft<td>onto road b
<tr><td>66<td>5<td>turnleft<td>onto road h
<tr><td>67<td>5<td>turnsharpright<td>onto road k
</table>

The edges file contains all edges generated. This is called en edeg-expanded graph. Two steps are taken here :

<h3>generating graph nodes </h3>

For each segment in the graph two nodes will be generated, on for each direction. Example :

<table border=1>
<tr><th>segment<th>fromnode<th>tonode
<tr><td>a<td>0<td>6
<tr><td>a<td>6<td>0
<tr><td>b<td>3<td>6
<tr><td>b<td>6<td>3
<tr><td>...<td>...<td>...
</table>

etc. Of course one-way roads will not become two but one grpah node.
In this case it will be 28 graph nodes, since the example has no oneway segments.

<h3>generating graph edges </h3>

For every possible movement between the edges, a graph edge will be created. In the example below i give the node numbers to sopecify the direction of the edge. So 0-6 means a,0,6 in the table above.

<table border=1>
<tr><th>from graph node<th>to graph node
<tr><td>0-6<td>6-0
<tr><td>0-6<td>6-3
<tr><td>0-6<td>6-2
<tr><td>...<td>...
<tr><td>6-0<td>0-6
<tr><td>6-0<td>0-3
<tr><td>6-0<td>0-5
<tr><td>...<td>...
</table>

So a u-turn is added as well ! The restrictions file is also considered in this step, so if a turn is forbidden, the graph edge is not created.

<h2>.osrm.hsgr </h2>

The hierarchy itself becomes a little too big to show in complete. So the middle part of the tables is skipped.

28+1 edge based nodes  (0-27 plus 28 to specify the endroad of node 27 (startroad-1))

<table border=1>
<tr><th>index<th>startroad
<tr><td>0<td>0
<tr><td>1<td>4
<tr><td>2<td>4
<tr><td>3<td>6
<tr><td>4<td>11
<tr><td>5<td>16
<tr><td>6<td>20
<tr><td>..<td>..
<tr><td>24<td>130
<tr><td>25<td>133
<tr><td>26<td>136
<tr><td>27<td>139
<tr><td>28<td>142
</table>

There are 142 (0-141) edges in the hierarchy.
 # *Note :* that the from id's where generated from the above list.They are not in the real data. 
 # *Also note :* that the column edge id points to edges in the hierarchy table (this table) when shortcut is 1, and in the original edges table if shortcut is 0.

<table border=1>
<tr><th>index<th>edgeid<th>from<th>to<th>weight<th>shortcut<th>forward<th>backward
<tr><td>0<td>47<td>0<td>5<td>72279<td>0<td>0<td>1
<tr><td>1<td>3<td>0<td>10<td>174142<td>1<td>0<td>1
<tr><td>2<td>9<td>0<td>10<td>123819<td>1<td>1<td>0
<tr><td>3<td>2<td>0<td>20<td>56721<td>0<td>1<td>0
<tr><td>4<td>27<td>2<td>1<td>56721<td>0<td>0<td>1
<tr><td>5<td>26<td>2<td>23<td>136415<td>1<td>1<td>0
<tr><td>6<td>22<td>3<td>0<td>144566<td>1<td>0<td>1
<tr><td>7<td>43<td>3<td>0<td>96620<td>0<td>1<td>0
<tr><td>8<td>22<td>3<td>4<td>211482<td>1<td>0<td>1
<tr><td>..<td>..<td>..<td>..<td>..<td>..<td>..<td>..
<tr><td>132<td>42<td>24<td>26<td>43738<td>0<td>1<td>0
<tr><td>133<td>4<td>25<td>2<td>96620<td>0<td>0<td>1
<tr><td>134<td>45<td>25<td>11<td>43738<td>0<td>1<td>0
<tr><td>135<td>67<td>25<td>27<td>39795<td>0<td>0<td>1
<tr><td>136<td>5<td>26<td>2<td>96620<td>0<td>0<td>1
<tr><td>137<td>24<td>26<td>10<td>77522<td>1<td>0<td>1
<tr><td>138<td>46<td>26<td>23<td>39795<td>0<td>1<td>0
<tr><td>139<td>66<td>27<td>3<td>39795<td>0<td>1<td>0
<tr><td>140<td>25<td>27<td>11<td>83533<td>1<td>1<td>0
<tr><td>141<td>37<td>27<td>22<td>48050<td>0<td>0<td>1
</table>

Why are there so much more nodes then in the input ? Because these are so-called edge-based nodes. These can be viewed as outgoing edges from a node, imagine it as the first step onto a road so you can't go in other directions anymore, the road is chosen.

View the next picture, the red numbers are the edge base nodes, close to an original node (blue) means that they start from there.

<img src="http://klopt.org/web/images/eb1.png" alt="Logo"/>
So for instance edgebased node 0 goes up, and 1 goes down, 22 goes right etc.. Note that (disclaimer : this seems to be so for these small examples)

 * the oneway street "l" still has two edge bases nodes
 * each road seems to be paired whith it's following number if even or with it's predecessor if uneven : [0,1][2,3][4,5] ...
 * the edge based nodes are number starting from original node index 0, and then in increasing order of "original to-node index" (3,5,6 for original node 0)
 * if an edge was already numbered in a pair it is skipped, leaving only edges to higher numbered nodes.
   # edge base node 0-5 (node 0 to 3,5,6) 
   # edge base node 6-13 (node 1 to 2,3,4,7)
   # edge based node 14-19 (node 2 to 3,6,7) (1 is already numbered)
   # edge based node 20-23 (node 3 to 6 and 8) (0 and 1 already done)

<h2>regular segments </h2>

A regular segment can be forward or backward directed. 

<h3>forward </h3>

A forward segment simply reads. Let's take one from the example table

<table border=1>
<tr><th>index<th>edgeid<th>from<th>to<th>weight<th>shortcut<th>forward<th>backward
<tr><td>3<td>2<td>0<td>20<td>56721<td>0<td>1<td>0
</table>

in combination with rule (2) from the segment descriptions 
<table border=1>
<tr><th>index<th>at node<th>do a<th>to go onto
<tr><td>2<td>3<td>turnright<td>onto road b
</table>

Index [3] : there is a road 56721 long from segment 0 leading to segment 20, and it turns right onto road b at node 3.

Watch the segment and node indices here. 

<h3>backward </h3>

The backward version, again with an example :

<table border=1>
<tr><th>index<th>edgeid<th>from<th>to<th>weight<th>shortcut<th>forward<th>backward
<tr><td>0<td>47<td>0<td>5<td>72279<td>0<td>0<td>1
</table>

and

<table border=1>
<tr><th>index<th>at node<th>do a<th>to go onto
<tr><td>47<td>0<td>turnsharpright<td>onto road j
</table>

Just swap from and to node to get : 

There is a road 72279 long leading from segment 5 to 0 and it turns sharp right at node 0 onto road J.

<h2>shortcuts </h2>

Shortcuts have a different interpretation of mainly the edge-id. The highest index in non-shortcut rules is 67 (the number of hierarchy edges). And 27 for shortcuts (the number of original edges).

So a forward rule reads : 
<table border=1>
<tr><th>index<th>edgeid<th>from<th>to<th>weight<th>shortcut<th>forward<th>backward
<tr><td>2<td>9<td>0<td>10<td>123819<td>1<td>1<td>0
</table>

There is a shortcut of 123819 long going from edge 0 to edge 10 and it's last segment is edge 9.

<h3>reverse </h3>

<table border=1>
<tr><th>index<th>edgeid<th>from<th>to<th>weight<th>shortcut<th>forward<th>backward
<tr><td>1<td>3<td>0<td>10<td>174142<td>1<td>0<td>1
</table>

This is the same principle : swap from and to

There is a shortcut of length 174142 going from 10 to 0, and it's last segment is edge 3.

<h2>Hierarchy </h2>

The last (reverse) example only presented part of the hierarchy. It gave the total length of the shortcut : 1 (c) 4 (k) 5 (h) 0 : 174142
And it gave the end segment (h).

However if you want to print a route, you need the other segments as well. 

<table border=1>
<tr><th>index<th>edgeid<th>from<th>to<th>weight<th>shortcut<th>forward<th>backward
<tr><td>137<td>24<td>26<td>10<td>77522<td>1<td>0<td>1
</table>

This is a shortcut (also reverse) of 77522, going from 10 to 26 with 24 as last segment. 

Here are all the shortcuts broken down :

<table border=1>
<tr><th>index<th>from<th>to<th>via<th>length<th>path<th>pathnrs
<tr><td>0<td>22<td>0<td>3<td>184465<td>i-i-h<td>22-27-3-0
<tr><td>3<td>11<td>1<td>8<td>100882<td>c-g<td>11-8-1
<tr><td>4<td>1<td>11<td>2<td>197079<td>j-h-k<td>1-2-25-11
<tr><td>7<td>2<td>1<td>23<td>184465<td>h-i-i<td>2-26-23-1
<tr><td>8<td>2<td>5<td>23<td>235823<td>h-i-i-b<td>2-26-23-20-5
<tr><td>10<td>2<td>11<td>25<td>140358<td>h-k<td>2-25-11
<tr><td>12<td>22<td>3<td>27<td>87845<td>i-i<td>22-27-3
<tr><td>14<td>11<td>4<td>1<td>157603<td>c-g-j<td>11-8-1-4
<tr><td>15<td>21<td>4<td>1<td>108079<td>b-j<td>21-1-4
<tr><td>17<td>0<td>5<td>20<td>108079<td>j-b<td>0-20-5
<tr><td>19<td>5<td>1<td>2<td>256744<td>a-h-i-i<td>5-2-26-23-1
<tr><td>20<td>5<td>11<td>2<td>212637<td>a-h-k<td>5-2-25-11
<tr><td>...<td>...<td>...<td>...<td>...<td>...<td>...
<tr><td>36<td>7<td>16<td>12<td>143738<td>d-f-e<td>7-12-19-16
<tr><td>...<td>...<td>...<td>...<td>...<td>...<td>...
<tr><td>69<td>12<td>16<td>19<td>91723<td>f-e<td>12-19-16
<tr><td>...<td>...<td>...<td>...<td>...<td>...<td>...
<tr><td>140<td>27<td>11<td>25<td>83533<td>i-k<td>27-25-11
</table>

<h1>routing algorithm </h1>

<h2>first pair of stacks </h2>

This is logical: we need as forward stack for routing from point A
and a backward stack routing from point B.

But the code has 2 forward and 2 backward stacks.

One problem arising when starting a route is that you provide coordinates, but these do not match the closest node, but the closest edge based node. And such a node has a specific direction. Take for example node 19 in the picture above.

So that is starting downward (as way e) from node 7 and is 50215 long.
What we actually means is that we start at node 7 and should be able to use edge-based-nodes 19 AND 13. 

This is circumvented by running another Dijkstra when a node is bi-directed. The segment-based node found is actually always the lowest one of a pair. 
For instance we search for the segment with the coordinates of NODE 7 (right top) and we get a  segment-pair that contains this coordinate. And that's 18-19.

It probably could have been 12-13 as well, but it is not. 

Now 18 is added with a weight of -1 * 50215, so it will arrive exactly at 0 in node 7, and can than go in any direction. And 19 will be added with cost 0 to start just from scratch. 

<h2>Second pair of stacks </h2>

Now the second pair of stacks is somewhat unclear, it definitely matters if you use them. Routing from node-pair 18-19 (7) to 10-11 (4)<br>
<br>
gives  shortest of 73492 for stackpair 1 and 226698 for stackpair2
this is mainly the route c-f and k-i-i-l-e<br>
<br>
routing from 7 to 4 (reverse) gives. <br>
<br>
shortest of 137814 (e-d-c)  and 73492 : (f-c)<br>
<br>
So now stack2 gives the correct result, so it seems needed.<br>
<br>

What i presume is happening is that in searching for a phantom node, you find not point 7, but edge-based node 19. That would mean only edge e is considered and not f, while you want both. <br>So the opposite edge-based node 18 is also added with a negative cost of -52015, so it will arrive at 7 with a cost of 0, and can plan onwards onto edge 13 (f). This would also work if 7 had more than two edges attached. <br>
<br>
I wonder if it would pay to start the dijkstra by first getting node 7 and finding all it's attached edge-based nodes, and putting all these into the heap. It would mean halving the calculation time. Also it would simplify the Matrix generation algorithm.

<h1>troubleshooting </h1>

<h2>wrong edge count </h2>

I mailed Dennis about this, the file <network>.osrm.edges contains the number of original edges followed by the edges themselves. But the count in that file is wrong for now (until osrm add's my patch).

The file is written in chunks of 100001, and the remainder is written after finishing the main loop. But the loop count is correctly maintained.
However after the loop the remainder is added again, so the count is too high. Fix this by hand by commenting/disabling the line :

 numberOfOriginalEdges += originalEdgeData.size();

In Contractor/EdgeBasedGraphFactory.cpp

<h2>cannot find first segment of edge </h2>

When you encounter lines like these, there is something wrong with the data. First note that this <b>only appears in a DEBUG compiled version</b>. So if you get it in the fastcgi file and not in for example osrm-routed, check your compiler flags.

To compile osrm-routed with debugging :

 scons --buildconfiguration=debug

<pre>
cannot find first segment of edge (30793,30789,1588591)
</pre>

IT means an inconsistent contraction hierachy (the .hsgr file).
<b>Do not use networks that spawn these errors</b>
