<h1>Open source routing machine</h1>

Open source routing machine is a fast routing engine based on contraction hierarchies. 

<h2>Single routing</h2>

Single routing is an algorithm that is divided into a number of steps

<ol>
<li>Find a node situated on the network graph as close as possible to the given coordinates. This is done for start and end point. These nodes are called "phantomNodes"
<li>Start a dijkstra search from both start and endpoint. This will create a grwoing circle of evaluated nodes around both points going upward in the hierarchy. Nodes lower in hierarchy don't have to be considered which is where this algorithm get's it speed advantage. 
<li>Check if both circles meet somewhere in the hierarchy. This means the optimal path is found and both parts of the path connect at that point. What you founjd now is the time of the route, because that is what the costs of the segments in the hierarchu are set as.
<li>Decode both sides of the route back into the actual route by dividing shortcuts in the hierarchy back into their components. The resulting route can be used to view the traject and calculate the distance.
</ol>

Although the network contains costs in time units, it is called 'dist' or 'distance' in many parts of the code. This is very confusing but remember that the base is always time, and distance has to be calculated.

<h3>time</h3>

The parameter returned by the routing algorithm is called descriptionFactory.entireLength, but be sure to know it is 'length of time' and measured in seconds.

Internally a measure of 'tenth of a second' is used, and maintained in an integer value.
In the method creating a route summary, this is converted to seconds by this formula :

<pre>
int travelTime = time/10 + 1;
</pre>

<h3>distance</h3>

The parameter returned by the routing algorithm is called descriptionFactory.lengthOfShortestPath, this is the actual length.

Units of time are internally maintained in a double variable containging the number of meters driven. In the summary this is converted by rounding.

<pre>
intToString(round(distance), lengthString);
</pre>

An example of a route between coordinates : <br>

52.24052,5.65038 (Gardenseweg, Putten) en <br>
52.09348,5.77524(Weversteeg, Otterlo) 

(Google 22,1 km 24 min)

Gives a result of<br>
time : internally 12518 (sec/10) becomes (12518+1)/10 = 1252 seconds = 21 min<br>
distance : internally 22112.932519 (mtr) becomes (round(22112.932519) = 22113<br>

<h2>Matrices</h2>

More..
