# Mac OSX

# introduction

I am no MAC fan, and this chapter will mostly be about the problems i encountered.

## losing focus on xterm

I noticed this after a software update, xterm once selected shortly loses focus and turns back after a second or so. See klopt.org for detailed info, but it’s my android phone attached as PTP camera. The program grabbing focus is com.apple.PTPCamera.

Set it to MTP !

I debugged this using this little program (watch_activations.py) :

<pre>
#!/usr/bin/python
import signal
import sys
def signal_handler(signal, frame):
    sys.exit(0)
signal.signal(signal.SIGINT, signal_handler)
signal.signal(signal.SIGQUIT, signal_handler)

from AppKit import *

class MyObserver(NSObject):
    def appActivated_(self, notification):
         app = notification.userInfo()["NSWorkspaceApplicationKey"]
         NSLog(u"activated %@ (%@)", app.localizedName(), app.bundleIdentifier())

ws = NSWorkspace.sharedWorkspace()
nc = ws.notificationCenter()
ob = MyObserver.new()
nc.addObserver_selector_name_object_(ob, "appActivated:", NSWorkspaceDidActivateApplicationNotification, ws)  
NSRunLoop.currentRunLoop().run()
</pre>

If you run this it will show which programs grabs the focus. Very handy. I could not disable PTPCamera with the guides mmentioned on the interwebz, so mainly stick with what helps : disconnect your fhone or set it to MTP (which is what you mostly want anyway)

## yum/apt like manager

There is fink, and backports. But lately i have mostly use homebrew or 'brew' for short:

'''Homebrew installs the stuff you need that Apple didn't '''

Install it with : 

    ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"

After that, for instance install wget with :

    brew update
    brew install wget

## Mavericks on Virtualbox

In short : use niresh' mavericks : <a href="http://hackintosh.zone/hackintosh-downloads/download/75-niresh-mac-os-x-mavericks-109-with-amd-intel-usb/">Here</a>

One step back : i<a href="http://www.macbreaker.com/2014/05/os-x-mavericks-in-virtualbox-with-niresh.html">a description</a>

Worked like a charm.

### quick guide 

Get the torrent file from niresh's site, you will need to endure some waiting and advertisements, but just put that in a background window and come back later.

It will unpack into a torrent file, which you than have to download, some more patience.

Please note that you need to comply with a number of issues mentioned in the description. They are : 

* Install the newest version of virtualbox, the default version from apt-get will NOT do. If you come here after installing, it's not too late, upgrade now and try to restart the VM. 
* Before installing disable the virtualbox option: "Sytem->Enable EFI" this is on by default, it shouild be off.
* Change the network card from Intel PRO/1000 T Server (82543GC) to Intel PRO/1000 MT Server (82545EM), and choose bridged network for ease.


## apache

This seems to be installed from scratch, since i only had to 

    sudo apachectl start

The interwebz assured me that this will automatically take care of start at reboot. In detail :

    It overrides the Disabled key in /System/Library/LaunchDaemons/org.apache.httpd.plist by modifying /private/var/db/launchd.db/com.apple.launchd/overrides.plist, just like launchctl load -w.

Some information i like to add here, though i yet have to try a restart to see if it works. 
Also i like to add this line to mock Apple for having a construct where one files says 'Disabled' and another one that negates this again, something only morons would do.

Also to aid in finding the web documents directory : the logical place is of course

    /Library/Webserver/Documents

And you can only edit that as root, or group member of wheel
... thanks Apple...

### apache environment variables.

I encountered a problem when making the 'lang' site where apache could not find the nodejs executable using the env syntax : 

    #!/usr/bin/env node

Results in something like 

    env: node not found

So that means it CAN find env, but env can't find node, which in this case was in /usr/loca/bin 

apache clearly uses a different PATH, and you can set it in : 

    /System/Library/LaunchDaemons/org.apache.httpd.list 

Add an entry like this : 

   <dict>                 
        <key>PATH</key>                 
        <string>/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin</string>         
   </dict>


restart apache : 

    apachectl restart

But chances are you are not allowed to write to this file, see next chapter for that.

## SIP

Or System Intergrity Protection. 
We as users are not supposed to change anything, even as root, so of course some directories are restricted for changes, even writable files as root.
This is called SIP and it's just another way for apple opf telling us we are too stupid to use their operating system.  

... thanks Apple ...

But heres a guide on how to disable. First you can can check if SIP is causein the by listing some of the holy directories : 

ls -lO /System /usr

(it's an o not zero) It will list the directory and print 'restricted' for every line. That means SIP is enabled.
We cannot disable it with a command, so youy have to boot into safe mode, which is done by :

. getting a horrible apple keyboard because osx won't reciognize real keyboards directly after boot
. reboot and press command+R until the apple logo appears.
. you get an alternative screen where you can start a terminal under 'utilities'
. type csrutil disable
. reboot again.

If you now check ls -lO again you will get a real directly listing


... thanks Apple ...

## chrome

Problems accepting untrusted certificates on chrome ?
Do it with safari, they end up in the keychain and chrome will usse that as well.

# network

## auto config

To find out what the auto config is, you can download the .wad file that configures that.
You can find the location in “Settings -&gt; Network -&gt; Advanced -&gt; Proxies -&gt; Proxy Configuration File” contained : 

http://wpad.rinis.nl/wpad.dat

This probably has not changed, download and view it, it is a plain text file. The proxy is easily found there.


# tools

## diskutil

To list your disk, there is no lsblk, but this will do:

	diskutil list 



## Automator

This is a way to create custom icons on your desktop. In fact it creates custom apps from commands, and thus you can have them on your desktop and in the sidebar. Run the automator and select “Application”. You can then type a shell command to make it act like an application by selecting “Run shell script”. 
You will get a standard command ‘cat’, which you can replace with 

	/Users/keesklop/bin/x &lt;yourhostname&gt; &&gt; /dev/null

This one will run the script that i use to startup an xterm with specific color for the given host. The last redirect is needed to run the command multiple times. For some reason it will only startup one if you do not redirect error output to /dev/null. Save the script you make as a new app.
To have a custom icon for your app see next chapter.

### Icons

To change icons for applications, this is the fastest way to get from an svg to a working icon.
I use svg to be able to quickly change the color for an xterm picture, but this is not directly supported in osx, you should create a png from it. You can do this by opening the svg in the gimp, and then exporting it as png, all choices can remain default.

Now double click on the png file, it will get opened by  preview, so just select “edit”-&gt;”copy”. 
Now right click on the application and do “get info”, select the icon at the left top, and paste (alt-v). 


Even faster, i found out you can just copy the file when it’s opened in the gimp. So open svg in gimp, edit-&gt;copy, then get info, and paste.


## karabiner

The god-awful horrible keys of mac osx can be brought back to within reasonable damage (god i hate mac) by using karabiner. I almost have normal functioning keys now with these settings enabled :

under “Change FN key” :
Fn to Control_L

under “Functional keys to F1..F12” :
Speaker controls to F10,F11,F12

under “change key”, “For pc Users” :
Use PC style copy/paste 
Use PC style undo
Use PC style find

Note: this will give problems on browsers doing shell simulation (all in-browser shells such as VNC, KVM and shellinabox) because the ctrl-c won’t do a normal ‘break’.

Since i use ctrl-c for copy a lot more, i choose this setting, when you need to do in browser shells : open up karabiner and disable the Use PC Style Copy/Paste option.( Leave it open to set it back when you are done)

# troubleshooting

## Losing focus

I noticed this after a software update, xterm once selected shortly loses focus and turns back after a second or so. See klopt.org for detailed info, but it’s my android phone attached as PTP camera. The program grabbing focus is com.apple.PTPCamera.

Set it to MTP !

God i hate Apple.


##  hanging appstore 

God i hate apple…

First find the AppStore process id and kill the hanging bastard :

	ps aux | grep Store 
	kill -9 XXX

That’ one problem out of the way, now we have to kill softwareupdatedb, but we need to be root for that:

	su
	ps aux | grep softwareupdated
	kill -9 YYY

Next we have to delete the appstore cache, you can open up a finderwindow


## opening texteditor to copy/paste

Very annoying of the X server is that it cannot share it’s copy-paste buffer with OSX. 
But if you open a file with the osx editor (TextEdit) it can copy paste. 

Still you need a ridiculous round trip to open up TextEdit : 
	
	open -a TextEdit localfile

God i hate Apple.

## repeatedly asking for keychain Access password


This was probably caused by not changing the password in the correct place. For instance changing it on the command line (you bastard….) 
So my first advise is : 

change you password via “System preferences” -> “Users & groups” -> “Change password’

Still this is not your fault if you did “IT IS APPLE’S FAULT” so now how to fix it.. 
This is a sequence of steps i took to at least lessen the problems : 

1. change you password again to another password via the System preferences”
2. Then back again so you now have done it the way apple wants.
3. Open “key chain access” and select “preferences” -> “First Aid”
4. i selected all options and closed again
5. now select “key chain access” -> “keychain first aid”
6. edit you password and hit verify 
7.if it mentions something run ‘repair’ otherwise toggle keys in point 4 until it does detect a problem.
8. reboot a lot in between

Remember : this is what i DID, so i am not sure which steps are really needed or not.
And my alltime advise: scrap your mac and buy a real machine.

God i hate Apple…

## googledrive

yes.. i added this under troubleshooting, actually this whole document could be under troubleshooting, but googledrive is a special case :

DON't install it, i had a complete guide for installation, but it sucks so much that i immediatley made a guide to remove it again. And since it is a complete nuisance to remove it i will only add that.

### REMOVING googledrive

And lately, i come to the conclusion that it does not work !!, copying files to the drive just does not do anything, and it becomes useless. Especially on OSX !!
Deleting is also much of a bother. You could look it up in Applications and trash it. Bit the icon remains even after you empty the trash.
It turn out there is another Application directory under your home directory !! Delete it there and finally it is gone.

# tips

## Creating bootable usb stick

Looks a lot like linux, however watch the hdiutil step needed to create a bootable image !

	su
	diskutil list

With an output of : 

	/dev/disk0
	   #:                       TYPE NAME                    SIZE       IDENTIFIER
	   0:      GUID_partition_scheme                        *121.3 GB   disk0
	   1:                        EFI EFI                     209.7 MB   disk0s1
	   2:          Apple_CoreStorage                         121.0 GB   disk0s2
	   3:                 Apple_Boot Boot OS X               134.2 MB   disk0s3
	/dev/disk1
	   #:                       TYPE NAME                    SIZE       IDENTIFIER
	   0:      GUID_partition_scheme                        *3.0 TB     disk1
	   1:                        EFI EFI                     209.7 MB   disk1s1
	   2:          Apple_CoreStorage                         3.0 TB     disk1s2
	   3:                 Apple_Boot Recovery HD             650.1 MB   disk1s3
	/dev/disk2
	   #:                       TYPE NAME                    SIZE       IDENTIFIER
	   0:                  Apple_HFS Macintosh HD           *3.1 TB     disk2
	                                 Logical Volume on disk0s2, disk1s2
	                                 B032FAAB-C93C-4F7E-AED6-A3C07A7C500B
	                                 Unencrypted Fusion Drive
	/dev/disk3
	   #:                       TYPE NAME                    SIZE       IDENTIFIER
	   0:     FDisk_partition_scheme                        *31.0 GB    disk3
	   1:                 DOS_FAT_32 MUSIC                   31.0 GB    disk3s1


Well, my usb disk is /dev/disk3, so unmount:

	diskutil unmountDisk /dev/disk3
	hdiutil convert -format UDRW -o target CentOS-6.7-x86_64-minimal.iso
	dd if=target.dmg of=/dev/disk3

So unmount the disk, then convert the iso to a bootable image, and dd it onto the usb stick.
hdiutil adds the .dmg.
Let’s take it some further, this worked for cs-rinis-237 :

* Plug the usb stick in a front slot, back will be occupied with kvm !?
* I set the usb profile to generic.
* Boot up and wait for 5 minutes, that’s when the second boot round will start because of idrac problems, actually at around 6 minutes you are really needed again.
* Hit F11 
* In the boot menu, try the harddisk menu, it will expand and show the usb stick
* Boot it and install.


## iTerm

cmd-k : really clear screen content
cmd-n : open new window (when selected, it opens a new window of the last app)


	adb and android file transfer loosing connection after seconds

This seems to be related, since adb connects and throws you out after 5 - 10 seconds, and android file transfer starts up and goes down and up again in the same amount of time.

Switching to another usb port helped for adb !!
Not for android file transfer it seems.


God i hate Apple

## loop mount

Again… much too complicated. 

First you need to use hdiutil to create a /dev/diskX file :

	hdiutil attach -imagekey diskimage-class=CRawDiskImage -nomount ~keesklop/Downloads/CentOS-6.7-x86_64-minimal.iso

Now pay attention because this will respond with something like : 

	/dev/disk5 


Then.. you need to mount that with : 

	hdiutil mount /dev/disk1

Again.. pay attention, because apple will decide again where it will be mounted :

	/Volumes/CentOS_6.7_Final

That is where you can go to.

God … i hate Apple


