# introduction

Yes.., i forgot it again. I just don;t patch enough to make it stick. So here is a short guide again.

## diff 

To patch you first have to make a diff, for a single file it is easy. Here are two example files :


old:
<pre>
First line unmodified
Second line error
Third line superfluous
</pre>

new:
<pre>
Zero added
First line unmodified
Second line fixed
</pre>

A simple diff old new gives : 
<pre>
0a1
> Zero added
2,3c3
< Second line error
< Third line superfluous
---
> Second line fixed
</pre>

But that's way too human readable, so make a unified diff :  diff -u old new

<pre>
-- old  2014-12-09 14:45:01.000000000 +0100
+++ new 2014-12-09 14:44:27.000000000 +0100
@@ -1,3 +1,3 @@
+Zero added
 First line unmodified
-Second line error
-Third line superfluous
+Second line fixed
</pre>

Of course redirection would be your tool : 

    diff -u old new > my.patch

This last format can be used for patch, see next chapter:

## patch

To apply a patch, you normally have the file old , and the patch and want : new.

<pre>
    patch < my.patch
</pre>

No filenames needed, because they are in the pathc file themselves, this command will turn old into new : 

    cmp old new

returns nothing.
If you need to use a file that is named differently : 

<pre>
    patch otherfile < my.patch
</pre>

As you might have guessed 'new' is not used in any of these commands.

# directories

On the diff side, this is easy, use the -r (recursive) option. But you need to diff something, so you need to have the original directory besides the altered one. A simple complete example:

<pre>
mkdir old
echo "Hallo" >> old/file
cp -r old new
echo "extra regel" >> new/file
diff -ruN > dir.patch
</pre>

-r (recursive), -u(unified) and -N means treat absent files as empty.

The patch file will contain : 
<pre>
diff -ruN old/file new/file
--- old/file    2014-12-09 15:33:24.000000000 +0100
+++ new/file    2014-12-09 15:33:59.000000000 +0100
@@ -1 +1,2 @@
 Hallo
+extra regel
</pre>

Patchin is done with : 

<pre>
patch -p0 < dir.patch 
</pre>

The -pX (--strip=X) is mandatory, and means strip X parts from the path prefix. So the -p0 would do nothing but : 

    -p0 uses old/file
    -p1 would use file
    -p2 .. etc

# git 

Making patches with git is rather easy if you use the git commands both ways : 

    git diff > my.patch

This produces unified format diff, but with some extra baggage, like a/ and b/ before the filenames. You could 'patch' that away again with -p1, or use

    git diff --no-prefix

If you need to provide a 'patch' input.
But the easiest is to use git again to 'apply' the patch ;

    git apply my.patch
