<h1>phonegap</h1>

A way of making android and iphone apps with one codebase. It uses html javascript and css. It is built on apache cordova see :

<a href="http://phonegap.com/2012/03/19/phonegap-cordova-and-what%E2%80%99s-in-a-name/">cordova or phonegap</a>

For cordova see <a href="/doc/?page=cordova">this page</a>

<h2>installation</h2>

Not as straight forward as the <a href="http://phonegap.com/install/">phonegap</a> site make it out to believe. Before the last three lines give you a working app, a LOT more has to be done.

Here is a more elaborate instruction: 

First note that it needs to compile code for android and iphone and so needs toolchains for those. So let's install <a href-"/doc/?page=android">android</a> and

<pre>
sudo npm install -g phonegap
</pre>

-g means globally instead of locally, so your chances of finding a command increse installing with -g

From here on, you will run into problems because of installation issues, just inspect the errors and they will point you to a solution. A couple of examples :

<h3>ERROR : No emulator images (avds) found</h3>

This one gives a url that explains how to solve this :

<pre>

/home/kees/projects/cordova/dhl-map/platforms/android/cordova/node_modules/q/q.js:126
                    throw e;
                          ^
ERROR : No emulator images (avds) found, if you would like to create an
 avd follow the instructions provided here:
 http://developer.android.com/tools/devices/index.html
 Or run 'android create avd --name <name> --target <targetID>'
 in on the command line.
   [error] /home/kees/projects/cordova/dhl-map/platforms/android/cordova/run: Command failed with exit code 8
</pre>
