# introduction

This will be mainly a guide to get from mysql to equivalent commands in postgres.

## mysql vs psql

The command line for postgres is psql.

When running psql it will assume 

Since you use that a lot, here are some subchapters about equivalent commands with psql.

## show database vs \l

There is a lot of backslash commands in psql, to list them all use \?

An altenative way of getting all databases is with a query : 

    select datname from pg_database;

## use databasename vs \c databasename

It means 'connect'


## show tables vs \dt

or 

    select tablename from pg_tables where schemaname=’public’; 

## show columns vs \d 'tablename';

or 
    SELECT column_name FROM information_schema.columns WHERE table_name ='tablename'; 


# overview table :

<table border=1>
<td>mysql<td> psql 
<tr><td>show databases<td> \l
<tr><td>use dbname;<td>\connect dbname
<tr><td>show tables;<td>\dt
<tr><td>describe tablename;<td>\d tablename
<tr><td>select version();<td>select version();
<tr><td>select now();<td>select now();
<tr><td>show grants for user@localhost<td>\du
<tr><td>mysqldump<td>pg_dump
</table>

# configuration

This is mostly in /var/lib/pgsql/data

pg_hba.conf : PostgreSQL client authentication configuration file

# authentication

By default postgres uses IDENT-based authentication and this will never allow you to login via -U (username) and -W (password) options.  You need to login as that user and then connect.  

    su dias psql  

However you can disable it in the pg_hba.conf file by changing the appropriate line for user(s) from ‘ident’ to ‘trust’  

    # TYPE  DATABASE    USER        CIDR-ADDRESS          METHOD   
    local   all         all                               ident 
    host    dias        dias        127.0.0.1/32          trust  

And of course a well-aimed   

    service postgresql restart  

This method can also be used to give other host access besides localhost :

    host    dias        dias        192.168.56.0/24          trust  

And now, if you are on a standard centos 6.6 server the firewall will have the forward rules disabled. You could try to fix that and i will later on (TODO) but for now just disable the firewall since this is an internal test setup.  service iptables stop  Navicat and other hosts should now be able to reach postgresql.


# log files 

/var/lib/pgsql/pgstartup.log
