<h1>rdesktop and rdp</h1>

Some rdesktop parameters :

<h2>screen resolution</h2>

<pre>
 rdesktop -g 1600x1200
</pre>

but also, if you don't want fullscreen still rather large :

<pre>
 rdesktop -g 80%
</pre>

<h2>exit fullscreen</h2>

If you do use fullscreen getting out of it is sometimes a problem, use F8 and you get some control back.

<h2>mounting a cdrom</h2>

<pre>
 rdesktop disk:cdrom=/mnt/cdrom
</pre>

This will make your local cd station available on the rdesktop machine.

