# python SOAP example

A good test site, nice and simple is www.webservicex.net, and a simple example is the currency convertor, though make sure you type convertOr .

Note that i started with 'suds' but that does not handle proxies very well, so i dump it for pysimplesoap

A simple working program, something EVERY SINGLE SITE lacked is : 

<pre>
from pysimplesoap.client import SoapClient 
client = SoapClient(wsdl="http://www.webservicex.net/CurrencyConvertor.asmx?WSDL",trace=False) 
response = client.ConversionRate("USD","EUR") 
print response
#result = response['ConversioRateResult'] 
#print result
</pre>

The last two lines show how youy could interpret the result which is :

<pre>
{'ConversionRateResult': 0.8799}
</pre>

You need pysimplesoap for this, but that's easily done with apt-get or pip: 

<pre>
pip install pysimplesoap
</pre>


## explanation 

If you open up the url in the source : <a href="http://www.webservicex.net/CurrencyConvertor.asmx?WSDL">http://www.webservicex.net/CurrencyConvertor.asmx?WSDL</a> , you will get a wsdl dump, where i took some highlights from below.

The wsdl decribes the format of the in and out messages of the SOAP transactions, it stands for Web Service Description Language. And pysimplesoap translates the wsdl into objects that directly implement the functions. The previous code descibed the types used in the operation, the next one descibed the operation :

    <wsdl:portType name="CurrencyConvertorSoap">
        <wsdl:operation name="ConversionRate">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                <br><b>Get conversion rate from one currency to another currency <b><br><p><b><font color='#000080' size='1' face='Verdana'><u>Differenct currency Code and Names around the world</u></font></b></p><blockquote><p><font face='Verdana' size='1'>AFA-Afghanistan Afghani<br>ALL-Albanian Lek<br>DZD-Algerian Dinar<br>ARS-Argentine Peso<br>AWG-Aruba Florin<br>AUD-Australian Dollar<br>BSD-Bahamian Dollar<br>BHD-Bahraini Dinar<br>BDT-Bangladesh Taka<br>BBD-Barbados Dollar<br>BZD-Belize Dollar<br>BMD-Bermuda Dollar<br>BTN-Bhutan Ngultrum<br>BOB-Bolivian Boliviano<br>BWP-Botswana Pula<br>BRL-Brazilian Real<br>GBP-British Pound<br>BND-Brunei Dollar<br>BIF-Burundi Franc<br>XOF-CFA Franc (BCEAO)<br>XAF-CFA Franc (BEAC)<br>KHR-Cambodia Riel<br>CAD-Canadian Dollar<br>CVE-Cape Verde Escudo<br>KYD-Cayman Islands Dollar<br>CLP-Chilean Peso<br>CNY-Chinese Yuan<br>COP-Colombian Peso<br>KMF-Comoros Franc<br>CRC-Costa Rica Colon<br>HRK-Croatian Kuna<br>CUP-Cuban Peso<br>CYP-Cyprus Pound<br>CZK-Czech Koruna<br>DKK-Danish Krone<br>DJF-Dijibouti Franc<br>DOP-Dominican Peso<br>XCD-East Caribbean Dollar<br>EGP-Egyptian Pound<br>SVC-El Salvador Colon<br>EEK-Estonian Kroon<br>ETB-Ethiopian Birr<br>EUR-Euro<br>FKP-Falkland Islands Pound<br>GMD-Gambian Dalasi<br>GHC-Ghanian Cedi<br>GIP-Gibraltar Pound<br>XAU-Gold Ounces<br>GTQ-Guatemala Quetzal<br>GNF-Guinea Franc<br>GYD-Guyana Dollar<br>HTG-Haiti Gourde<br>HNL-Honduras Lempira<br>HKD-Hong Kong Dollar<br>HUF-Hungarian Forint<br>ISK-Iceland Krona<br>INR-Indian Rupee<br>IDR-Indonesian Rupiah<br>IQD-Iraqi Dinar<br>ILS-Israeli Shekel<br>JMD-Jamaican Dollar<br>JPY-Japanese Yen<br>JOD-Jordanian Dinar<br>KZT-Kazakhstan Tenge<br>KES-Kenyan Shilling<br>KRW-Korean Won<br>KWD-Kuwaiti Dinar<br>LAK-Lao Kip<br>LVL-Latvian Lat<br>LBP-Lebanese Pound<br>LSL-Lesotho Loti<br>LRD-Liberian Dollar<br>LYD-Libyan Dinar<br>LTL-Lithuanian Lita<br>MOP-Macau Pataca<br>MKD-Macedonian Denar<br>MGF-Malagasy Franc<br>MWK-Malawi Kwacha<br>MYR-Malaysian Ringgit<br>MVR-Maldives Rufiyaa<br>MTL-Maltese Lira<br>MRO-Mauritania Ougulya<br>MUR-Mauritius Rupee<br>MXN-Mexican Peso<br>MDL-Moldovan Leu<br>MNT-Mongolian Tugrik<br>MAD-Moroccan Dirham<br>MZM-Mozambique Metical<br>MMK-Myanmar Kyat<br>NAD-Namibian Dollar<br>NPR-Nepalese Rupee<br>ANG-Neth Antilles Guilder<br>NZD-New Zealand Dollar<br>NIO-Nicaragua Cordoba<br>NGN-Nigerian Naira<br>KPW-North Korean Won<br>NOK-Norwegian Krone<br>OMR-Omani Rial<br>XPF-Pacific Franc<br>PKR-Pakistani Rupee<br>XPD-Palladium Ounces<br>PAB-Panama Balboa<br>PGK-Papua New Guinea Kina<br>PYG-Paraguayan Guarani<br>PEN-Peruvian Nuevo Sol<br>PHP-Philippine Peso<br>XPT-Platinum Ounces<br>PLN-Polish Zloty<br>QAR-Qatar Rial<br>ROL-Romanian Leu<br>RUB-Russian Rouble<br>WST-Samoa Tala<br>STD-Sao Tome Dobra<br>SAR-Saudi Arabian Riyal<br>SCR-Seychelles Rupee<br>SLL-Sierra Leone Leone<br>XAG-Silver Ounces<br>SGD-Singapore Dollar<br>SKK-Slovak Koruna<br>SIT-Slovenian Tolar<br>SBD-Solomon Islands Dollar<br>SOS-Somali Shilling<br>ZAR-South African Rand<br>LKR-Sri Lanka Rupee<br>SHP-St Helena Pound<br>SDD-Sudanese Dinar<br>SRG-Surinam Guilder<br>SZL-Swaziland Lilageni<br>SEK-Swedish Krona<br>TRY-Turkey Lira<br>CHF-Swiss Franc<br>SYP-Syrian Pound<br>TWD-Taiwan Dollar<br>TZS-Tanzanian Shilling<br>THB-Thai Baht<br>TOP-Tonga Pa'anga<br>TTD-Trinidad&amp;amp;Tobago Dollar<br>TND-Tunisian Dinar<br>TRL-Turkish Lira<br>USD-U.S. Dollar<br>AED-UAE Dirham<br>UGX-Ugandan Shilling<br>UAH-Ukraine Hryvnia<br>UYU-Uruguayan New Peso<br>VUV-Vanuatu Vatu<br>VEB-Venezuelan Bolivar<br>VND-Vietnam Dong<br>YER-Yemen Riyal<br>YUM-Yugoslav Dinar<br>ZMK-Zambian Kwacha<br>ZWD-Zimbabwe Dollar</font></p></blockquote>
            </wsdl:documentation>
            <wsdl:input message="tns:ConversionRateSoapIn"/>
            <wsdl:output message="tns:ConversionRateSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>

And a call in pysimplesoap like this : 

    client = SoapClient(wsdl="http://www.webservicex.net/CurrencyConvertor.asmx?WSDL",trace=False) 

Creates an object that contains a function called client.ConversionRate() that can be called like : 

    response = client.ConversionRate("USD","EUR") 

It takes an input message of ConversionRateSoapIn, which parameters are : 

    <wsdl:message name="ConversionRateSoapIn">
         <wsdl:part name="parameters" element="tns:ConversionRate"/>
    </wsdl:message>

So of ConversionRate, which is a set of two parameters FromCurrency, and ToCurrency of type "Currency", which if of type String : 

    <wsdl:types>
       <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
            <s:element name="ConversionRate">         
                <s:complexType>           
                    <s:sequence>             
                         <s:element minOccurs="1" maxOccurs="1" name="FromCurrency" type="tns:Currency" />             
                         <s:element minOccurs="1" maxOccurs="1" name="ToCurrency" type="tns:Currency" />           
                     </s:sequence>         
                </s:complexType>       
            </s:element>       
            <s:simpleType name="Currency">         
                <s:restriction base="s:string">           
                    <s:enumeration value="AFA" />           
                    <s:enumeration value="ALL" />           
                    <s:enumeration value="DZD" />           
                    <s:enumeration value="ARS" />           
                    <s:enumeration value="AWG" />
                    ...


Perhaps a smaller example is clearer, bu you will have to imagine the python code with that : 


        <?xml version="1.0"?>
        <definitions name="StockQuote"
                     targetNamespace="http://example.com/stockquote.wsdl"
                     xmlns:tns="http://example.com/stockquote.wsdl"
                     xmlns:xsd1="http://example.com/stockquote.xsd"
                     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                     xmlns="http://schemas.xmlsoap.org/wsdl/">

          <types>
            <schema targetNamespace="http://example.com/stockquote.xsd"
                    xmlns="http://www.w3.org/2000/10/XMLSchema">
              <element name="TradePriceRequest">
                <complexType>
                  <all>
                    <element name="tickerSymbol" type="string"/>
                  </all>
                </complexType>
              </element>
              <element name="TradePrice">
                 <complexType>
                   <all>
                     <element name="price" type="float"/>
                   </all>
                 </complexType>
              </element>
            </schema>
          </types>

          <message name="GetLastTradePriceInput">
            <part name="body" element="xsd1:TradePriceRequest"/>
          </message>

          <message name="GetLastTradePriceOutput">
            <part name="body" element="xsd1:TradePrice"/>
          </message>

          <portType name="StockQuotePortType">
            <operation name="GetLastTradePrice">
              <input message="tns:GetLastTradePriceInput"/>
              <output message="tns:GetLastTradePriceOutput"/>
            </operation>
          </portType>

          <binding name="StockQuoteSoapBinding" type="tns:StockQuotePortType">
            <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
            <operation name="GetLastTradePrice">
              <soap:operation soapAction="http://example.com/GetLastTradePrice"/>
              <input>
                <soap:body use="literal"/>
              </input>
              <output>
                <soap:body use="literal"/>
              </output>
            </operation>
          </binding>

          <service name="StockQuoteService">
            <documentation>My first service</documentation>
            <port name="StockQuotePort" binding="tns:StockQuoteSoapBinding">
              <soap:address location="http://example.com/stockquote"/>
            </port>
          </service>

        </definitions>


## curl 

Using curl to directly POST a soap request as aan xml file, probably needs some tweaking to the headers.
For ebms we needed this command:
    
    curl --header "Content-Type: application/soap+xml;charset=UTF-8" -d @sample-ebms-user-message.xml "192.168.50.115:8081/jentrata/ebms/inbound"

The format here is curl [set header] -d @[the file to send] [url]
