<h1>Solaris</h1>

This is oracle solaris, as opposed top "opensolaris". Opensolaris is hard to find on the web and when i found an .iso it was dated 2009. 
It seems development has stopped since 4 years so I opted for oracle.

<h2><a id="pkg">pkg =~ apt</a></h2>

You can just take the gui package manager instead, but from the command line :
For instance

<pre>
pkg install vim
</pre>

<h2><a id="log">/var/log/syslog =~ /var/adm/messages</a></h2>

There are file in /var/log and in /var/adm.

<h2><a id="smf">service =~ smf</a></h2>

Instead of the service command (or the /etc/init.d scripts) you can use like :

<pre>
service apache2 start
</pre>

You can use smf, which GUI is available from the gnome menu's. Or the command line versions :

<pre>
svcadm restart network/http:apache2
</pre>

This command lists all running services :
<pre>
svcs -a 
</pre>

<h2><a id="resolution">resolution</a></h2>

The installation of oracle solaris 11 starts out with a resolution of 1024x768 at most. This proved to be difficult to change the first time. I just could not get it working. 
The second time, within a minute. Now without trying to figure out what i did wrong the first time, let's just state what exactly id did (right) the second time : 

<ul>
<li>I started out with the oracle solaris 11 live image for x86
<li>In the menu choices just take the first and default
<li>Upon installation, again the resolution is 1024x767
<li>Unmount the iso live disk and choose menu option "install guset additions"
<li>Run the "Open autorun prompt" when you open up VBOXADDITIONSXXX 
<li>Type in the use password you gave at installation (it's sudo)
<li>After the installation, the prompt says to re login: do it
<li>Logout, login : The resulution changes !!!
<li>Switch to fullscreen: the resolution is your max resolution !
<li>Check the resolutions, your monitor is now called "VBX"
</ul>
