<h1>Speed reading software</h1>

<h2>command line tool: speedread</h2>

    git clone https://github.com/pasky/speedread
    cp speedread/speedread ~/bin

Yep, it's a ready to use (perl) program.
Usage : 

    speedread txtfile

This will start in 250 wpm mode, which is not actually a speedup, so try : 

    speedread -w 500 txtfile

For some gain. Also you can adjust this with the [ and ] keys.
Space will pause the reader. 
I would advise to put the line at eye-hight which seemed to make a lot of difference for me.
Stopping can only be done with ctrl-c it seems. But this does seem to mess up yur terminal, always do 

    stty sane

After a broken session. Or alter the speedread script, change the function $SIG to 

    $SIG{INT} = sub {
        print_stats;
        stty('cooked', 'echo', 'icanon');
        exit;
    };

This reset the options (especially -icanon) back to it's original settings.

<h2>openspritz</h2>

git clone https://github.com/Miserlou/OpenSpritz

But since this does not work out of the box, i leave it here as mentioned.

<h2>spritz-js</h2>

    git clone https://github.com/richardtagger/spritz-js
    sudo cp -r spritz-js /var/www/

And then browse to <a href="http://localhost/spritz-js/demo.html">http://localhost/spritz-js/demo.html</a>. 
Or visit this preinstalled version : <a href="/static/spritz-js/demo.html">spritz</a>. 

This one does work out of the box, but needs some tweaking to use it in your web site.
I will...
