# java spring framework

This tutorial will be built with maven. See [maven](/doc?page=maven)

## quick start

Maven is for generating a project structure and building apps with that. There is a list of templates already made for you , which you can view with : 

 mvn archetype:generate

or directly into a file, cause it’s long (1347 items at the time of writing)  :

 mvn archetype:generate > dmp.txt

Now in this list you can search for a suitable archetype, for instance 

    644: remote -> org.apache.maven.archetypes:maven-archetype-quickstart (An archetype which contains a sample Maven project.)

### pom.xml

You should build one of these whenever you just use mvn archetype:create. 
But using the archetype:generate is much easier. 

mvn archetype:generate 

With all defaults you get a decent pom.xml to start with. 
You could run this as out-of-the-box with :

 mvn compile
 mvn package
 java -cp target/*.jar Class

If you need more dependencies like spring, there is more needed. 
First you need to specify which dependency you need in the pom.xml file. We used some spring functionality : 

<pre>
package nl.rinis.tools;

import org.springframework.context.support.AbstractApplicationContext;
import org.springframework.context.support.ClassPathXmlApplicationContext;

public class App {
   public static void main(String[] args) {

      AbstractApplicationContext context = new ClassPathXmlApplicationContext("Beans.xml");

      HelloWorld obj = (HelloWorld) context.getBean("helloWorld");
      obj.getMessage();
      context.registerShutdownHook();
   }
}
</pre>

So we got a compile error like:

    /Users/keesklop/projects/java/maven/Tool/src/main/java/nl/rinis/tools/InitHelloWorld.java:[3,48] package org.springframework.beans.factory.config does not exist

The easiest way to resolve this, is to visit : search.maven.org  And fill in the package name, the site will correct you and put fc: in front of it. You can find out what these mean by choosing afvanced search, and watching the results. For instance searching on classname will alter you serach in c:"ClassName". But sadly i cant reproduce fc: so i have no idea what it does. However it helps in finding packages since org.springframework.beans finds nothing but fc:org.springframework.beans does. 

But then you will see some choices, and an educated guess will point you at the jar missing. In this case “spring-core”  seemed obvious, so click on that link, it will show you different versions.
Well i chose the latest and clicked on that, then under maven you get an xml dependency section you can copy and paste into your pom.xml file.


<dependency>
    <groupId>org.springframework</groupId>
    <artifactId>spring-core</artifactId>
    <version>4.2.1.RELEASE</version>
</dependency>

Of course this might be an iterative process of compiling and searching again. 

    mvn compile
    java -cp target/classes nl.rinis.nl.tools.App
    java -cp target/classes nl/rinis/nl/tools/App

Both last commands will at least run the app .. but fail with dependency problems.
On linux you can use TAB completion, on OSX i have not git that running yet.

Or package it into a jar file : 

    mvn package
    java -cp target/Tool-SNAPSHOT.jar nl.rinis.tools.App

This made my sources compile and package, but not run. 
The first time you do this maven will be a little more verbose while downloading your jars and putting them under :

 ~/.m2/

Now when i tried to run my app it went wrong again : 

    runtime dependencies
    Exception in thread "main" java.lang.NoClassDefFoundError: org/springframework/context/support/AbstractApplicationContext

Well that should not even be surprising because where does java get that class from where you compiled. There is a command in maven that gathers the dependencies fior you : 
 
    mvn dependency:copy-dependencies 

Now you will find target/dependencies folder filled with all the dependencies, including transitive : 

    [INFO] Copying junit-3.8.1.jar to /Users/keesklop/projects/java/maven/Tool/target/dependency/junit-3.8.1.jar
    [INFO] Copying junit-3.8.1.jar to /Users/keesklop/projects/java/maven/Tool/target/dependency/junit-3.8.1.jar
    [INFO] Copying spring-context-4.2.0.RELEASE.jar to /Users/keesklop/projects/java/maven/Tool/target/dependency/spring-context-4.2.0.RELEASE.jar
    [INFO] Copying spring-core-4.2.0.RELEASE.jar to /Users/keesklop/projects/java/maven/Tool/target/dependency/spring-core-4.2.0.RELEASE.jar
    [INFO] Copying spring-beans-4.2.0.RELEASE.jar to /Users/keesklop/projects/java/maven/Tool/target/dependency/spring-beans-4.2.0.RELEASE.jar
    [INFO] Copying aopalliance-1.0.jar to /Users/keesklop/projects/java/maven/Tool/target/dependency/aopalliance-1.0.jar
    [INFO] Copying spring-aop-4.2.0.RELEASE.jar to /Users/keesklop/projects/java/maven/Tool/target/dependency/spring-aop-4.2.0.RELEASE.jar
    [INFO] Copying spring-expression-4.2.0.RELEASE.jar to /Users/keesklop/projects/java/maven/Tool/target/dependency/spring-expression-4.2.0.RELEASE.jar
    
So now, you could try again but of course with the target/dependencies folder added. Note that i also add the src directory, because that is where the Beans.xml file is, and i save you one error message.

    export CLASSPATH="target/Tool-1.0-SNAPSHOT.jar:target/dependency/*:src"

Also note the “” quotes and the * (not *.jar) as a wildcard.

    java nl.rinis.tools.App

    Sep 03, 2015 9:18:49 AM org.springframework.context.support.ClassPathXmlApplicationContext prepareRefresh
    INFO: Refreshing org.springframework.context.support.ClassPathXmlApplicationContext@5197848c: startup date [Thu Sep 03 09:18:49 CEST 2015]; root of context hierarchy
    Sep 03, 2015 9:18:49 AM org.springframework.beans.factory.xml.XmlBeanDefinitionReader loadBeanDefinitions
    INFO: Loading XML bean definitions from class path resource [Beans.xml]
    Your Message : Hello World!
    Sep 03, 2015 9:18:49 AM org.springframework.context.support.ClassPathXmlApplicationContext doClose
    INFO: Closing org.springframework.context.support.ClassPathXmlApplicationContext@5197848c: startup date [Thu Sep 03 09:18:49 CEST 2015]; root of context hierarchy

Somewhere in there is a Hello World message, but as you see in the mvn dependency:copy-dependencies step, it uses log4j and you can steer (shut) this (up) by adding a log4j.properties file somewhere in the class path (i did src/ ) with something like : 

<pre>
log4j.rootLogger                            = DEBUG,ca,fa

log4j.category.org.springframework = ERROR

#ca - Console Appender - Send messages to the console
log4j.appender.ca                          = org.apache.log4j.ConsoleAppender
log4j.appender.ca.layout                   = org.apache.log4j.PatternLayout
log4j.appender.ca.layout.ConversionPattern = [acme]: [%-5p] - %d{yyyy-MMM-dd HH:mm:ss} -  %c{1}:%M(): %m%n

#fa - File Appender - Send messages to a log file
log4j.appender.fa                            = org.apache.log4j.RollingFileAppender
log4j.appender.fa.File                       = acme.log
log4j.appender.fa.MaxFileSize                = 100KB
log4j.appender.fa.MaxBackupIndex             = 10
log4j.appender.fa.Threshold                  = DEBUG
log4j.appender.fa.layout                     = org.apache.log4j.PatternLayout
log4j.appender.fa.layout.ConversionPattern   = [%-5p] - %d{yyyy-MMM-dd HH:mm:ss} -  %c{2}:
</pre>

ERROR is probably a useful level.

Now there are a number of ways to get the jar to be executed, a number of them are described in [maven](/doc?page=maven)

The best in my opinion is described here : 

