<h1>Storage</h1>

<h2>cd</h2>

<h3>finding the cd drive</h3>

    cdrecord -scanbus

You get a list like : 

<pre>
scsibus2:
	2,0,0	200) 'ATA     ' 'SAMSUNG HD502IJ ' '1AA0' Disk
	2,1,0	201) *
	2,2,0	202) *
	2,3,0	203) *
	2,4,0	204) *
	2,5,0	205) *
	2,6,0	206) *
	2,7,0	207) *
scsibus4:
	4,0,0	400) 'LITE-ON ' 'DVD SOHD-167T   ' '9S19' Removable CD-ROM
	4,1,0	401) 'LITE-ON ' 'LTR-12101B      ' 'LS38' Removable CD-ROM
	4,2,0	402) *
	4,3,0	403) *
	4,4,0	404) *
	4,5,0	405) *
	4,6,0	406) *
	4,7,0	407) *
</pre>

Decide on the one you want to use and remember the number.

<h3>Burning the image</h3>

So burning it to 'LITE-ON' 'LTR-12101B' would mean : 

<pre>
cdrecord -v dev=4,1,0 WXPVOL_EN.iso
</pre>

<h2>dvd</h2>

<h3>ripping dvd</h3>

<pre>
 dd if=/dev/cdrom of=/path/to/cdcopy.iso
</pre>

Or find out what the dvd device is, on power you need :

<pre>
 dd if=/dev/sr0 of=/path/to/cdcopy.iso
</pre>


<h3>burning (copying) dvds</h3>

This is an ultrashort description of how to burn dvd's on linux:

install growisofs

<pre>
 apt-get install dvd+rw-tools
</pre>

get the data from the dvd as a whole

<pre>
 cat /dev/hda &gt; big.iso
</pre>

burning the image

<pre>
 growisofs -Z /dev/cdrom=big.iso
</pre>


If you want to burn a '''directory''': 

<pre>
 growisofs -Z /dev/dvd -R -J /dir/file-name
</pre>


Note that a command like this :

<pre>
 growisofs -Z /dev/dvd -R -J big.iso
</pre>

<b>Will not burn the image to disk but will make a dvd whith big.iso on it as the only file</b>
