<h1>Software general</h1>

For the larger topics, see left menu.<br>
For some small but handy progams : 

<h2>A password generator</h2>

This entry is just here because i keep forgetting the name.
usage : 

<pre>
 apt-get install apg
 apg
</pre>

It generates password that are strong BUT rememberable. Example : 

    apg -t -m 12

Where -t is setting the pronouncable passwords option, and -m states the minimum length.

<pre>
Vasoopchieb1 (Vas-oop-chieb-ONE)
Lixidcost9 (Lix-id-cost-NINE)
</pre>

You can steer the output with 

<h2>Find</h2>

find is a use full unix command whih i useually use in combination with grep

<pre>
 find . | grep "class"
</pre>

But it can also be used directly as in :

<pre>
 find . -name "*.class"
</pre>

Though this is more typing it can be usefull when you use the exec option for find.
The next command for instance will recursively remove all class files from a java tree :

<pre>
 find . -name "*.class"  -exec rm '{}' \;
</pre>

For an alternative to this with a more rememberable syntax, see xargs below.

Also, note that the default commando for find is -print, so the next commands all do the same : 

<pre>
find 
find .
find . -print
</pre>

However print closes off with a newline, where you could also close of with a '\0'. This will means the output will be on one line : 

<pre>
find . -print
./03 - blackroom reality.mp3
./3 - The Case Of Charles Dexter Ward.mp3
./(9.0) Ayrean - Sail away to avalon.mp3
</pre>

Vs : 

<pre>
find . -print
../03 - blackroom reality.mp3./3 - The Case Of Charles Dexter Ward.mp3./(9.0) Ayrean - Sail away to avalon.mp3
</pre>

Note that find will also list the current directory "." and cat's everything together giving the ".." at the start.

See xargs -0 parameter for the connection betweem these two.

<h2><a id="xargs">Xargs</a></h2>

xargs is a nice way to turn output of other commands into executable commands.
So you can for instance put the output of find trough xargs and execute a command for all names that find has found.

An example is the removal of all .svn directories in a source tree.

<pre>
find ./ -name ".svn" | xargs rm -Rf
</pre>

If you are afraid of using it, this version would first print all files.

<pre>
find ./ -name ".svn" | xargs echo
</pre>

But not always the argument appears as the last item on the line, you can steer this with the -I option 

<pre>
head -1 passwd.mig | cut -d":" -f1 | xargs -I {} grep -l {} /etc/passwd
</pre>

I use {} here because it corresponds with the find -exec syntax, but this would work just the same : 

<pre>
head -1 passwd.mig | cut -d":" -f1 | xargs -I x grep -l x /etc/passwd
</pre>

Using vi with xargs will probably give you terminal problems, example of editing all files containing klopt.web :

<pre>
grep -r -l klopt\.web | xargs vi
</pre>

Will give a startup message :

<pre>
Vim: Warning: Input is not from a terminal
</pre>

And will mess up you stty settings when done. Now the quick way is to just ignore the message, edit and afterwards (blindly) typing :

<pre>
stty sane
</pre>

But otherwise this line would work:

<pre>
grep -r -l klopt\.web | xargs bash -c '</dev/tty vim "$@"' ignoreme
</pre>

You might want to script that ;)

We used single file names a lot in the above examples, but this will fail if you are going to use files with spaces in them. 

<pre>
find . | xargs ls
ls: cannot access ./03: No such file or directory
ls: cannot access -: No such file or directory
ls: cannot access blackroom: No such file or directory
ls: cannot access reality.mp3: No such file or directory
ls: cannot access ./3: No such file or directory
ls: cannot access -: No such file or directory
ls: cannot access The: No such file or directory
ls: cannot access Case: No such file or directory
ls: cannot access Of: No such file or directory
ls: cannot access Charles: No such file or directory
ls: cannot access Dexter: No such file or directory
ls: cannot access Ward.mp3: No such file or directory
ls: cannot access ./(9.0): No such file or directory
ls: cannot access Ayrean: No such file or directory
ls: cannot access -: No such file or directory
ls: cannot access Sail: No such file or directory
ls: cannot access away: No such file or directory
ls: cannot access to: No such file or directory
ls: cannot access avalon.mp3: No such file or directory
</pre>

So it is cut on the spaces in the names, because the output with -0 would be :

<pre>
 find . | xargs -0  ls
./03 - blackroom reality.mp3
./3 - The Case Of Charles Dexter Ward.mp3
./(9.0) Ayrean - Sail away to avalon.mp3
</pre>

-0 Means '\n' will be used as a delimiter, and not whitespace. So if needed you can switch newlines on or off in both find (-print0) and xargs. 
It is also available on other handy tools like locate.

This is a command to see which different versions of "Restless Oblivion" (Anathema) where on the system, i needed the file length for that.

<pre>
locate -0 blivion | xargs -0 -I{} ls -l {} | grep estless
</pre>

I could not get "locate | grep | xargs" working, but of course filtering the output afterwards gives the same result.
