<h1>synergy</h1>

Synergy is a tool to use one keyboard and mouse for multiple network-connected machines.<br>
The setup i tried was A linux mint workstation and a mac G5 i still had hanging around.
<br>
The mac has a good screen (1680x1050) but no video-in connector, so a direct setup would not work and also you loose the cpu of the mac itself.

The approach of synergy is to just stream the mouse and keyboard action over the network. 

<h2>installation</h2>

Synergy works on a client (the machines without keyboard and mouse) and server (the one with the keyboard and mouse). 
It then works with 4 extension machines, one above, left, right and below the main one.
To keep your sanity place the monitors in that positions as well ;)

I put the server on a linux machine, and the mac to it's right. 

<b>as as quickstart, since SynergyOSX just fails do :</b> 

In this order, linux, mac (server,client) :

<ul>
<li>start quicksynergy and press 'Execute'
<li>/User/Kees/Library/Preferences/synergyosx/synergyc -f -debug DEBUG 192.168.2.5
</ul>

<h3>mac</h3> 

This contains the client, now you will find the synergy exactuables from http://synergy-foss.org/ will not work, seems they only covered intel and not PPC as usual.
But the one from http://www2.altuit.com/webs/altuit2/SynergyOSX/default.htm does work albeit only the client. But in my case that was what's needed.

Download the file and run it, you fill in the ip of the linux machine under
 "Synergy Server Address". It will also list the name it uses "This Host Name". You need that name, not the ip address in the server setup.

If for any reason this fails <b>in my case ALWAYS</b>, run the client by hand with debugging information "-d DEBUG" and standalone "-f" :

<pre>
 /User/Kees/Library/Preferences/synergyosx/synergyc -f -debug DEBUG <server address>
</pre>

<h3>linux</h3> 

Install the tool quicksynergy, it can do both server and client role. 

<pre>
 apt-get install quicksynergy synergy
</pre>

For the server, select the "share" tab, and point to the position you want the mac to be in , "right" for me. 
Now watch that you have the correct name to fill in there. See previous section for that name.

Start the tool and try to move right of the screen, if all goes well you should see the mouse pointer appear on the mac screen.
If not : there is also a debug mode on the server :

<pre>
 synergys -f -d DEBUG -c .quicksynergy/synergy.conf
</pre>

That last file is where the settings you created with quicksynergy are stored.
The messages printed on both consoles with debugging should point you at a solution.

