<h1>tcpdump</h1>

tcpdump is a tool you can use for dumping network traffic on your local machine.

<h2>examples</h2>

I'll leave it with some examples for now

To dump alle traffic from a particular host : in and out :

<pre>
 tcpdump host 81.30.34.122
</pre>
 
It will dump lines like :

<pre>
11:30:00.102931 IP static.ip-081-030-034-122.signet.nl.4941 > deal01.customers.luna.net.ssh: Flags [S], seq 3779386216, win 65535, options [mss 1460,nop,nop,sackOK], length 0
11:30:00.102950 IP deal01.customers.luna.net.ssh > static.ip-081-030-034-122.signet.nl.4941: Flags [S.], seq 834554206, ack 3779386217, win 5840, options [mss 1460,nop,nop,sackOK], length 0
11:30:00.112802 IP static.ip-081-030-034-122.signet.nl.4941 > deal01.customers.luna.net.ssh: Flags [.], ack 1, win 65535, length 0
11:30:00.128692 IP deal01.customers.luna.net.ssh > static.ip-081-030-034-122.signet.nl.4941: Flags [P.], seq 1:42, ack 1, win 5840, length 41
11:30:00.142528 IP static.ip-081-030-034-122.signet.nl.4941 > deal01.customers.luna.net.ssh: Flags [.], ack 42, win 65494, length 0
11:30:00.142541 IP static.ip-081-030-034-122.signet.nl.4941 > deal01.customers.luna.net.ssh: Flags [P.], seq 1:31, ack 42, win 65494, length 30
....
</pre>

A bit cryptic of course, but you can extract useful info from that

