<h1>Telephony</h1>

Telephony is put under the main menu 'software' because that what the resulting documentation tends to be about, apart from some isdn issues. For the larger issues select a topic from the left menu.

<h2>brightcom modem</h2>

This modem has two GSM connection and an NT and TE isdn-2 port. Apart from the fact that we might be able to use this thing as connector for the ask-cs site, it has some handy led's for testing. For each of the ports, this modem has a led that incicates the status of the connected line: red for disconnected, clear for connected, blinking red for failure, even green for incoming call.

Testing with this modem revealed that the NT mode of zaphpc + HFCPCI cards work, becasue you can see the lights changing when loading the NT driver (make loadNT in zaphfc), and fail when loading the TE driver (make load).

