# <a id="tomcat">tomcat</a>

## installation

This chapter is based on tomcat version 7. It is available on debian wheezy and higher, if you have an earlier debian/ubuntu, i managed to install it by (temporarily) adding a 'sid' entry to /etc/apt/sources.list.

<code>
 apt-get install tomcat7
</code>

There is a version 7, but it was not in my apt-list, so 6 it is.
Now browser to http://localhost:8080 and see if it runs.

Not much to do with that i suppose so, do some(or all) of the suggestions there 

<code>
 apt-get install tomcat6-admin tomcat6-examples tomcat6-docs
</code>

This will install a manager interface reachable at : http://localhost:8080/manager/html
and a host manager at : http://localhost:8080/host-manager/html

but login wil not work until you added a user. Now as the startpage of tomcat says: the mannager interface will only be vsible for manager users and the host manager only to admin's. so.... let's be both :

## setup

Add these lines to the file : /etc/tomcat6/tomcat-users.xml

<code>
 &lt;role rolename="manager"/&gt;
 &lt;user username="tomcat" password="s3cret" roles="manager-gui,manager-script,admin-gui"/&gt;
</code>

<ul>
<li>manager-gui is for the management interface
<li>admin-gui is for the host management interface 
<li>manager-script is for uploading war files
</ul>

of course, change at will with your own username and pass, then : 

<code>
 /etc/init.d/tomcat6 restart
</code>

## logging

Ok, tired of not seeing a bloody thing in the logs accept GET /hello/ let's set **EVERYTHING ON !!** 

    echo ".level = FINEST" >> /etc/tomcat7/logging.properties
    service tomcat7 restart

FINALLY i see something happening when running : 

<code>
tail -f /var/log/tomcat7/catalina.out
</code>

Catalina.out is the logfile for the output of the main 'executable' tomcat itself. It will probably be your best guess. There is also /var/log/tomcat7/localhost-date.log that you might want top watch.


## deployment

#  autoDeploy 

Next problem is the constant stream of messages about redeploying all servlets. It does that every 10 seconds and it clogs up the logs if you want it set to FINEST. There are in fact 2 solutions to this, disable autoDeploy or set the loglevel to FINE. See above for the second solution.

## disable autoDeploy

Edit /etc/tomcat7/server.xml and search for autoDeploy. Set it to "false".

## 404 : description The requested resource (/hello) is not available.

This is fantastically poorly documented. So here is what worked and what did not.  A servlet with no package to keep it simple :  ServletDemo.java :

<code>
import java.io.IOException;
import java.io.PrintWriter;
import javax.servlet.http.HttpServlet;
import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;

public class ServletDemo extends HttpServlet{

    public void doGet(HttpServletRequest request, HttpServletResponse response)
    throws IOException{
        PrintWriter out = response.getWriter();
        out.println("<html>");
        out.println("<body>");
        out.println("<h1>Hello Klopt Servlet Get</h1>");
        out.println("</body>");
        out.println("</html>");
    }
}
</code>

So the class will be ServletDemo(.class) and the mapping should be set in webapps/hello/WEB-IBNF/web.xml :

<code>
<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
        <servlet-name>Servlet Name For Demo</servlet-name>
        <servlet-class>ServletDemo</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet Name For Demo</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
</web-app>
</code>

Hoping this would work on url http://localhost:8080/hello
it will not... it works on http://localhost:8080/hello/hello

So map a servlet-class with a url-pattern by matching the 'servlet-name' tag. Then you will have these combinations work/fail :

##         <url-pattern>/hello</url-pattern>

only works with :

<pre>
http://localhost:8080/hello/hello
</pre>

All these will fail : 

<pre>
http://localhost:8080/hello/hello/
http://localhost:8080/hello
http://localhost:8080/hello/ServletDemo
</pre>

However, using this url : 

##         <url-pattern>/</url-pattern>

Will work with all of the above/below :

<pre>
http://localhost:8080/hello/hello/
http://localhost:8080/hello
http://localhost:8080/hello/ServletDemo
http://localhost:8080/hello
http://localhost:8080/hello/whatever
</pre>

But not : 

<pre>
http://localhost:8080/anythingelse
</pre>

To make it simple, use the latter, since it is the only format that will let your deployed file work with the tomcat interface itself. Notice that it will say /hello. So it will give a 404 error if you click on it unless you use '/'


# deployment 

This tree is enough to get the above example running :

<pre>
hello
└── WEB-INF
    ├── classes
    │   └── ServletDemo.class
    ├── lib
    │   └── servlet-api.jar
    └── web.xml
</pre>

To deploy it with ant, use this template, which also builds the class the build.xml file below is used, however since it is smaller i will start with the build.properties file that is used by it : 

<pre>
project-name=hello
builder=kees klop
tomcat-manager-url=http://localhost:8080/manager/text
tomcat-manager-username=tomcat
</pre>

### apache 

Remember that tomcat operates on port 8080, and apache is on port 80. Just placing calls from apache javascript to tomcat will not work because it is regarded another url : x.x.x.x:80 -> x.x.x.x:8080 is just as forbidden as x.x.x.x:80 -> y.y.y.y:80 

So you need to setup tomcat as an apache proxy to smooth that out, add a file called tomcat to /etc/apache2/conf.d with these contents:

<pre>
 LoadModule proxy_module  /usr/lib/apache2/modules/mod_proxy.so
 LoadModule proxy_ftp_module modules/mod_proxy_ftp.so
 LoadModule proxy_http_module modules/mod_proxy_http.so
 LoadModule proxy_connect_module modules/mod_proxy_connect.so
 ProxyPass         /bag  http://localhost:8080/bag
 ProxyPassReverse  /bag  http://localhost:8080/bag
</pre>

Restart the apache server:

<pre>
 /etc/init.d/apache2 restart
</pre>

Now these should give the same result 

<pre>
 http://localhost:8080/bag
 http://localhost:80/bag
 http://localhost/bag
</pre>

If you get this error.  

<pre>
 No protocol handler was valid for the URL /bag. If you are using a DSO version of mod_proxy, make sure the proxy submodules are included in the configuration using LoadModule.
</pre>

It means you forgot the other two modules as decribed above.

<pre>
 LoadModule proxy_ftp_module modules/mod_proxy_ftp.so
 LoadModule proxy_http_module modules/mod_proxy_http.so
 LoadModule proxy_connect_module modules/mod_proxy_connect.so
</pre>

I mention this because the tutorial i used did not mention those modules.

### setup ant 

If not already installed :

<pre>
 apt-get install ant
</pre>

And to take advantage of some ant tasks provides by tomcat, you need to make catalina-ant.jar reachable for ant so just copy it :

<pre>
 sudo cp $CATALINE_HOME/lib $ANT_HOME/lib
</pre>

You will have to find these directories yourself, in my case it was :

<pre>
 sudo cp /usr/share/tomcat6/lib/catalina-ant.jar /usr/share/ant/lib/
</pre>

## development 

Cannot skip to deployment until i have an application. So some hello world would be nice.
I will be using ant, which has some aids in creating directories etc. But you will need a build.xml first.

<pre>
 mkdir myproject
 cd myproject
 wget http://tomcat.apache.org/tomcat-7.0-doc/appdev/build.xml.txt
 mv build.xml.txt build.xml
</pre>

View the build.xml and most importantly search for the catalina.home setting, it has to be set to your installation.
I found mine by looking in /etc/init.d/tomcat6 , where it turned out to be /usr/share/tomcat6. 
After that running 

<pre>
 ant
</pre>

Will create some basic build directories for you.

The basic layout of a project directory should be : 

<pre>
 projectdir
   src
   doc
   web
      WEB-INF
</pre>

So create that with

<pre>
 mkdir src
 mkdir doc
 mkdir web
</pre>

I use the sample app  as a base , so WEB-INF will be create automatically :

<pre>
 cd web
 wget http://tomcat.apache.org/tomcat-7.0-doc/appdev/sample/sample.war 
 jar -xvf sample.war
</pre>

### compilation 

First set some properties needed for compilation and deployment. You can do that in the file build.properties alongside build.xml :

<pre>
 app.path=/hello
 # Tomcat 7 installation directory
 catalina.home=/usr/share/tomcat6
 # Manager webapp username and password
 manager.username=kees
 manager.password=][p][p
 build.sysclasspath=ignore
</pre>

The last entry is to shut-up the warning :

<pre>
 compile:
    [javac] /home/kees/projects/jsp/hello/build.xml:282: warning: 'includeantruntime' was not set, defaulting to build.sysclasspath=last; set to false for repeatable builds
</pre>

## deployment

<pre>
 ant install
</pre>

yep, that's it. the tomcat server's /text service knows where to put the war file with the data from build.properties.
So look at http://localhost:8080/hello

after that however, ant install will complain about already being installed, docs say you should use reload for that :

<pre>
 ant reload
</pre>

But i cannot make that work for now. Here are the task you can use with ant :

<pre>
&lt;!-- Configure the custom Ant tasks for the Manager application --&gt;
  &lt;taskdef name="deploy"    classname="org.apache.catalina.ant.DeployTask"/&gt;
  &lt;taskdef name="install"   classname="org.apache.catalina.ant.InstallTask"/&gt;
  &lt;taskdef name="list"      classname="org.apache.catalina.ant.ListTask"/&gt;
  &lt;taskdef name="reload"    classname="org.apache.catalina.ant.ReloadTask"/&gt;
  &lt;taskdef name="remove"    classname="org.apache.catalina.ant.RemoveTask"/&gt;
  &lt;taskdef name="resources" classname="org.apache.catalina.ant.ResourcesTask"/&gt;
  &lt;taskdef name="roles"     classname="org.apache.catalina.ant.RolesTask"/&gt;
  &lt;taskdef name="start"     classname="org.apache.catalina.ant.StartTask"/&gt;
  &lt;taskdef name="stop"      classname="org.apache.catalina.ant.StopTask"/&gt;
  &lt;taskdef name="undeploy"  classname="org.apache.catalina.ant.UndeployTask"/&gt;
</pre>

So i now use :

 ant remove
 ant install

because that seems to stick. For a shorthand, make this your entry in build.xml

    <target name="reload" depends="compile,remove,install">
    </target>

Of course, rename the old reload target to "reloadbogus" or something.

Physically, your app is now copied to /var/lib/tomcat7/webapps :

<pre>
cd /var/lib/tomcat7
find .
</pre>

gives 

<pre>
...
./webapps/hello
./webapps/hello/WEB-INF
./webapps/hello/WEB-INF/classes
./webapps/hello/WEB-INF/classes/mypackage
./webapps/hello/WEB-INF/classes/mypackage/Hello.class
./webapps/hello/WEB-INF/lib
./webapps/hello/WEB-INF/web.xml
./webapps/hello/images
./webapps/hello/images/tomcat.gif
./webapps/hello/hello.jsp
./webapps/hello/index.html
./webapps/hello/META-INF
./webapps/hello/META-INF/MANIFEST.MF
...
</pre>

Something you could also do by hand yourself as a legitimate way of deployment.

## development 2 (continued) 

The first dev chapter was just to aid deployment, let's dig in some deeper here.

### servlets and jsp pages 

jsp means javaserver pages, and they are html; pages that allow java code to be evaluated inside.
Servlets are server side java applets, and actually jsp pages are converted to servlets :
(source : http://en.wikipedia.org/wiki/JavaServer_Pages)

the .jsp page : 
<pre>
 &lt;%@ page errorPage="myerror.jsp" %&gt;
 &lt;%@ page import="com.foo.bar" %&gt;
 
 &lt;html&gt;
 &lt;head&gt;
 &lt;%! int serverInstanceVariable = 1;%&gt;
 
 &lt;% int localStackBasedVariable = 1; %&gt;
 &lt;table&gt;
 &lt;tr&gt;&lt;td&gt;&lt;%= toStringOrBlank( "expanded inline data " + 1 ) %&gt;&lt;/td&gt;&lt;/tr&gt;
</pre>

becomes the servlet :

<pre>
 package jsp_servlet;
 import java.util.*;
 import java.io.*;
 import javax.servlet.*;
 import javax.servlet.http.*;
 import javax.servlet.jsp.*;
 import javax.servlet.jsp.tagext.*;
 
 import com.foo.bar; // Imported as a result of &lt;%@ page import="com.foo.bar" %&gt;
 import …
 
 class _myservlet implements javax.servlet.Servlet, javax.servlet.jsp.HttpJspPage {
    // Inserted as a
    // result of &lt;%! int serverInstanceVariable = 1;%&gt;
    int serverInstanceVariable = 1;
    …
 
    public void _jspService( javax.servlet.http.HttpServletRequest request,
    javax.servlet.http.HttpServletResponse response )
    throws javax.servlet.ServletException,
    java.io.IOException
    {
        javax.servlet.ServletConfig config = …; // Get the servlet config
        Object page = this;
        PageContext pageContext = ;            // Get the page context for this request
        javax.servlet.jsp.JspWriter out = pageContext.getOut();
        HttpSession session = request.getSession( true );
        try {
            out.print( "&lt;html&gt;\r\n" );
            out.print( "&lt;head&gt;\r\n" );
            // From &lt;% int localStackBasedVariable = 1; %&gt;
            int localStackBasedVariable = 1;
            …
            out.print( "&lt;table&gt;\r\n" );
            out.print( " &lt;tr&gt;&lt;td&gt;" );
            // From &lt;%= toStringOrBlank( "expanded inline data " + 1 ) %&gt;
            out.print( toStringOrBlank( "expanded inline data " + 1 ) );
            out.print( " &lt;/td&gt;&lt;/tr&gt;\r\n" );
        } catch ( Exception _exception ) {
            // Clean up and redirect to error page in &lt;%@ page errorPage="myerror.jsp" %&gt;
        }
    }
 }

</pre>

## troubleshooting

### SEVERE ERROR: Filterstart or listenerstart

Tomcat will just say, that and leave you to it, but you can force a stacktrace when you add a logging.properties file with these contents:

    target/backend/WEB-INF/classes/logging.properties

    org.apache.catalina.core.ContainerBase.[Catalina].level = INFO
    org.apache.catalina.core.ContainerBase.[Catalina].handlers = java.util.logging.ConsoleHandler

And redeploy the war file.


### unable to startup,particularly port 8005

This is the port at whih tomcat listenfor shutdown !!. 
Nevertheless it will hang with :

    Jan 26, 2015 9:05:03 AM org.apache.catalina.core.StandardServer await
    SEVERE: StandardServer.await: create[8005]: 
    java.net.BindException: Cannot assign requested address

Check your /etc/hosts file !!!

This is NOT a problem with the port already beihg used, it is a problem with resolving localhost.

In my case i mistyped localhost :

    172.0.0.1 localhost

Where of course it should be 

    127.0.0.1 localhost

### cannot find tools.jar

Very easy fix : openjdk7-jre was installed but not openjdk7-jdk !

## <a name="maven"></a>maven

This is the setup for the RESTful backend for klopt services. 
Base for this is this mykong example : http://www.mkyong.com/webservices/jax-rs/jersey-hello-world-example/

Setup a new maven projects as "maven-archetype-webapp" it was #777 when i created it : 

I used oracle jdk for this, but i assume openjdk7-jdk will do as well.

    mvn archetype:generate

You could fill in all the questions, but to do it ultra quick : 

    mvn archetype:generate -DgroupId=org.klopt.backend -DartifactId=backend -DarchetypeArtifactId=maven-archetype-webapp -DinteractiveMode=false

It will create this directory structure : 

<pre>
backend/
├── pom.xml
└── src
    └── main
        ├── resources
        └── webapp
            ├── index.jsp
            └── WEB-INF
                └── web.xml
</pre>

So.. no java directory. That is easily fixed with : 

    cd backend
    mkdir -p src/main/java/org/klopt/backend

<pre>
.
├── pom.xml
└── src
    └── main
        ├── java
        │   └── org
        │       └── klopt
        │           └── backend
        ├── resources
        └── webapp
            ├── index.jsp
            └── WEB-INF
                └── web.xml
</pre>

#### pom.xml

We need to set the jersey dependency and also point to the repository. That means adding these sections to the pom.xml file :

    <project ...>
    
    <repositories>
        <repository>
            <id>maven2-repository.java.net</id>
            <name>Java.net Repository for Maven</name>
            <url>http://download.java.net/maven/2/</url>
            <layout>default</layout>
        </repository>
    </repositories>

    <dependencies>
        <dependency>
            <groupId>com.sun.jersey</groupId>
            <artifactId>jersey-server</artifactId>
            <version>1.8</version>
        </dependency>
    </dependencies>
    
    </project>


#### HelloWorldService.java

We call the first one HelloWorldService, so create an HelloWorldService.java with these contents:

    package org.klopt.backend;
     
    import javax.ws.rs.GET;
    import javax.ws.rs.Path;
    import javax.ws.rs.PathParam;
    import javax.ws.rs.core.Response;
     
    @Path("/hello")
    public class HelloWorldService {
     
        @GET
        @Path("/{param}")
        public Response getMsg(@PathParam("param") String msg) {
     
            String output = "Jersey say : " + msg;
     
            return Response.status(200).entity(output).build();
     
        }
     
    }

#### web.xml

Edit the web.xml file and add the service and mapping : 

    <!DOCTYPE web-app PUBLIC
    "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd" >
    
    <web-app>
    <display-name>Archetype Created Web Application</display-name>
    
            <servlet>
                    <servlet-name>jersey-servlet</servlet-name>
                    <servlet-class>
                        com.sun.jersey.spi.container.servlet.ServletContainer
                    </servlet-class>
                    <init-param>
                        <param-name>com.sun.jersey.config.property.packages</param-name>
                        <param-value>org.klopt</param-value>
                    </init-param>
                    <load-on-startup>1</load-on-startup>
            </servlet>
    
            <servlet-mapping>
                    <servlet-name>jersey-servlet</servlet-name>
                    <url-pattern>/rest/*</url-pattern>
            </servlet-mapping>
    </web-app>


Testing this configuration can be done with tomcat, (if installed).

    mvn package
    mvn tomcat:run

If you get an error about the port it could well be that tomcat is already running on that port. You could alter the port by starting it like this :

    mvn -Dmaven.tomcat.port=8181 tomcat:run

But of course this would be bothersome to do each time. You can also do it in the pom.xml file. In the build section, add this plugins section.

    <build>
        <finalName>backend</finalName>
            <plugins>
                    <plugin>
                    <groupId>org.codehaus.mojo</groupId>
                    <artifactId>tomcat-maven-plugin</artifactId>
                    <configuration>
                            <server>tomcat-development-server</server>
                            <port>8181</port>
                    </configuration>
            </plugin>
            </plugins>
      </build>

Now just start with the bare : 

    mvn tomcat:run

Then try browsing to : http://localhost:8080/backend/rest/hello/kees

The last part is an parameter so it should print : 

    Jersey say : kees

### deployment to tomcat

This is from [mykong](http://www.mkyong.com/maven/how-to-deploy-maven-based-war-file-to-tomcat/) again . 

#### setup tomcat

Simply setup tomcat to accept the deployment. I am not sure which are the exact roles needed, because i added all possibilities : 

    <role rolename="tomcat"/>
    <user username="my-user" password="my-password" roles="admin-gui,admin-script,tomcat,admin,manager,manager-script,manager-gui"/>

Mykong says manager-* , the webpage says admin-* , i just added anything i knew.

    systemctl restart tomcat7

Try the webinterface to see at least if you can login with the given credentials: http://localhost:8080/manager

#### maven config 

Edit the file /etc/maven/settings.xml.
Add the server, assign a name, you will need it in pom.xml and set the user and password:

   <server>
      <id>TomcatServer</id>
      <username>my-user</username>
      <password>my-password</password>
    </server>

#### pom.xml

Here you have to setup the server and we need the same section as before for the tomcat test run. After some fiddling it turns out that a section like this works for bit testing and deployment.

    <plugin>
         <groupId>org.codehaus.mojo</groupId>
         <artifactId>tomcat-maven-plugin</artifactId>
         <configuration>
                 <url>http://localhost:8080/manager/text</url>
                 <server>TomcatServer</server>
                 <port>8181</port>
                 <path>/backend</path>
        </configuration>
    </plugin>

So now you can test:

    mvn tomcat:run

Ans browse to : http://localhost:8181/backend/rest/hello/kees

And (redeploy is needed after the first deployment)

    mvn tomcat:deploy
    mvn tomcat:redeploy

And browse to http://localhost:8080/backend/rest/hello/kees

Neat!

