<h1>Troubleshooting</h1>

Just a big heap of problems and mostly solutions. I willl try to divide in some sensible chapters, but the main aim is to make it easily searchable and therefore it is a single html page.

The form will be : 

<h2>chapter</h2>
Some grouping applied.
<h3>problem</h3>
Name or short desciption of the problem.
<h4>symptom</h4>
Mostly error messages or a desciption of the manifestation of the problem.
Also some keywords to aid in searching.
<h4>diagnose</h4>
When known, an explanation of what went wrong, sometimes empty if no cause was found.
<h4>cure</h4>
A short way to solve or sail around the problem, sometimes even empty if th eproblem remains unsolved in hope for better days.

<h2>Hardware</h2>

<h3>problem</h3>

    RTNETLINK answers: File exists

<h4>symptom</h4>
When bringing up network interface. Additional info : this was a virtual machine with a new eth port added after installation. The second port (eth1) gave this message whenever you 'service networking restart'

<h4>diagnose</h4>
This link helped me : http://unix.stackexchange.com/questions/100588/using-ip-addr-instead-of-ifconfig-reports-rtnetlink-answers-file-exists-on-de

<h4>cure</h4>

<pre>
#!bash

ip addr flush dev eth1
</pre>

Restarting the network did work after this flush.

<h2>Software</h2>

<h3>Virtualbox usb</h3>

<h4>symptom</h4>
Big problem on OSX, it grabs the usb before the guest can see it. Very annoying is that if you eject it, the guest will see it for a short time,. then the host grabs it again.

<h4>diagnose</h4>
    
<h4>cure</h4>

The correct way of doing this is simple, but keep this order :

<ol>
<li>plug in the usb stick, so it is in the virtualbox list
<li>create a filter for your VM (powered down) in settings->ports->usb
<li>unplug the usb
<li>startup the vm
<li>plugin the usb stick.
<li>Hopefully OSX will keep it's dirty hands to itself now.
</ol>

<h3>nfs mount</h3>

<h4>symptom</h4>
directory can be mounted but not written to
<h4>diagnose</h4>
/etc/export entries with no ipaddress
<h4>cure</h4>
Having an entry like directory *(rw) fails on the latest debian, altering it to directory (rw) mounts ok, but you cannot write. <br>
It really has to be an entry like directory 192.168.200.0/255.255.255(rw) to be able to mount from more machines

<h3>nfs mount 2</h3>

<h4>symptom</h4>
mount: 10.10.180.45:/rpool/vmwarenfs failed, 
<h4>diagnose</h4>
reason given by server: Permission denied	
<h4>cure</h4>
this was a solaris machine exporting the directory with rw=10.10.0.0/255.255.0.0 but probably the match was given by hostname not ip	so changing it to rw=* worked 

<h3>compiling VRPH-1.0.0</h3>

<h4>symptom</h4> "Need PLPLOT to plot solution".  After issueing  

    ./bin/vrp_rtr -v -f test_instance.vrp -plot -out file

<h4>cure</h4>

    apt-get install libplplot-dev

But that is not enough, you need the alter the make file somewhat like this :

    HAS_PLPLOT= 1
    ifeq ($(HAS_PLPLOT),1)
    PLPLOT_INC_DIR= -I/usr/include/plplot
    PLPLOT_LIB_DIR= -L/usr/lib/ocaml/lib
    #PLPLOT_LIB= -lplplotd -lqsastime -lnistcd 
    PLPLOT_LIB= -lplplotd -lqsastime
    PLDEF=-DHAS_PLPLOT

Of course your location could be different. 
The libnistcd.a could not be found (anywahere), but commenting it revealed that is not needed anyway.

<h2>android</h2>

<h3>
R.java problems
</h3>
When compiling a resource related to the struct R. cannot be found. This can have multiple causes. Please note that you do not need eclipse to regenerate R.javaThere will be a number of s.d.c. sections.

<h4>symptom</h4>
Unresolved symbols related to R.java or class R
<h4>diagnose</h4>
R.java is nowhere to be found, it should be in gen/yourhierarchie/R.java.
<h4>cure</h4>
Run 

    ant clean
    ant release

And look closely at the output, if it says :


     [echo] Handling Resources...
     [aapt] No changed resources. R.java and Manifest.java untouched.

Try 'touch'ing the layout.xml file and try again.

<h4>symptom</h4>
The file R.java is there and seemingly correct, still unresolved member of R. 
<h4>diagnose</h4>
Possibly : 
The package is incorrectly added, i had my source file import 

    import android.R

While R.java clearly said :

    package org.klopt.android.dice;

<h4>cure</h4>
I changed the import to 

    import org.klopt.android.dice.R;

<h3>
not enough space on device when pushing to /system/app
</h3>
<h4>symptom</h4>
not enough space on device when pushing to /system/app
<h4>diagnose</h4>
<h4>cure</h4>
add -partition-size 1024 to the command line options in the debug/run configurations (under target)

<h3>stdlib.h</h3>
<h4>symptom</h4>
ezxml.c:25:20: fatal error: stdlib.h: No such file or directory
<h4>diagnose</h4>
<h4>cure</h4>
Unsolved as yet

<h3>git svn</h3>
<h4>symptom</h4>
git: 'svn' is not a git command. See 'git --help'.
<h4>diagnose</h4>
git svn is a feature of the git-svn package.
<h4>cure</h4>
<pre>
 sudo apt-get install git-svn
</pre>

<h3>Unable to get system library for project</h3>
<h4>symptom</h4>
Unable to get system library for project
<h4>diagnose</h4>
<h4>cure</h4>
Enable one of "project target builds" in projects-&gt;properties-&gt;android
<h3>Hplip printer driver</h3>
<h4>symptom</h4>
On localhost:631 printer queue : 
<pre>
/usr/lib/cups/filter/hpcups failed
</pre>
And no printing is done.
<h4>diagnose</h4>
Unknown cause. see cure
<h4>cure</h4>
Reinstall the printer, delete it first it's pending jobs will be deleted.
Then add it again and retry. Don't forget to enable the printer again (See next point)
<h3>Greyed out print button cups</h3>
<h4>symptom</h4>
When trying to print frmo th eprint dialog, you cannot push the print button.
<h4>diagnose</h4>
The printer has been disabled for some reason
<h4>cure</h4>
Go to "system settings", "printers", "unlock", set the switch to "on".

<h3>Dutch spellcheck openoffice</h3>
<h4>symptom</h4>Language Dutch is an option in openoffice for spelling check, but it simply does nothing. Simple check, right click on an obvious wrong dutch word, there should be an alternative, there is not!
<h4>diagnose</h4>It is not installed in libreoffice, you need at least myspell and l10n dutch for this to work.
<h4>cure</h4>

    Apt-get install openoffice.org-l10n-nl myspell-nl 

<h3>solaris virtualbox resolution</h3>
<h4>symptom</h4>
Solaris resolution remains 1024x768 even after installation of guest additions
<h4>diagnose</h4>
In all probability, choosing the VESA install is what makes it fail. Choose the default "Oracle Solaris 11"
<h4>cure</h4>
Don't use the VESA version, and just do EXACTLY what is descibed <a href="solaris.html#resolution">here</a>
<h3>fullscreen xterm</h3>
<h4>symptom</h4>
You hit some key combination and now xterm is fullscreen (borderless) and impossible to get small again.
<h4>diagnose</h4>
It was ALT-Enter you typed.
<h4>cure</h4>
Type ALT-Enter again to get your normal size back, now it is a feature not an nuisance ;-)
<h3>ingres_connect() failure</h3>
<h4>symptom</h4>
PHP Fatal error:  ingres_connect(): Unable to connect - II_SYSTEM is not defined
<h4>diagnose</h4>
You have not run the environment script for ingres 
<h4>cure</h4>
. /opt/Ingres/IngresII/ingres/.ingIIs
<h3>Unexecutable bash scripts</h3>
<h4>symptom</h4>
A file called bag.sh has been made executable :
<pre>
ls -l bag.sh
</pre>
<pre>
-rwxr-xr-x 1 kees vboxusers 529 Nov  5 17:36 bag.sh
</pre>

Still runnin it gives :
<pre>
./bag.sh
bash: ./bag.sh: Permission denied
</pre>
<h4>diagnose</h4>
The file system it is on was mounted 'noexec'.
<h4>cure</h4>
Edit /etc/fstab and add ,exec to the mount line, or change it to defaults:

<pre>
/dev/sde1   /data       rw,user    defaults    0   0
</pre>

Becomes one of : 
<pre>
/dev/sde1   /data       rw,user,exec    defaults    0   0
/dev/sde1   /data       defaults    defaults    0   0
</pre>


<h3>Frozen web page</h3>

<h4>symptom</h4>
You open up a web page, and the cursor turns to waiting. Also you can not scroll down which is the most annoying thing on earth.
<h4>diagnose</h4>
Last time this happend i got an error message from the flash player. So it is most likely that the flash player is loading stuff for advertisements etc.
<h4>cure</h4>

For now, i tried enableing AdBlock, get back on me with that.
It might be needed to disable flas altogether, and enable it specifically for youtube and google maps.

<h3>google map not filled</h3>
<h4>symptom</h4>
Google maps api, you create a map canvas with map, but it only shows decorations, the zoom bar, google trademark etc, but the rest is a grey screen.
<h4>diagnose</h4>
I particularly used this style setting : 

* { overflow: auto; }

<h4>cure</h4>

Do not use that for all elements, if you need overflow auto , do it for what you need but don't capture the google map like this.
<h3></h3>
<h4>symptom</h4>
<h4>diagnose</h4>
<h4>cure</h4>
<h3></h3>
<h4>symptom</h4>
<h4>diagnose</h4>
<h4>cure</h4>

<h2>Linux</h2>

<h2>Programming</h2>

<h3>what's this .m2 directory under my home ?</h3>
<h4>symptom</h4>
Some program created a .m2 subfolder with jars in it.
<h4>diagnose</h4>
It's maven who created it and uses it
<h4>cure</h4>
None.. leave it there.

<h3>codehilite/markdown cannot display certain code</h3>
<h4>symptom</h4>
Especially this code  :

    #!/usr/bin/perl
    print "Content-Type: text/html\n\n";
    print "Hello");

<h4>diagnose</h4>

There are two \\n characters after text/html, as you need with cgi communication.
It does not print the newlines as \\n\\n but as linebreaks.

<h4>cure</h4>

Escape the \\n with an extra slash : \\\\\\n.
Fun fact: to actually get that \\\\\\n, i had to use 6 slashes to get it through markdown.

<h2>General</h2>

<h2>Databases</h2>

<li><a href="memory.html">Memory</a></li>

<h2>mysql</h2>

<h4>symptom</h4>

    MySQL: Access denied for user debian-sys-maint@localhost

Even for a simple:

    /etc/init.d/mysql status

<h4>diagnose</h4>
Debian/ubuntu resets the maintenance password with each update, but consequently keeps reading the file : 

    /etc/mysql/debian.conf

To get the password, now out-of-date.

<h4>cure</h4>

Open /etc/mysql/debian.conf and copy the password, then :

    GRANT ALL PRIVILEGES ON *.* TO 'debian-sys-maint'@'localhost' IDENTIFIED BY 'n4aSHUP04s1J32X5';
    FLUSH PRIVILEGES;
    
Of course that should be the password you copied

<h4>symptom</h4>

terminate called after throwing an instance of 'std::runtime_error'
  what():  locale::facet::_S_create_c_locale name not valid
Aborted

<h4>diagnose</h4>

Wrong locale setting

<h4>cure</h4>

export LC_ALL=en_US.utf-8
