# Utilities


## screen

To reattach to a session. One problem is that if you scroll up using page up-down, you scroll into the session before screen.
To really scroll through the screen buffer, use ctrl-a [

This is called 'copy-mode' but if you now use the arrow keys you scroll through the screen buffer, not you previous sesssion.

## ss

To display information about sockets , show sockets ?

Anywayzz :

 ss -ntap 

 -n numbers instead of service names
 -t tcp 
 -a all sockets
 -l would be only listening sockets
 -p print process that uses the socket


## nmap

To find out the hard way to see what servers are running in a network segment you can do : 

    nmap -v -sP 10.10.0.0/16 &gt; dump

... and get a cup of coffee...

## pwgen

Easy generator for password that are easy to remember for humans.

    apt-get install pwgen
    pwgen

Some tweaking can be done , for instance longer passwords and rules about numberas and capitals. The default is 8 characters but you could make :

    pwgen -0 -A 20

For passwords with no numbers and no capitals, 20 characters long : 

## pwqgen

Even better : 

    apt-get install passwdqc
    pwqgen

You will get passwords like : 

    bump4Ordeal=Trial
    Sneak$male=Other

And my all time favourite : 

    invent2lick_Neatly

For overall safety, i ran this through howsecureismypassword.

* pwgen standard, 8 digits (iequ1Zee) gives 15 hours protection
* pwgen 10 , 10 digits (fai7aquieV) gives 6 years protection
* pwqgen, 18 digits (Fuzzy4venice_pierce) : 5 quintillion years

So this all depends on how lazy you are, or how frustrated you get when you mistype a password. 

For this i did a test on weather backspace work within a password entry :

* ssh : yes
* main login screen linux : untried yet
* windows : untried yet

## ink

    ink -p usb -n 0

<pre>
ink 0.5.2 (c) 2015 Markus Heinz

HP Deskjet 9800

Black:                                   0%
Color:                                   0%
</pre>

Ok not helpfull but it works.

And the other printer : 

    14:56 $ ink -p usb -n 1

<pre>
ink 0.5.2 (c) 2015 Markus Heinz

EPSON Stylus Photo RX420

Cyan:                                  100%
Magenta:                               100%
Yellow:                                100%
Photoblack:                            100%
</pre>

## grep

Some option you might want to permenantly add to your search line :

    grep -sIr something .

* -s : be silient about files that cannot be opened like acces rights
* -I : do not include binary files 
* -r : recursive search

## unrar

Simple tip: do not install unrar-free, it does not work : 

    apt-get install unrar

## <a id="ctags">Ctags</a>

### java ctags

Ctags can be used for java, with one problem, that it uses dot notation which you want to be resolved as well.
If you use ctags normally :

 ctags -R src

You get entries like :

<pre>
!_TAG_FILE_FORMAT   2   /extended format; --format=1 will not append ;" to lines/
!_TAG_FILE_SORTED   1   /0=unsorted, 1=sorted, 2=foldcase/
!_TAG_PROGRAM_AUTHOR    Darren Hiebert  /dhiebert@users.sourceforge.net/
!_TAG_PROGRAM_NAME  Exuberant Ctags //
!_TAG_PROGRAM_URL   http://ctags.sourceforge.net    /official site/
!_TAG_PROGRAM_VERSION   5.8 //
ADMIN   src/com/deal/planner/shared/bean/Perspective.java   /^  COORDINATOR, RECIPIENT, SENDER, ADMIN, DRIVER$/;"   e   enum:Perspective    file:
ANDMap  src/com/deal/planner/server/map/ANDMap.java /^public class ANDMap implements Map {$/;"  c
ANDMapOutput    src/com/deal/planner/server/map/ANDMapOutput.java   /^  public ANDMapOutput(){$/;"  m   class:ANDMapOutput
ANDMapOutput    src/com/deal/planner/server/map/ANDMapOutput.java   /^public class ANDMapOutput {$/;"   c
ANDMapStatus    src/com/deal/planner/server/map/ANDMapStatus.java   /^  public ANDMapStatus(){$/;"  m   class:ANDMapStatus
ANDMapStatus    src/com/deal/planner/server/map/ANDMapStatus.java   /^public class ANDMapStatus {$/;"   c
....
getJSON src/com/deal/planner/server/map/ANDMap.java /^  private ANDMapOutput getJSON(String url, String param) {$/;"    m   class:ANDMap    file:
getJSON src/com/deal/planner/server/map/XMap.java   /^  private XMapOutput getJSON(String url, String param) {$/;"  m   class:XMap  file:
</pre>

But if you use the special flag :

 ctags -R --extra=+q src/

It looks like :

<pre>
!_TAG_PROGRAM_AUTHOR    Darren Hiebert  /dhiebert@users.sourceforge.net/
!_TAG_PROGRAM_NAME  Exuberant Ctags //
!_TAG_PROGRAM_URL   http://ctags.sourceforge.net    /official site/
!_TAG_PROGRAM_VERSION   5.8 //
ADMIN   src/com/deal/planner/shared/bean/Perspective.java   /^  COORDINATOR, RECIPIENT, SENDER, ADMIN, DRIVER$/;"   e   enum:Perspective    file:
ANDMap  src/com/deal/planner/server/map/ANDMap.java /^public class ANDMap implements Map {$/;"  c
ANDMap.getDistance  src/com/deal/planner/server/map/ANDMap.java /^  public long getDistance(Address from, Address to) {$/;" m   class:ANDMap
ANDMap.getDistance  src/com/deal/planner/server/map/ANDMap.java /^  public long getDistance(Location from, Location to) {$/;"   m   class:ANDMap
ANDMap.getJSON  src/com/deal/planner/server/map/ANDMap.java /^  private ANDMapOutput getJSON(String url, String param) {$/;"    m   class:ANDMap    file:
XMap.getDistance    src/com/deal/planner/server/map/XMap.java   /^  public long getDistance(Location from, Location to) {$/;"   m   class:XMap
XMap.getJSON    src/com/deal/planner/server/map/XMap.java   /^  private XMapOutput getJSON(String url, String param) {$/;"  m   class:XMap  file:
</pre>

You can now use (in vim) 

 :tag XMap.getDistance

In the plain ctags file you would always go to the first 'getDistance' encountered. However, it is kind of annoying in normal search mode.

### inside vim

However the CTRL-5 (CTRL-]) option jumps to a tag under the cursor, and the dot '.' is not part of a keyword in the default setup.
You steer this with the iskeyword setting , default is :

<pre>
 iskeyword=@,48-57,_,192-255
</pre>

Which is ok for c, but add this to ~/.vimrc for java development

<pre>
 set iskeyword=@,48-57,_,192-255,.
</pre>

Now you can push ctrl-] anywhere on 'XMap.getDistance' and you will go to the correct member.

### tree

For dumping a directory tree : 
<pre>
apt-get install tree
tree
</pre>

I have had a problem where tree does not show unicode characters :
This occurs when you have the LANG environment variable wrong : 

<pre>
export LANG=en_US.UTF-8 
tree
</pre>

Will produce :

<pre>
.
&#9500;&#9472;&#9472; __init__.py
&#9500;&#9472;&#9472; __init__.pyc
&#9500;&#9472;&#9472; settings.py
&#9500;&#9472;&#9472; settings.pyc
&#9500;&#9472;&#9472; urls.py
&#9500;&#9472;&#9472; urls.pyc
&#9500;&#9472;&#9472; wsgi.py
&#9492;&#9472;&#9472; wsgi.pyc
</pre>

<pre>
export LANG=en_US.utf8
tree
</pre>

Will give :

<pre>
.
|-- __init__.py
|-- __init__.pyc
|-- settings.py
|-- settings.pyc
|-- urls.py
|-- urls.pyc
|-- wsgi.py
`-- wsgi.pyc
</pre>

utf8 is most probably a wrong code, i changed it for user kees dec 2013.
There is discussion that utf8 is used only where a dash (-) is not allowed. 
But the standard definitely seems to be UTF-8 (capitols AND dash).

## <a id="eclipse">eclipse</a>

### getting a stack trace on every exception

On the breakpoints tab (in debug view), you see a button called "J!", this is where you can enter breakpoints for events.
You have to add all exceptions you wish to catch, so i took the most general one "Exception" and added that.

Untested ... yet, had no exceptions... yet ;)

## <a id="omega">Xapian omega</a>

This is a tool for searching a local site, the search bar on this site uses it.
Installation is straightforward : 

<pre>
apt-get install xapian-omega
</pre>

The executable will directly be placed in a /usr/lib/cgi-bin/omega and usable on your site. However you will first have to create your database first.

I only got it to work in the directory /var/lib/xapian-omega/data/default for some reason. And the 'default' part did not exist so : 

<pre>
sudo mkdir /var/lib/xapian-omega/data/default
sudo chmod -R 644 /var/lib/xapian-omega/data/default
sudo omindex --db /var/lib/xapian-omega/data/default --url /web /var/www/web
</pre>

Yes.. i only got this all working as root, sorry.

omindex generates the index database in the given --db path.
The first part of --url is the relative path you would use on your website, the second is a physical directory on the system where the files are.

Most probably you need to alter the file /etc/omega.conf to point to the correct directories. Test it from the command line : 

<pre>
/usr/lib/cgi-bin/omega/omega
</pre>

It will prompt for a search term, so on this site "network" would give some result. The output will be html, but if there is an error it will show clearly.

If it works, try it as a cgi-bin program. <a href="http://localhost/cgi-bin/omega/omega">"http://localhost/cgi-bin/omega/omega"</a>

The documentation says to put the omega.conf file into /usr/lib/cgi-bin/omega, but it seems to work fine with the file in /etc only.

## <a id="vc">Visual C++</a>

This is mainly about visual studio 2008.

currently needed for programming windows mobile 5.0 / 6.5.

### getting F4 to work

I used to have F4 go to the next error after compilation, but that failed. 
You can however restore the (correct) setting by choosing :

<pre>
 Tools -> options -> keyboard -> Apply the following additional keyboard mapping scheme -> visual c++ 6 
</pre>

Now remember microsoft ... do it right the first time or DO NOT CHANGE .

### no printf output in the console

Or the "output" window of visual C++. It seems the 2003 pocketpc version does not send the output of printf there, but the 2005 version '''does'''
You can see when you switch the platform (at the top of the properties page) you get another emulator as well. 

So take the mobile 5.0 pocketpc version or higher !!

#### alternative

Or.. if you need the smartphone version you might try opening the serial console because i saw that my printf()'s went to that window as well (untried on smartphone emulator)

<ul>
<li>emulator config file -> configure ->peripherals tab -> enable "create console window for serial port 1"
</ul>

### smarthphone vs pocketpc

Actually let's take all microsoft's flavours :

<ul>
<li>SmartPhone : a phone with some extras , usually no touchscreen
<li>Pocket PC : a PDA with no phone, and WITH a touchscreen
<li>Pocket PC Phone Edition : a pocket pc with phone functionality built into it
<li>Portable Media Center :  basically a portable music and video player
</ul>

The HC700 is not a phone and it has a stylus/touchscreen so it must be a pocketpc.

## aptitude

Know when to use apt-get and when to use aptitude. For searching it would recommend aptitude, because it also supports wildcards (perl-style regular expression). For instance when seraching python modules, you will be clicking next a lot if you search on 'python' when looking for a module. <br>
Try instead, if you for instance look for a module with gl in it for :

<pre>
python-.*gl.*
</pre>

Though gl is a very noisy term, the choices are reduced to about 30. Which you can scan for the one you search for easily.

### when not to use

Those instances where you want to deinstall one item and aptitute attempts to whipe the complete gnome installation. It is because that item was part of a meta-package. In those cases : quit aptitude and use apt-get, it will be more chirurgical and after that aptitude will behave again as well.

<b>NEVER, hit g g in a row in aptitude !!, there is no way of stopping it destroying your system. Hit g : THEN EXAMINE</b>

### Searching the package descriptions

Normally, when you hit '/' in the interface you serachterm will only applu to the package titles. If you want to search the package descriptions as well, type ~d before the search term, for instance :

 ~d VRP

(did not find anything ;)

 
## pass

Can be installed easily with brew, apt or yum:

	yum install pass
	apt-get install pass
	brew install pass

As far as i know everything works fine. But look at the next chapter for a very handy extension.
For instance this allows you to use tab completion from anywhere, since pass contains a bash completion file on install. So 

	pass [tab]

Will show the commands : 

	cp        find      git       help      insert    ls        rinis//   show
	edit      generate  grep      init      kees//    mv        rm        version

But also as you notice the entries in .password-store, you can tab some more to complete a key etc. 
But watch out for the show command : it will leave a password visible on the screen. 

On iterm or xterm clear is not enough !! (just scroll up) 

On iterm cmd-k seems to do the job, on xterm allegedly reset works. 


### troubleshooting 

#### pinentry failed to open DISPLAY

This suddenly happend to me probably because of an update. It tries to use pinentry to get passwords. That's ok, but not the GTK version. !
This can be altered the hard way by changing the link to /usr/bin/pinentry. However, this seems to be a link to the /etc/alternatives directy.
So you have to alter the link there (or find out how to use alternatives) , change the link from /usr/bin/pinentry-gtk to /usr/bin/pinentry-curses and at least you can go non-GUI again.

Update: found out how to use alternatives, but i can't say it's any easier. It's called update-alternatives, and you can list the options with :

    update-alternatives --list pinentry                                                                                                          
    /usr/bin/pinentry-curses                                                                                                                                            
    /usr/bin/pinentry-gtk-2   

But switching is not much easier than the ln command : 

    update-alternatives --set pinentry /usr/bin/pinentry-curses



