# introduction

Vagrant is an easy way to setup and configure system images for virtualbox, but also AWS (amazon). So for cloud deployment this is a very interesting package.

## virtualbox

Simplest version and free of course. Normally you start in a separate directory : 

<pre>
mkdir test
cd test
vagrant init hashicorp/precise32
vagrant up
vagrant ssh
vagrant destroy
</pre>

This downloads an image from https://atlas.hashicorp.com/hashicorp/precise32.
So it is clear the image is taken from https://atlas.hashicorp.com/ and it has to exist. 
This particular example is an ubuntu (precise pangolin) 32 bits image. See the page in question for your options :

<a href="https://atlas.hashicorp.com/hashicorp">https://atlas.hashicorp.com/hashicorp</a> 

It simply says : "We make Vagrant, Vagrant Cloud, and other products." So be it....

<a href="https://atlas.hashicorp.com/search">or search it : https://atlas.hashicorp.com/search</a> 

The vagrant up then does everything, download the image, startup a new vbox image.
vagrant ssh log's you in, if you need root acces, do 'sudo su'
vagrant destroy removes the whole thing without a trace (almost: Vagrantfile remains).

If you look at the Vagrantfile created in this directory by vagrant init , there is a lot of comments, and actually only one plain line :

    config.vm.box = "hashicorp/precise32"

Of course this is the reference to the image, another example could be : 

  config.vm.box = "opscode-centos6.6"
  config.vm.box_url = "http://opscode-vm-bento.s3.amazonaws.com/vagrant/virtualbox/opscode_centos-6.6_chef-provisionerless.box"

In this case, the url also has to be given, see the amazon section about this version.
Another entry we like is the network interface

    config.vm.network "private_network", ip: "192.168.33.10" 

Vagrantfile is in ruby style, so you might see constructs like 

    Vagrant.configure(2) do |config|
    end

See ruby docs about that. In short, do..end is a code block, or closure. And they must follow a method invocation. So that's the configure() in this case. Inside this method the code block called using the yield keyword with a parameter soecifiying the config parameter between ||.

If you want the provisioning be done with ansible you could end up with this minimal Vagrantfile :

    VAGRANTFILE_API_VERSION = "2"
    
    Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
        config.vm.box = "ubuntu/trusty64"
    
        config.vm.network "forwarded_port", guest: 80, host: 8080
     
        config.vm.provision :ansible do |ansible|
            ansible.playbook = "playbook.yml"
        end
    end

## creating your own boxes 

This is described here : https://docs.vagrantup.com/v2/virtualbox/boxes.html
but.. it directly states that this is a tedious process, and i surely opt for the alternative, which is to get a default box and extend it to my own needs. 

This is very simple : source https://scotch.io/tutorials/how-to-create-a-vagrant-base-box-from-an-existing-one

First vagrant up the box you need to extend, and go ehead installing software etc. After you are satisfied, perform these steps : 

### make the box as small as possible 

 sudo apt-get clean

<b>However:</b> It does seem to be good practice but the first thing you will have to do is a apt-get update the get the cache back.

I therefore chose not to clean the cache and leave my box as-is
 
### repackage the box

You could now bring doewn the box (halt !!, not destroy!!), but the next command will do that anyway :

 vagrant package --output mynew.box

The file can ne anywhere on the system, this command puts it into the current working directory, in the next step the place is remembered so you might want to move it to 
a common location. The other boxes where in : 

 mv mynew.box ~/.vagrant.d/boxes

### Add the box to your vagrant install 

 vagrant box add mijnbox ~/.vagrant.d/boxes/mynew.box 

### Alter the box in your vagrant file : 

 ..
 config.vm.box = "mijnbox"
 ..

And vagrant up your new box.

## amazon


## troubleshooting


### symptom ... sorry fill this from google docs, we don't have newlines after paste :

Bringing machine 'default' up with 'virtualbox' provider... ==> default: Checking if box 'box-cutter/centos70' is up to date... ==> default: Clearing any previously set forwarded ports... ==> default: Clearing any previously set network interfaces... ==> default: Preparing network interfaces based on configuration...     default: Adapter 1: nat     default: Adapter 2: hostonly ==> default: Forwarding ports...     default: 22 => 5538 (adapter 1) ==> default: Running 'pre-boot' VM customizations... A customization command failed:  ["createhd", "--filename", "./sdb.vdi", "--size", 512000]  The following error was experienced:  #<Vagrant::Errors::VBoxManageError: There was an error while executing `VBoxManage`, a CLI used by Vagrant for controlling VirtualBox. The command and stderr is shown below.  Command: ["createhd", "--filename", "./sdb.vdi", "--size", "512000"]  Stderr: 0%... Progress state: VBOX_E_FILE_ERROR VBoxManage: error: Failed to create medium VBoxManage: error: Could not create the medium storage unit '/Users/keesklop/projects/ansible/consolidate/co/playbook-repo/./sdb.vdi'.

### diagnose
### cure



### symptom

    GATHERING FACTS *************************************************************** 
    fatal: [127.0.0.1] => SSH encountered an unknown error during the connection. We recommend you re-run the command using -vvvv, which will enable SSH debugging output to help diagnose the issue
    
Just after starting vagrant up. The -vvvv will not do anything.

### diagnose

Unknown, i only added an appearant cure.

### cure

Add aline to map the port (usefull if you want to steer ports ayway) :

  config.vm.network "private_network", ip: "192.168.33.10"

becomes :

  config.vm.network "private_network", ip: "192.168.33.10"
  config.vm.network "forwarded_port", guest: 22, host: 2223, id: "ssh", auto_correct: true


## VBox guest additions

This turned out easier than suspected : 

<pre>
 vagrant plugin install vagrant-vbguest 
 vagrant vbguest
</pre>

Yep... it's done

see : https://github.com/dotless-de/vagrant-vbguest
