<h1>Web programming</h1>

<h2><a id="python">Python</a></h2>

Python can be used embedded in apache like php, but with % tags.

<h2>installation </h2>

There are two different methods, mod_python.psp (python server pages) that use a php like construct.
And using your own handler.

<h3>psp </h3>

Very terse !!

<pre>
 apt-get install apache2-mod-python
</pre>
 
<pre>
 /vim /etc/apache2/sites-enabled/default
</pre>

Add the top so it will look something like :

<pre>
 ...
 ServerAdmin webmaster@localhost
 DocumentRoot /path/to/your/sites/files
 AddHandler mod_python .py
 PythonHandler mod_python.psp
 PythonDebug On
 ...
</pre>

<pre>
 /etc/init.d/apache restart
</pre>

<h2>testing </h2>

Now tryout a file in your docuymentroot like :

<pre>
 &lt;%= "Hello world %&gt;
</pre>

<h3>writing the handler </h3>

Add a section like this to /etc/apache2/sites-enabled/default.
Or another appropriete location.

<pre>
&lt;Directory /var/www/report&gt;
     AddHandler mod_python .py
     PythonHandler watch
     PythonDebug On
&lt;/Directory&gt;
</pre>

This means for all scripts with the .py extension under /var/www/report (<b>absolute path</b>) use mod_python.
And in particular run the watch.py script. :

 from mod_python import apache
 def handler(req):
    req.content_type = "text/plain"
    req.write("Hello World!")
    return apache.OK

Actually now any url you end in .py will work, http://localhost/report/watch.py but also /blerk.py even if it does not exits.

