<h1>Zaptel</h1>

digium cards and zaptel driver

<h2>installation</h2>

<pre>
 apt-get install zaptel-source
 cd /usr/src/
 tar -jxvf zaptel.tar.bz2
 cd modules/zaptel 
 apt-get install asterisk
</pre>

<h3>etch</h3>

The last time i had to install a zap card on etch, not everything went automatically, so here is a small guide :<br>
<br>
The main problem seems to be that etch is installed with a 2.6.17 kernel, but alle headers and sources you can install through apt are 2.6.18. So either you find a site where the correct headers are presented or if you are lazy like me you install the new kernel through apt-get. Not however that you need the package linux-image-2.6.18-4-486 not kernel-2.6.18-4 etc.<br>
<br>
After installation /upgrade you have to reboot, so take a quick look at /boot/grub/menu.lst sto see if the installation created the correct entries there.<br>
<br>
After reboot you can now install the zaptel drivers :

<pre>
 apt-get install zaptel-source
 cd /usr/src
 tar -jxvf zaptel.tar.bz2
 cd modules/zaptel
 m-a
</pre>

M-a is the module assistent, it geives you a grpahical menu wher you can get the needed headers and build the modules. I did it through the menu, but i would guess that :

<pre>
 m-a prepare zaptel
 m-a build zaptel 
</pre>

Probably works !?

<h2>troubleshooting</h2>

<table border="1">
<tr>
<th>symptom	
<th>cause	
<th>cure
<tr>
<td>two digium cards interconnected constantly say Master Changed to WTC1/1 (WTC1/0)	
<td>they are constantly mistiming	
<td>set only one of these cards to be the timing source in /etc/zaptel.conf, in the line span=1,1,0,ccs,hdb3,crc4 the second '1' says it is the main timing source, the other span should have a zero there (span=2,0,...)
<tr>
<td>cat /proc/zaptel/1 lists only 24 channels	
<td>driver thinks this is an american (T1) card	
<td>digium quad cards are delivered in the t1 state, it can be switched by setting 4 jumpers on the card to E1, the european standard
</table>
