# Introduction 

This is the documentation section for klopt.org, it was born out of frustration with this particular problem :<br>
<br>
"I remember this problem from before, but what was the solution ?"<br>
<br>

I have started documenting anything worthwhile since then, and i only delete a section when i know it to be false, or have found a better solution. 

## Disclaimers

So .. there might be some real old stuff in there. Also, i hate documenting as much as you do, so to be done with this evil it's mostly type it and go on so : there WILL be typo's.....<br><br>
Do not assume this to be a tutorial of some sort, though some pages are set up that way. Many pages just state a problem with quick solution and that is it.

# Searching

Navigate through the menu's on the left, or do a search to find topics. 
* Using more words effectively results in searching for each word (Search for word1 AND word2). 
* But using quotes around multiple words searches for the exact phrase (Search for "word1 word2" exactly).

# linking

As a consequence of the way wsgi scripts are supposed to be linked to directories instead of hostnames, i gave up and put the documentation site at /doc.

So if you want to include a link to a localpage, do it like this, and remember to NOT add the .html !

<pre>
    &lt;a href=/doc?page=top&gt;this page&lt;/a&gt;
</pre>
<a href=/doc?page=top>this page</a>
