@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-drnpc3');
	src:url('fonts/icomoon.eot?#iefix-drnpc3') format('embedded-opentype'),
		url('fonts/icomoon.woff?-drnpc3') format('woff'),
		url('fonts/icomoon.ttf?-drnpc3') format('truetype'),
		url('fonts/icomoon.svg?-drnpc3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-connection:before {
	content: "\e600";
}
.icon-barcode:before {
	content: "\e601";
}
.icon-credit:before {
	content: "\e602";
}
.icon-phone:before {
	content: "\e603";
}
.icon-pushpin:before {
	content: "\e604";
}
.icon-history:before {
	content: "\e605";
}
.icon-calendar:before {
	content: "\e606";
}
.icon-mobile:before {
	content: "\e607";
}
.icon-mobile2:before {
	content: "\e608";
}
.icon-tablet:before {
	content: "\e609";
}
.icon-bubble:before {
	content: "\e60a";
}
.icon-bubbles:before {
	content: "\e60b";
}
.icon-bubbles2:before {
	content: "\e60c";
}
.icon-spinner:before {
	content: "\e60d";
}
.icon-spinner2:before {
	content: "\e60e";
}
.icon-expand:before {
	content: "\e60f";
}
.icon-key:before {
	content: "\e610";
}
.icon-lock:before {
	content: "\e611";
}
.icon-unlocked:before {
	content: "\e612";
}
.icon-cog:before {
	content: "\e613";
}
.icon-cogs:before {
	content: "\e614";
}
.icon-cog2:before {
	content: "\e615";
}
.icon-stats:before {
	content: "\e616";
}
.icon-bars:before {
	content: "\e617";
}
.icon-gift:before {
	content: "\e618";
}
.icon-remove:before {
	content: "\e619";
}
.icon-airplane:before {
	content: "\e61a";
}
.icon-truck:before {
	content: "\e61b";
}
.icon-road:before {
	content: "\e61c";
}
.icon-tree:before {
	content: "\e61d";
}
.icon-cloud:before {
	content: "\e61e";
}
.icon-earth:before {
	content: "\e61f";
}
.icon-eye:before {
	content: "\e620";
}
.icon-eye-blocked:before {
	content: "\e621";
}
.icon-cancel-circle:before {
	content: "\e622";
}
.icon-checkmark-circle:before {
	content: "\e623";
}
.icon-play:before {
	content: "\e624";
}
.icon-pause:before {
	content: "\e625";
}
.icon-stop:before {
	content: "\e626";
}
.icon-backward:before {
	content: "\e627";
}
.icon-forward:before {
	content: "\e628";
}
.icon-arrow-up-left:before {
	content: "\e629";
}
.icon-arrow-up:before {
	content: "\e62a";
}
.icon-arrow-up-right:before {
	content: "\e62b";
}
.icon-arrow-right:before {
	content: "\e62c";
}
.icon-arrow-down-right:before {
	content: "\e62d";
}
.icon-arrow-down:before {
	content: "\e62e";
}
.icon-arrow-down-left:before {
	content: "\e62f";
}
.icon-arrow-left:before {
	content: "\e630";
}
.icon-arrow-up-left2:before {
	content: "\e631";
}
.icon-arrow-up2:before {
	content: "\e632";
}
.icon-arrow-up-right2:before {
	content: "\e633";
}
.icon-arrow-right2:before {
	content: "\e634";
}
.icon-arrow-down-right2:before {
	content: "\e635";
}
.icon-arrow-down2:before {
	content: "\e636";
}
.icon-arrow-down-left2:before {
	content: "\e637";
}
.icon-arrow-left2:before {
	content: "\e638";
}
.icon-arrow-up-left3:before {
	content: "\e639";
}
.icon-arrow-up3:before {
	content: "\e63a";
}
.icon-arrow-up-right3:before {
	content: "\e63b";
}
.icon-arrow-right3:before {
	content: "\e63c";
}
.icon-arrow-down-right3:before {
	content: "\e63d";
}
.icon-arrow-down3:before {
	content: "\e63e";
}
.icon-arrow-down-left3:before {
	content: "\e63f";
}
.icon-arrow-left3:before {
	content: "\e640";
}
.icon-scissors:before {
	content: "\e641";
}
.icon-table:before {
	content: "\e642";
}
.icon-mail:before {
	content: "\e643";
}
.icon-google-drive:before {
	content: "\e644";
}
.icon-tux:before {
	content: "\e645";
}
.icon-apple:before {
	content: "\e646";
}
.icon-finder:before {
	content: "\e647";
}
.icon-android:before {
	content: "\e648";
}
.icon-windows:before {
	content: "\e649";
}
.icon-windows8:before {
	content: "\e64a";
}
