body {
    margin: 0;
    padding: 0;
    
    font-weight: bold;
    font-family:"adelle",Georgia,"Times New Roman",serif;
    color: #5E545C;

    font-size: 14px !important;
    background: white;
    height: 100%;
}   

.scorediv {
    border: 1px #444444 solid;
    position: relative;
    width: 80px;
    height: 20px;
}
#div_b {
    background: #4444dd;
    color: #dddddd;
}

#div_o {
    background: #edae40;
}

#div_w {
    background: #ffffff;
}

#div_l {
    background: #e3d6b4;
}

#div_p {
    background: #e5478d;
}

#div_r {
    background: #5e4211;
    color: #dddddd;
}

#textbox { 
    width: 600px; 
} 

#output { 
    height:100px; 
    width: 600px; 
    background: lightgrey; 
    display: scroll;
} 

#gamecanvas { 
    background: grey; 
    height:400px; 
    width: 600px; 
    top: 40px;
    left: -405px;
} 
